<div class="calendar_wrapper">
    <div class="calendar_top">
        <table class="calendar_top_table">
            <tr>
                <td>
                    <div class="calendar_lists">
                        <div class="wrapper">
                            <div class="title">Мои списки задач</div>
                            <div class="calendar_lists_wrapper">
                                <div class="list-tasks-body">
                                    <ul class="colors">
                                        <li ng-class="{active: checkListsExclude(list)}" data-color="{{list.color}}" ng-repeat="list in preferences.lists" ng-click="toggleListsExclude(list);">{{list.own_title}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="calendar_datepicker_wrapper_td">
                    <div class="calendar_datepicker_wrapper">
                        <div ui-date="datepickerOptions" name="calendarDatepicker"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="calendar_body">
        <div class="calendar">
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="sit2bCalendar" style="height: 100%; position: relative; width: 100%;"></div>
        </div>
    </div>
</div>