<div class="popup notifications" id="comments">
    <div class="popup_header">
        <div class="title">Комментарии  <span ng-show="comments.new.length">(новых: {{comments.new.length}})</span></div>
        <!--<a href="#" class="menu"></a>-->
        <a class="close" ng-click="close()"></a>
    </div>
    <div class="popup_content">
        <div>
            <h5 ng-show="!comments.all.length" class="text-center">Нет комментариев</h5>
            <div ng-class="{active: !comment.log.viewedLog}" class="notification" ng-repeat="comment in comments.all" on-last-repeat>
                <div class="clear">
                    <div class="notification_ico user"><img ng-show="comment.user.photo" ng-src="{{apiHost + comment.user.photo}}"/><span></span></div>
                    <div class="notification_info">
                        <div class="notification_username">{{getCommentUsername(comment.user)}}</div>
                        <div class="notification_date">{{getCommentDate(comment.created)}}</div>
                        <div class="notification_title">{{comment.task.title}}</div>
                        <div class="notification_text">{{comment.text}}</div>
                        <div><a ui-sref="dashboard.start.task({id: comment.task_id})" class="read_more">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>