<div class="popup modal" id="confirm">
    <div class="popup_header">
        Внимание!
    </div>
    <div class="popup_body">
        <br>{{question}}<br><br>
    </div>
    <div class="popup_footer">
        <div class="clear">
            <button class="cancel" ng-click="cancel()">Нет</button>
            <button type="submit" ng-click="ok()">Да</button>
        </div>
    </div>
</div>