<div ui-view="task-form"></div>

<div ui-view="sidebar" class="left-bar"></div>

<div class="right-bar">
    <header ui-view="topnav"></header>
    <div class="body">
        <div class="work-bar" ng-class="{'two-col': showCalendar && showLists}">
            <div ui-view="calendar" id="calendar" ng-class="{active: showCalendar}" ></div>
            <div ui-view="lists" class="lists" id="lists" ng-class="{active: showLists}" ></div>
        </div>
    </div>
</div>