<div class="dropdown">
    <button  type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
        <div class="dropdown_value" data-value="{{current_value}}" ng-bind-html="current_label"></div>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation" data-value="{{option.value}}" ng-repeat="option in options | orderBy:'position'" ng-bind-html="option.label"></li>
    </ul>
</div>