<div class="clear">
    <input type="number" name="hours" min="0" ng-model="duration.hours" ng-change="form.durationChanged()">
    <input type="number" name="minutes" max="60" min="0" ng-model="duration.minutes" ng-change="form.durationChanged()">
</div>