<div class="popup list_share">
    <div class="popup_header">
        Настройки доступа к списку "{{listProps.own_title != '' ? listProps.own_title : listProps.title}}"
    </div>
    <form>
        <div class="popup_body">
            <div>
                <label>Владелец</label>
                <div class="list-user">
                    <div class="list-user-ava">
                        <img ng-show="listOwner.photo"  ng-src="{{apiHost + listOwner.photo}}" />
                    </div>
                    <div class="list-user-name">{{listOwner.firstname}} {{listOwner.lastname}}</div>
                    <div class="list-user-email">{{listOwner.email}}</div>
                </div>
                <label ng-show="form.members.length">Общий доступ</label>
                <div class="list-user" ng-repeat="(key, member) in form.members">
                    <div class="list-user-ava"><img ng-show="member.photo"  ng-src="{{apiHost + member.photo}}" /></div>
                    <div class="list-user-name">{{member.firstname}} {{member.lastname}}</div>
                    <div class="list-user-email">{{member.email}}</div>
                    <a class="delete" ng-click="form.deleteMember(member.id)"></a>
                </div>
            </div>

            <label>Добавить пользователя</label>
            <div class="dropdown" id="list-members">
                <input type="text" placeholder="Введите имя или адрес электронной почты"
                       ng-model="form.newMember" ng-click="form.memberlistScrollInit()" />
                <button data-toggle="dropdown">&darr;</button>
                    <div class="clear" ng-if="form.validateEmail(form.newMember) || form.selectedUser">
                        <div class="checkbox ng-pristine ng-untouched ng-valid" frz-checkbox="" frz-true="1" frz-false="0" ng-model="form.notify">
                            <label class="btn">
                                <input type="checkbox" ng-model="form.notify"> Оповестить на e-mail
                            </label>
                        </div>
                        <button type="button" ng-click="form.addMember(form.newMember)">Добавить</button>
                    </div>
                    <ul class="dropdown-menu">
                        <div class="perfectScrollbar">
                            <div>
                                <li ng-click="form.selectedUser = member"
                                    ng-repeat="member in form.allMembers | typeaheadMember:form.newMember">
                                    {{member.firstname}} {{member.lastname}} ({{member.email}})
                                </li>
                            </div>
                        </div>
                    </ul>
            </div>
        </div>
        <div class="popup_footer">
            <input type="submit" value="Готово" ng-click="form.close()" />
        </div>
    </form>
</div>