<!--LISTS START-->
<div class="lists_header">
    <ul class="lists_nav">
        <li>
            <a class="prev" ng-click="PrevList()" ng-show="showPrevButton"></a>
        </li>
        <li>
            <a class="next" ng-click="NextList()" ng-show="showNextButton"></a>
        </li>
    </ul>
    <div id="top-title" class="title">Списки задач ({{listCount}})</div>
    <ul class="lists_controls">
        <li class="list-search">
            <input type="text" onfocus="$('#top-title').hide();$(this).parent().addClass('active');"
                   ng-keyup="quickSearch.closeByEsc($event)"
                   ng-model="quickSearch.query"/>
            <a class="delete" ng-click="quickSearch.closeByCross($event)"></a>
               <!--onclick="if ($(this).prev().val() !== '') $(this).prev().val('').focus(); else {quickSearch.query = ''; $(this).parent().removeClass('active');}"></a>-->
        </li>
        <li>
            <a id="list-new" ui-sref="dashboard.start.list-property({id: 'new'})" class="add addlist"></a>
        </li>
    </ul>
    <!-- create new list -->
</div>
<!-- list -->
<div class="lists_wrapper" id="lists_wrapper">
    <div id="lists_container">
        <div class="list" data-color="{{prefs.lists[list.id].color}}"
             ng-class="{shared: list.members.length}"
             ng-repeat="(id, list) in listsAndTasks | toArray |orderBy:['-private', 'id']">
            <div class="list_header">
                <div class="title"><span>{{prefs.lists[list.id].own_title != '' ? prefs.lists[list.id].own_title : prefs.lists[list.id].title}}</span></div>
                <div class="tasks">Задачи: {{taskList.countAll(list.tasks)}} (<span class="done">{{taskList.countDone(list.tasks)}}</span>)
                </div>
                <div class="task create">
                    <input type="text" placeholder="Создать задачу" class="create_task"
                           ng-focus="invertPlaceholder($event)"
                           ng-blur="invertPlaceholder($event)"
                           ng-maxlength="255"
                           ng-keydown="createNewTask($event, list.id)"/>
                </div>
                <a id="list-{{list.id}}" ui-sref="dashboard.start.list-property({id: list.id})" class="list_menu"></a>
            </div>
            <div class="list-tasks-wrapper">
                <div class="tasks list-tasks">
                    <div class="list-tasks-body">
                        <div class="task" ng-class="{done : task.done, past: inThePast(task)}"
                             ng-repeat="(key, task) in list.tasks | toArray |
                              belongsToExecutor:prefs.lists[list.id].filter_executor |
                              showCompletedTask:prefs.lists[list.id].show_done |
                              hideChilds:1 |
                              doQuickSearch:quickSearch.query |
                              orderBy:[prefs.lists[list.id].order]">
                            <button type="button" class="delete" ng-click="setTaskDeleted(task)"></button>
                            <div class="checkbox strong" frz-checkbox ng-hide="task.repeatRules"
                                 frz-true="1" frz-false="0" ng-model="task.done" ng-change="toggleDoneState(task)">
                                <label class="btn">
                                    <input type="checkbox" autocomplete="off">
                                </label>
                            </div>

                            <div class="task_title"><a ui-sref="dashboard.start.task({id: task.id})"
                                                       ng-bind-html="task.title">{{task.title}}</a>
                            </div>
                            <div class="task_date" ng-show="!task.done && !task.entire_day && task.start_date"><span>{{showDateSummary(task)}}</span>
                            </div>
                            <ul class="task_notifications" ng-show="!task.done">
                                <li>
                                    <span class="ico" data-priority="{{task.priority}}"
                                          ng-class="{active: taskNotify[task.id].priority}"></span>
                                </li>
                                <li ng-show="task.repeatRules">
                                    <span class="ico repeat" ng-class="{active: taskNotify[task.id].repeat}"></span>
                                </li>
                                <li ng-show="task.reminders.length">
                                    <span class="ico reminder" ng-class="{active: taskNotify[task.id].reminders}"></span>
                                </li>
                                <li ng-show="task.location">
                                    <span class="ico place" ng-class="{active: taskNotify[task.id].location}"></span>
                                </li>
                                <li ng-show="hasToDoList(task)">
                                    <span class="ico list" ng-class="{active: taskNotify[task.id].description}"></span>
                                </li>
                                <li ng-show="task.executor">
                                    <span class="ico executor" ng-class="{active: taskNotify[task.id].executor_id}"></span>
                                </li>
                                <li ng-show="task.files.length">
                                    <span class="ico files" ng-class="{active: taskNotify[task.id].files}"></span>
                                </li>
                                <li ng-show="task.comments.length">
                                    <span class="ico comments" ng-class="{active: taskNotify[task.id].comments}"></span>
                                </li>
                                <li ng-show="task.updated">
                                    <span class="ico edited" ng-class="{active: taskNotify[task.id].description || taskNotify[task.id].edit}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--LISTS END -->