<div class="popup list_settings">
    <div class="popup_header" ng-if="props.id">
        <span class="tail"></span>
        Настройки списка <a ng-click="form.revert(props.id)">(Вернуть настройки по умолчанию)</a>
        <a class="close" ng-click="form.close()"></a>
    </div>
    <div class="popup_header" ng-if="!props.id">
        <span class="tail"></span>
        Создание списка
        <a class="close" ng-click="form.close()"></a>
    </div>
    <form>
        <div class="popup_body">
            <div class="clear">
                <div class="popup_addlist_col_left">
                    <div class="row" ng-if="props.id">
                        <label>Мое название списка</label>
                        <input type="text" name="title" placeholder="{{props.title}}"
                               ng-model="props.own_title" ng-disabled="list.private"
                               ng-keypress="form.setBlurOnEnter($event)"/>
                    </div>
                    <div class="row" ng-if="!props.id">
                        <label>Название нового списка</label>
                        <input type="text" name="title" placeholder="Новый список" ng-model="props.title"/>
                    </div>
                    <div class="row">
                        <label>Сортировать</label>
                        <dropdown ng-model="props.order" options="form.ordering"></dropdown>
                    </div>
                    <div class="row">
                        <label>Фильтр по назначеному пользователю</label>
                        <dropdown ng-model="props.filter_executor" options="form.executors"></dropdown>
                    </div>
                    <div class="row">
                        <label>Продолжительность задачи по&ndash;умолчанию:</label>
                        <dropdown ng-model="props.def_duration" options="form.durations"></dropdown>
                    </div>
                    <div class="subtitle" ng-if="!list.private && props.id"><img src="assets/images/ico/shared.png"> Общий доступ к списку</div>
                    <div class="shares" ng-if="!list.private && props.id">
                        <div ng-show="list.members.length">Доступно: {{list.members.length}} чел.</div>
                        <div ng-show="list.members.length" class="users">(
                            <span ng-repeat="(key, member) in members">
                                {{member.firstname && member.lastname ? member.firstname + ' ' + member.lastname: member.email}}{{!$last ? ', ' : ''}}
                            </span>)</div>
                        <div><a ui-sref="dashboard.start.list-property.share">Изменить настройки доступа</a></div>
                    </div>
                </div>
                <div class="popup_addlist_col_right">
                    <div class="row">
                        <label>Цвет списка</label>
                        <ul class="colors">
                            <li ng-click="props.color = color;" ng-class="{selected: color==props.color}" data-color="{{color}}" ng-repeat="color in form.colors"></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="checkbox toggle clear" ng-model="props.show_done" frz-checkbox frz-true="1" frz-false="0" >
                            <label class="btn">
                                <input type="checkbox" autocomplete="off" /> Показывать выполненные задачи
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox toggle clear" ng-model="props.show_planned" frz-checkbox frz-true="1" frz-false="0" >
                            <label class="btn">
                                <input type="checkbox" autocomplete="off" />
                                Показывать задачи, которые<br/>
                                запланированы в календаре
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox toggle clear" ng-model="props.show_not_planned" frz-checkbox frz-true="1" frz-false="0" >
                            <label class="btn">
                                <input type="checkbox" autocomplete="off" />
                                Показывать задачи, которые не<br/>
                                запланированы в календаре
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="checkbox toggle clear" ng-model="props.auto_done" frz-checkbox frz-true="1" frz-false="0" >
                            <label class="btn">
                                <input type="checkbox" autocomplete="off">
                                Отмечать прошедшие задачи, как<br/>
                                выполненные
                            </label>
                        </div>
                    </div>
                    <div class="list_actions" ng-if="!list.private && props.id">
                        <div class="subtitle">Действия со списком</div>
                        <ul>
                            <li><a href="#">Переименовать</a></li>
                            <li><a href="#">Объединить</a></li>
                            <li ng-if="list.private == 0"><a ng-click="form.deleteList()">Удалить</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup_footer" ng-if="!props.id">
            <input type="submit" value="Создать новый список" ng-click="form.createNewList()"/>
        </div>
    </form>
</div>