<div class="popup lists_settings">
    <div class="popup_header">
        <span class="tail"></span>
        Настройки списков
        <a href="#" class="close"></a>
    </div>
    <form action="#">
        <div class="popup_body">
            <div class="row">
                <div data-toggle="buttons" class="checkbox toggle clear" ng-model="zero" frz-checkbox frz-true="1" frz-false="0" >
                    <label class="btn active">
                        <input type="checkbox" autocomplete="off" checked> Показывать выполненные задачи
                    </label>
                </div>
            </div>
            <div class="popup_footer">
                <div class="ico trashbox"></div>
                <div>В корзине задач: 198</div>
                <div><a href="#">Посмотреть удаленные</a></div>
            </div>
        </div>
    </form>
</div>