<div class="popup notifications" id="notifications">
    <div class="popup_header">
        <div class="title">Уведомления <span ng-show="logs.new.length">(новых: {{logs.new.length}})</span></div>
        <!--<a href="#" class="menu"></a>-->
        <a class="close" ng-click="close()"></a>
    </div>
    <div class="popup_content">
        <div>
            <h5 ng-show="!logs.all.length" class="text-center">Нет уведомлений</h5>
            <div ng-class="{active: !log.viewedLog, comment: log.comment_id}" class="notification" ng-repeat="log in logs.all | orderBy:sortOrder" on-last-repeat="">
                <div class="clear">
                    <div class="notification_ico {{log.type}}"><span></span></div>
                    <div class="notification_info">
                        <div class="notification_date">{{getLogDate(log.created)}}</div>
                        <div class="notification_text" ng-bind-html="getLogText(log.text)"></div>
                        <div ng-show="log.comment_id || log.type=='delete'"><a ui-sref="dashboard.start.task({id: log.task_id})" class="read_more">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>