<a ui-sref="profile" class="logo">
    <img src="assets/images/logo.png">
</a>
<div class="user_info">
    <div class="name">{{user.firstname}} {{user.lastname}}</div>
    <div class="avatar">
        <a ui-sref="dashboard.start.profile">
            <img ng-show="user.photo" ng-src="{{user.photo ? apiHost + user.photo : ''}}"/>
        </a>
    </div>
</div>
<ul class="nav">
    <li class="active">
        <a href="#">Франклинайзер</a>
    </li>
    <li>
        <a href="#">CRM</a>
    </li>
    <li>
        <a href="#">Органайзер</a>
    </li>
</ul>