<div class="popup new_task" id="task-form-wrapper">
    <form name="fTask" ng-submit="submit()">
        <div class="popup_header">
            <button class="save" ng-click="form.save()" ng-disabled="form.disabled">Сохранить</button>
            <a ng-click="deleteTask(task)" class="delete" ng-show="task.id"></a>

            <div ng-if="!task.id" class="title">Создание задачи</div>
            <div ng-if="task.id" class="title">Редактирование задачи</div>
            <a class="close" ng-click="cancel()">Закрыть</a>
        </div>
        <div class="body_wrapper">
            <div class="body_content">
                <div class="body">
                    <!-- task.title -->
                    <div class="row">
                        <label>Тема
                            <div class="author">Автор: <span>{{form.username}}</span>
                            </div>
                        </label>

                        <div class="task_title_wrapper">
                            <div class="checkbox strong" frz-checkbox frz-true="1" frz-false="0"
                                 ng-model="task.done">
                                <label id="lblDone" class="btn">
                                    <input type="checkbox" id="done" name="done">
                                </label>
                            </div>
                            <input type="text"
                                   name="title"
                                   ng-model="task.title"
                                   ng-class="{error: fTask.title.$error.required && fTask.title.$dirty && fTask.title.$invalid}"
                                   class="task_title"
                                   placeholder="Задача без названия"
                                   ng-disabled="task.done"
                                   required/>

                            <div ng-show="fTask.title.$error.required && fTask.title.$dirty && fTask.title.$invalid" class="error"><span>Не указана тема</span></div>
                        </div>
                    </div>
                    <!-- task.description -->
                    <div class="row">
                        <label frz-task-description-type ng-model="task.description">
                            <a class="toggle" data-descType="text">Описание</a> | <a class="toggle" data-descType="list">Список</a>
                        </label>

                        <div class="task_description toggle_data">
                            <textarea frz-textarea-autoheight placeholder="Описание..."
                                      ng-model="task.description"></textarea>
                        </div>
                        <div class="task_description_list toggle_data">
                            <ul ng-if="form.showDescriptionAsList" frz-task-description-list ng-model="task.description">
                                <li ng-repeat="(descItemKey, descItemVal) in task.description">
                                    <div data-toggle="buttons" class="checkbox strong">
                                        <label class="btn" ng-class="{active: descItemVal['done']==1}">
                                            <input frz-item-key="{{descItemKey}}" type="checkbox" autocomplete="off"
                                                   ng-checked="{{descItemVal['done']}}"/>
                                        </label>
                                    </div>
                                    <div><input type="text" ng-model="descItemVal['subject']"/></div>
                                    <a class="delete" frz-item-key="{{descItemKey}}"></a>
                                </li>
                                <li>
                                    <div data-toggle="buttons" class="checkbox strong disabled">
                                        <label class="btn">
                                            <input type="checkbox" autocomplete="off" disabled/>
                                        </label>
                                    </div>
                                    <div>
                                        <input class="frzTaskDescriptionListAdd" type="text" placeholder="Новый пункт"/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- task.list -->
                    <div class="row select_list" ng-hide="task.parent_id" >
                        <label>Список задач</label>

                        <div ng-show="!form.showCreateList">
                            <dropdown ng-model="task.tlist_id" options="form.lists"></dropdown>
                            <a class="add" ng-click="form.showCreateList = !form.showCreateList"></a>
                        </div>

                        <div class="task_new_list_wrapper" ng-show="form.showCreateList">
                            <button type="button" ng-click="form.createList()"
                                    ng-disabled="fTask.newListName.$error.required"></button>
                            <a class="delete" ng-click="form.showCreateList = false"></a>
                            <input type="text" name="newListName"
                                   ng-model="form.newListName"
                                   ng-class="{error: fTask.newListName.$error.required && fTask.newListName.$dirty && fTask.newListName.$invalid}"
                                   placeholder="Новый список"
                                   ng-required="form.showCreateList"/>
                            <div ng-show="fTask.newListName.$error.required && fTask.newListName.$dirty && fTask.newListName.$invalid" class="error"><span>Укажите имя</span></div>
                        </div>
                    </div>
                    <!-- task.priority -->
                    <div class="row clear">
                        <label class="list_priority">Приоритет:</label>

                        <div class="btn-group list_priority" data-toggle="buttons">
                            <label class="btn btn-primary" ng-class="{active: task.priority=='a'}"
                                   ng-click="task.priority='a'">
                                <input type="radio" name="options" id="option1" autocomplete="off"
                                       ng-checked="task.priority=='a'">
                                <img src="assets/images/ico/priority/a.png"/>
                            </label>
                            <label class="btn btn-primary" ng-class="{active: task.priority=='b'}"
                                   ng-click="task.priority='b'">
                                <input type="radio" name="options" id="option2" autocomplete="off"
                                       ng-checked="task.priority=='b'">
                                <img src="assets/images/ico/priority/b.png"/>
                            </label>
                            <label class="btn btn-primary" ng-class="{active: task.priority=='c'}"
                                   ng-click="task.priority='c'">
                                <input type="radio" name="options" id="option3" autocomplete="off"
                                       ng-checked="task.priority=='c'">
                                <img src="assets/images/ico/priority/c.png"/>
                            </label>
                            <label class="btn btn-primary" ng-class="{active: task.priority=='d'}"
                                   ng-click="task.priority='d'">
                                <input type="radio" name="options" id="option4" autocomplete="off"
                                       ng-checked="task.priority=='d'">
                                <img src="assets/images/ico/priority/d.png"/>
                            </label>
                        </div>
                    </div>
                    <div class="panel-group" id="parts" role="tablist" aria-multiselectable="true">
                        <!-- Date and duration -->
                        <div class="panel panel-default" ng-class="{edited: form.changes.duration}">
                            <div class="panel-heading" role="tab" id="heading_1" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/calendar.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Дата выполнения и продолжительность</div>
                                        <div class="edited_note">{{form.showDateSummary()}}
                                            <a ng-click="form.clearDates($event)" ng-show="task.start_date"
                                               class="delete"></a>
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_1">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div class="row clear task_date_range">
                                            <div class="panel_col_left">
                                                <label>Дата и время начала</label>
                                                <div class="clear">
                                                    <input type="text"
                                                           datepicker-popup="dd.MM.yyyy"
                                                           ng-model="task.start_date"
                                                           init-date=""
                                                           ng-click="form.toggleStartDate($event)"
                                                           ng-pattern="/[0-9.-\/]/"
                                                           is-open="form.openedDatePicker.start"
                                                           show-button-bar="false"
                                                           class="date datepicker"
                                                           ng-class="{notime: task.entire_day || !task.start_date}"/>
                                                    <div class="timepicker_wrapper timepicker_start" ng-show="!task.entire_day && task.start_date" >
                                                        <timepicker ng-model="task.start_date" hour-step="1"
                                                                    minute-step="1" show-meridian="false"></timepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel_col_right">
                                                <label>Дата и время окончания</label>
                                                <div class="clear">
                                                    <div class="timepicker_wrapper timepicker_end" ng-show="!task.entire_day && task.end_date" >
                                                        <timepicker ng-model="task.end_date" hour-step="1" minute-step="1"
                                                                    show-meridian="false"></timepicker>
                                                    </div>
                                                    <input type="text"
                                                           datepicker-popup="dd.MM.yyyy"
                                                           ng-model="task.end_date"
                                                           min-date="task.start_date"
                                                           init-date=""
                                                           ng-click="form.toggleEndDate($event)"
                                                           ng-pattern="/[0-9.-\/]/"
                                                           is-open="form.openedDatePicker.end"
                                                           show-button-bar="false"
                                                           class="date datepicker"
                                                           ng-class="{notime: task.entire_day || !task.end_date}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- task.duration -->
                                        <div class="row clear task_duration">
                                            <div class="panel_col_left">
                                                <label>Продолжительность:</label>
                                                <frz-task-duration-new ng-model="task.duration"></frz-task-duration-new>
                                            </div>
                                            <div class="panel_col_right">
                                                <label></label>
                                                <div class="clear">
                                                    <div class="checkbox"
                                                         frz-checkbox frz-true="1" frz-false="0"
                                                         ng-model="task.entire_day" ng-click="form.changes.duration=true">
                                                        <label class="btn">
                                                            <input type="checkbox"> В течении дня
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div>-->
                                            <!--<label>Часовой пояс: (GMT+02:00) Киев <span>| <a-->
                                                    <!--ng-click="form.changeTimezone()">Изменить</a></span>-->
                                            <!--</label>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.repeatRules -->
                        <div class="panel panel-default" ng-class="{edited: form.changes.repeater}" ng-hide="task.parent_id" >
                            <div class="panel-heading" role="tab" id="heading_2" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/repeat.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Повторять задачу</div>
                                        <div class="edited_note">{{form.showRepeatSummary()}}
                                            <a ng-click="form.clearRepeates($event)" ng-show="form.repeat.rule.period!='once'"
                                               class="delete"></a>
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div id="collapse_2" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_2">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div class="row clear">
                                            <div class="panel_col_left">
                                                <label>Повторяется:</label>

                                                <div>
                                                    <div class="dropdown">
                                                        <dropdown ng-model="form.repeat.rule.period"
                                                                  options="form.repeat.periods"
                                                                  ng-change="form.changes.repeater=true"></dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel_col_right" ng-hide="form.repeat.rule.period=='once'">
                                                <label>Повторять с интервалом:</label>

                                                <div>
                                                    <div class="dropdown">
                                                        <dropdown ng-model="form.repeat.rule.interval"
                                                                  options="form.repeat.intervals"
                                                                  ng-change="form.changes.repeater=true"></dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="form.repeat.rule.period=='week'">
                                            <label>Дни повторения:</label>

                                            <div class="clear day_repeat">
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[1]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Пн
                                                    </label>
                                                </div>
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[2]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Вт
                                                    </label>
                                                </div>
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[3]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Ср
                                                    </label>
                                                </div>
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[4]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Чт
                                                    </label>
                                                </div>
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[5]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Пт
                                                    </label>
                                                </div>
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[6]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Сб
                                                    </label>
                                                </div>
                                                <div class="checkbox" frz-checkbox frz-true="1"
                                                     frz-false="0"
                                                     ng-model="form.repeat.rule.repeat_days[0]"
                                                     ng-change="form.changes.repeater=true">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off"> Вс
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clear" ng-hide="form.repeat.rule.period=='once'">
                                            <div class="panel_col_left">
                                                <label>Дата начала:</label>

                                                <div>
                                                    <input type="text"
                                                           datepicker-popup="dd.MM.yyyy"
                                                           date-format="dd.MM.yyyy"
                                                           ng-model="form.repeat.rule.start_date"
                                                           min-date="form.repeat.rule.start_date"
                                                           ng-click="form.toggleStartDate($event)"
                                                           ng-change="form.changes.repeater=true"
                                                           ng-pattern="/[0-9.-\/]/"
                                                           is-open="form.openedDatePicker.start"
                                                           show-button-bar="false"
                                                           class="datepicker"/>
                                                </div>
                                            </div>
                                            <div class="panel_col_right"></div>
                                        </div>
                                        <div class="row clear" ng-hide="form.repeat.rule.period=='once'">
                                            <div class="panel_col_left">
                                                <label>Окончание:</label>

                                                <div>
                                                    <div class="dropdown">
                                                        <dropdown ng-model="form.repeat.ending"
                                                                  options="form.repeat.endings"
                                                                  ng-change="form.changes.repeater=true"></dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel_col_right" ng-show="form.repeat.ending=='untilDate'">
                                                <label>Дата окончания:</label>

                                                <div>
                                                    <input type="text"
                                                           datepicker-popup="dd.MM.yyyy"
                                                           date-format="dd.MM.yyyy"
                                                           ng-model="form.repeat.rule.end_date"
                                                           min-date="form.repeat.rule.start_date"
                                                           ng-click="form.toggleEndDate($event)"
                                                           ng-change="form.changes.repeater=true"
                                                           ng-pattern="/[0-9.-\/]/"
                                                           is-open="form.openedDatePicker.end"
                                                           show-button-bar="false"
                                                           class="datepicker"/>
                                                </div>
                                            </div>
                                            <div class="panel_col_right" ng-show="form.repeat.ending=='afterRepeats'">
                                                <label>Количество повторов:</label>

                                                <div>
                                                    <input name="limit" type="text" ng-model="form.repeat.rule.limit"
                                                       ng-change="form.changes.repeater=true"/>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" style="border-bottom: 1px solid #e8e8eb;"
                                             ng-hide="form.repeat.rule.period=='once'"></div>
                                        <div class="row" ng-hide="form.repeat.rule.period=='once'" style="">
                                            <label>Исключения из правила повторения:</label>

                                            <div class="tasks" data-color="{{taskList.properties.color}}">
                                                <div class="task" ng-class="{done : child.done}"
                                                     ng-repeat="(key, child) in task.childs | toArray | showCompletedTask:0">
                                                    <button type="button" class="delete" ng-click="deleteTask(child, true)"></button>
                                                    <div class="checkbox strong" frz-checkbox
                                                         frz-true="1" frz-false="0" ng-model="child.done" ng-change="toggleDoneState(child)">
                                                        <label class="btn">
                                                            <input type="checkbox" autocomplete="off">
                                                        </label>
                                                    </div>

                                                    <div class="task_title"><a ui-sref="dashboard.start.task({id: child.id})"
                                                                               ng-bind-html="child.title">{{child.title}}</a>
                                                    </div>
                                                    <div class="task_date" ng-show="!child.done && !child.entire_day && child.start_date"><span>{{form.showDateSummary(child)}}</span>
                                                    </div>
                                                    <ul class="task_notifications" ng-show="!child.done">
                                                        <li>
                                                            <span class="ico" data-priority="{{child.priority}}"></span>
                                                        </li>
                                                        <li ng-show="child.reminders.length">
                                                            <span class="ico reminder"></span>
                                                        </li>
                                                        <li ng-show="child.location">
                                                            <span class="ico place"></span>
                                                        </li>
                                                        <li ng-show="hasToDoList(child)">
                                                            <span class="ico list"></span>
                                                        </li>
                                                        <li ng-show="child.updated">
                                                            <span class="ico edited"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb10" ng-hide="form.repeat.rule.period=='once'">
                                            <div class="checkbox toggle clear ng-pristine ng-untouched ng-valid" ng-model="form.repeat.showCompleted" frz-checkbox="" frz-true="1" frz-false="0">
                                                <label class="btn active">
                                                    <input type="checkbox" autocomplete="off"> Показывать выполненные
                                                </label>
                                            </div>
                                        </div>

                                        <div class="tasks" data-color="{{taskList.properties.color}}" ng-show="form.repeat.showCompleted">
                                            <div class="task" ng-class="{done : child.done}"
                                                 ng-repeat="(key, child) in task.childs | toArray" ng-show="child.done">
                                                <button type="button" class="delete" ng-click="deleteTask(child, true)"></button>
                                                <div class="checkbox strong" frz-checkbox
                                                     frz-true="1" frz-false="0" ng-model="child.done" ng-change="toggleDoneState(child)">
                                                    <label class="btn">
                                                        <input type="checkbox" autocomplete="off">
                                                    </label>
                                                </div>

                                                <div class="task_title"><a ui-sref="dashboard.start.task({id: child.id})"
                                                                           ng-bind-html="child.title">{{child.title}}</a>
                                                </div>
                                                <div class="task_date" ng-show="!child.done && !child.entire_day && child.start_date"><span>{{form.showDateSummary(child)}}</span>
                                                </div>
                                                <ul class="task_notifications" ng-show="!child.done">
                                                    <li>
                                                        <span class="ico" data-priority="{{child.priority}}"></span>
                                                    </li>
                                                    <li ng-show="child.reminders.length">
                                                        <span class="ico reminder"></span>
                                                    </li>
                                                    <li ng-show="child.location">
                                                        <span class="ico place"></span>
                                                    </li>
                                                    <li ng-show="hasToDoList(child)">
                                                        <span class="ico list"></span>
                                                    </li>
                                                    <li ng-show="child.updated">
                                                        <span class="ico edited"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.reminders -->
                        <div class="panel panel-default" ng-class="{edited: form.changes.reminder}">
                            <div class="panel-heading" role="tab" id="heading_3" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/reminder.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Напомнить</div>
                                        <div class="edited_note">{{form.getLastReminderText()}}
                                            <a ng-click="form.removeLastReminder(); $event.stopPropagation();"
                                               class="delete" ng-show="form.getLastReminderText()"></a>
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div id="collapse_3" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_3">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div>
                                            <div>
                                                <div frz-task-reminder class="row clear mb10"
                                                     ng-repeat="(reminderKey, reminder) in task.reminders"
                                                     ng-model="task.reminders"></div>
                                            </div>
                                            <div class="row mb10">
                                                <a ng-click="form.addReminder()"
                                                   class="add"><span>Добавить напоминание</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.location -->
                        <div class="panel panel-default" ng-class="{edited: fTask.location.$dirty}">
                            <div class="panel-heading" role="tab" id="heading_4" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/place.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Местоположение</div>
                                        <div class="edited_note">{{task.location}}
                                            <a ng-click="task.location='';fTask.location.$setDirty();$event.stopPropagation()"
                                               ng-show="task.location"
                                               class="delete"></a>
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div id="collapse_4" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_4">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div>
                                            <input name="location" type="text" ng-model="task.location"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.executor -->
                        <div class="panel panel-default" ng-class="{edited: form.changes.executor}" ng-hide="task.parent_id" >
                            <div class="panel-heading" role="tab" id="heading_5" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/executor.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Исполнитель</div>
                                        <div class="edited_note">{{form.getExecutorName()}}
                                            <a class="delete" ng-click="form.deleteExecutor(); $event.stopPropagation()"
                                               ng-show="task.executor_id != $root.user.id"></a>
                                        </div>
                                    </div>
                                </div>
                                <span></span>
                            </div>

                            <div id="collapse_5" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_5">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div>
                                            <dropdown ng-model="task.executor_id" options="form.executors"></dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.files -->
                        <div class="panel panel-default" ng-class="{edited: form.changes.uploads}" ng-hide="task.parent_id" >
                            <div class="panel-heading" role="tab" id="heading_6" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/files.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Файлы</div>
                                        <div class="edited_note">{{form.fileCount()}}</div>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div id="collapse_6" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_6">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div>
                                            <ul class="uploaded_files">
                                                <li ng-repeat="(key, file) in task.files">
                                                    <div>
                                                        <span>{{file.name}}</span>
                                                        <a data-key="{{key}}" ng-click="form.fileDelete($event)"
                                                           class="delete"></a>
                                                    </div>
                                                </li>
                                                <li ng-show="form.filePreloader">загрузка...</li>
                                            </ul>
                                            <div ng-file-drop ng-model="form.files" class="drop-box upload_area"
                                                 resetOnClick="false"
                                                 drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                                 multiple="true" allow-dir="true" accept="image/*,application/pdf">
                                                Перетащите файлы сюда или
                                                <div ng-file-select ng-model="form.files" multiple="true"
                                                     resetOnClick="false" class="file_link">загрузите их
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.comments -->
                        <div class="panel panel-default" ng-class="{edited: form.changes.comments}" ng-show="task.id" ng-hide="task.parent_id" >
                            <div class="panel-heading" role="tab" id="heading_7" data-toggle="collapse" data-parent="#parts"
                                 href="#collapse_7" aria-expanded="false" aria-controls="collapse_7">
                                <div class="panel_ico"><img src="assets/images/ico/task_part/comments.png"/><span></span>
                                </div>
                                <div class="panel-title">
                                    <div class="panel-title-body">
                                        <div>Комментарии</div>
                                    </div>
                                </div>
                                <span></span>
                            </div>
                            <div id="collapse_7" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_7">
                                <div class="panel-body">
                                    <div class="panel_content">
                                        <div class="task_comments">
                                            <div class="task_comment" ng-repeat="comment in task.comments">
                                                <div class="task_comment_ava">
                                                    <img ng-show="comment.user.photo" ng-src="{{apiHost + comment.user.photo}}" />
                                                </div>
                                                <div class="task_comment_text">
                                                    <div class="task_comment_author">
                                                        {{comment.user.firstname}} {{comment.user.lastname}}<span>, {{comment.created}}</span>
                                                    </div>
                                                    <div class="task_comment_content">{{comment.text}}</div>
                                                </div>
                                            </div>
                                            <div class="task_comment">
                                                <div class="task_comment_ava">
                                                    <img ng-show="user.photo" ng-src="{{apiHost + user.photo}}"/>
                                                </div>
                                                <div class="task_comment_text">
                                                    <textarea frz-textarea-autoheight ng-model="form.comment"
                                                              placeholder="Ваш комментарий..."></textarea>
                                                </div>
                                            </div>
                                            <div class="task_comment_submit_wrapper">
                                                <button type="button" ng-disabled="!form.comment"
                                                        ng-click="commentSubmit()">Отправить
                                                </button>
                                                <a class="clear" ng-click="form.comment = ''">Очистить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- task.logs -->
                        <div class="panel panel-default" ng-show="task.id" ng-hide="task.parent_id" >
                            <div class="panel-heading" role="tab" id="heading_8" data-toggle="collapse" data-parent="#parts"
                                                               href="#collapse_8" aria-expanded="false" aria-controls="collapse_8">
                            <div class="panel_ico"><img src="assets/images/ico/task_part/log.png"/><span></span>
                            </div>
                            <div class="panel-title">
                                <div class="panel-title-body">
                                    <div>Лог изменений</div>
                                </div>
                            </div>
                            <span></span>
                        </div>
                            <div id="collapse_8" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading_8">
                                <div class="panel-body">
                                    <div class="panel_content task_logs">
                                        <div class="task_log" ng-repeat="log in task.logs" >
                                            <div class="log_date" ng-show="log.showDate"><span>{{form.getLogDate(log)}}</span></div>
                                            <div class="log_info_wrapper">
                                                <div class="log_time">{{form.getLogTime(log.created)}}</div>
                                                <div class="log_info" ng-bind-html="form.getLogText(log.text)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup_footer">
                    <button type="button" class="cancel" ng-click="cancel(false)">Отмена</button>
                    <input type="submit" value="Сохранить" ng-disabled="form.disabled" ng-click="form.save()"/>
                </div>
            </div>
        </div>
    </form>
</div>
