<div class="row clear mb10">
    <div class="panel_col_left">
        <div>
            <dropdown ng-model="reminder.type" options="form.reminderTypes"></dropdown>
        </div>
    </div>
    <div class="panel_col_right">
        <div class="clear">
            <div class="reminder_value">
                <input type="text" value="{{reminder.before}}" class="reminder_value" ng-model="reminder.before" />
            </div>
            <div class="reminder_unit">
                <dropdown ng-model="reminder.time_unit" options="form.reminderTimeUnits"></dropdown>
            </div>
        </div>
        <a class="delete" data-key="{{reminderKey}}"></a>
    </div>
</div>