<ul class="nav">
    <li class="ico" ng-class="{active: showCalendar}">
        <a class="calendar" ng-click="showCalendar = !showCalendar"></a>
    </li>
    <li class="ico" ng-class="{active: showLists}">
        <a class="list" ng-click="showLists = !showLists"></a>
    </li>
</ul>
<ul class="nav controls">
    <li>
        <button class="add create_task" ng-click="$state.go('dashboard.start.task', {id: 'new'})">Создать задачу
        </button>
    </li>
    <li class="ico">
        <a ui-sref="dashboard.start.comments" class="chat">
            <span ng-show="newComments">{{newComments}}</span>
        </a>
    </li>
    <li class="ico">
        <a ui-sref="dashboard.start.log" class="notification">
            <span ng-show="newLogs">{{newLogs}}</span>
        </a>
    </li>
    <li class="ico">
        <a ui-sref="dashboard.start.profile" class="settings"></a>
    </li>
    <li class="ico">
        <a ui-sref="dashboard.start.trash" class="trash"></a>
    </li>
    <li class="ico">
        <a ui-sref="auth.logout" class="logout"></a>
    </li>
</ul>
