<div class="popup notifications" id="trash">
    <div class="popup_header">
        <div class="title">Корзина</div>
        <a class="close" ng-click="close()"></a>
    </div>
    <div class="popup_content">
        <div class="tasks">
            <h5 ng-show="!tasks.length" class="text-center">пусто</h5>
            <div class="task-wrapper" ng-repeat="(key, task) in tasks"
                data-color="{{getListColor(task.tlist_id)}}"
                on-last-repeat >
                <div class="task" ng-class="{done : toNumber(task.done), past: inThePast(task)}">
                    <button type="button" class="restore" ng-click="restoreTask(task, key)">Восстановить</button>
                    <div class="task_title">{{task.title}}</div>
                    <div class="task_date" ng-show="!task.entire_day && task.start_date"><span>{{showDateSummary(task)}}</span></div>
                    <ul class="task_notifications">
                        <li>
                            <span class="ico" data-priority="{{task.priority}}"></span>
                        </li>
                        <li ng-show="task.repeatRules">
                            <span class="ico repeat"></span>
                        </li>
                        <li ng-show="task.reminders.length">
                            <span class="ico reminder"></span>
                        </li>
                        <li ng-show="task.location">
                            <span class="ico place"></span>
                        </li>
                        <li ng-show="hasToDoList(task)">
                            <span class="ico list"></span>
                        </li>
                        <li ng-show="task.executor">
                            <span class="ico executor"></span>
                        </li>
                        <li ng-show="task.files.length">
                            <span class="ico files"></span>
                        </li>
                        <li ng-show="task.comments.length">
                            <span class="ico comments"></span>
                        </li>
                        <li ng-show="1">
                            <span class="ico edited"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>