<div class="popup changepwd">
    <div class="popup_header">
        Смена пароля
        <a ng-click="cancel()" class="close"></a>
    </div>
    <form name="changepwdForm">
        <div class="popup_body">
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <label>Старый пароль</label>
                        <input type="password" name="oldPwd" ng-model="oldPwd" required="" ng-class="{error: error.error_list['oldPwd']}" />
                        <div ng-show="(changepwdForm.oldPwd.$dirty && changepwdForm.oldPwd.$invalid) || error.error_list" >
                            <div ng-show="error.error_list['oldPwd']" class="error"><span ng-bind="error.error_list['oldPwd']"></span></div>
                        </div>
                    </div>

                    <div class="row">
                        <label>Новый пароль</label>
                        <input type="password" name="newPwd"
                               ng-model="newPwd"
                               required=""
                               ng-class="{error: error_repwd}"
                               ng-minlength="6"
                               ng-maxlength="32"
                                />
                        <div ng-show="error_repwd || changepwdForm.newPwd.$error" >
                            <div ng-show="error_repwd" class="error"><span>Пароли должны совпадать</span></div>
                            <div ng-show="changepwdForm.newPwd.$error.minlength" class="error"><span>Пароль слишком короткий</span></div>
                            <div ng-show="changepwdForm.newPwd.$error.maxlength" class="error"><span>Пароль слишком длинный</span></div>
                        </div>
                    </div>

                    <div>
                        <label>Повторите новый пароль</label>
                        <input type="password" name="newPwd2"
                               ng-model="newPwd2"
                               required=""
                               ng-class="{error: error_repwd}"
                               ng-minlength="6"
                               ng-maxlength="32"
                                />
                        <div ng-show="error_repwd" >
                            <div ng-show="error_repwd" class="error">Пароли должны совпадать</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success" ng-click="ok(changepwdForm)">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>