<div class="popup profile">
    <div class="popup_header">
        <!--<span class="tail"></span>-->
        Настройки
        <a ng-click="form.close()" class="close"></a>
    </div>
    <form action="#">
        <div class="popup_body">
            <div class="row text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default"
                            ng-class="{active: form.tab == 'main'}"
                            ng-click="form.tab='main'">Профиль
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{active: form.tab == 'notifications'}"
                            ng-click="form.tab='notifications'">Уведомления
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{active: form.tab == 'sharing'}"
                            ng-click="form.tab='sharing'">Общий доступ
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{active: form.tab == 'calendar'}"
                            ng-click="form.tab='calendar'">Календарь
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{active: form.tab == 'tasks'}"
                            ng-click="form.tab='tasks'">Задачи
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{active: form.tab == 'crm'}"
                            ng-click="form.tab='crm'">CRM
                    </button>
                </div>
            </div>
            <div ng-show="form.tab == 'main'">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <label>Имя</label>
                            <input type="text" name="firstname" ng-model="form.user.firstname"/>
                        </div>
                        <div>
                            <label>Фамилия</label>
                            <input type="text" name="lastname" ng-model="form.user.lastname"/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="avatar">
                            <div ng-file-select ng-model="form.photo" multiple="false"
                                 accept="'image/jpeg'"
                                 ng-accept="'image/jpeg'"
                                 resetOnClick="false" class="file_link"></div>
                            <img ng-show="form.user.photo" ng-src="{{form.user.photo ? apiHost + form.user.photo : ''}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <label>E-mail</label>
                            <input type="email" name="email" ng-model="form.user.email" disabled/>
                        </div>
                        <div>
                            <label>Название компаниии</label>
                            <input type="text" name="company" ng-model="form.user.company" />
                        </div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-success" ng-click="form.changePass()">Изменить пароль</button>
                    </div>
                </div>
                <div class="row" ng-show="form.user.userInfos.length" >
                    <div class="col-xs-12">
                        <div class="row_separator"></div>
                    </div>
                </div>
                <div class="row" ng-show="form.user.userInfos.length" style="margin-bottom: 5px;">
                    <div class="col-xs-12">
                        <label>Контакты:</label>
                    </div>
                </div>
                <div class="row" ng-repeat="(key, contact) in form.user.userInfos">
                    <div class="col-xs-6">
                        <dropdown ng-model="contact.info_type_id" options="form.infoTypes"></dropdown>
                    </div>
                    <div class="col-xs-6">
                        <input type="{{form.getContactsInputType(contact.info_type_id)}}" ng-model="contact.value" required="1" ng-keyup="form.validateContactsInput($event)"/>
                    </div>
                    <a class="delete" data-key="0" ng-click="form.deleteContact(key)" ></a>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="add-contact">
                            <a ng-click="form.addContact()" class="add"><span>Добавить контакт</span></a>
                        </div>
                    </div>
                </div>
                <div class="popup_footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" ng-click="form.updateUser()">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>