<div class="popup auth">
    <div class="popup_header">
        <!--<a href="#" class="close"></a>-->
        <a ui-sref="home" class="logo"><img src="assets/images/logo_dark.png"></a>

        <div class="subtitle">Франклинайзер</div>
        <div class="title">Вход на сайт</div>
    </div>
    <div class="popup_content">
        <form name="fLogin" ng-submit="login(credentials)" ng-controller="LoginCtrl">
            <div class="row">
                <label>Email</label>
                <input type="email"
                       name="email"
                       ng-model="credentials.email"
                       ng-class="{error: error.error_list['email']}"
                       required />

                <div ng-show="(fLogin.email.$touched && fLogin.email.$invalid) || error.error_list" >
                    <div ng-show="fLogin.email.$error.required" class="error"><span>Вы не ввели email</span></div>
                    <div ng-show="fLogin.email.$error.email" class="error"><span>Вы ввели некорректный email</span></div>
                    <div ng-show="error.error_list['email']" class="error"><span ng-bind="error.error_list['email']"></span></div>
                </div>
            </div>
            <div class="row10">
                <label>Пароль</label>
                <input type="password"
                       name="password"
                       ng-model="credentials.password"
                       ng-class="{error: error.error_list['password']}"
                       ng-minlength="6"
                       ng-maxlength="32"
                       required/>

                <div ng-show="(fLogin.password.$touched && fLogin.password.$invalid) || error.error_list" >
                    <div ng-show="fLogin.password.$error.required" class="error"><span>Вы не ввели пароль</span></div>
                    <!--<div ng-show="fLogin.password.$error.minlength" class="error"><span>Пароль слишком короткий</span></div>-->
                    <!--<div ng-show="fLogin.password.$error.maxlength" class="error"><span>Пароль слишком длинный</span></div>-->
                    <div ng-show="error.error_list['password']" class="error"><span ng-bind="error.error_list['password']"></span></div>
                </div>
            </div>
            <div class="row10">
                <a ui-sref="auth.recovery" class="pwd_restore">Забыли пароль?</a>
            </div>
            <div class="row10">
                <input type="submit" value="Войти" ng-disabled="fLogin.$invalid"/>
            </div>
            <div class="row10 tac">Нет аккаунта? <a ui-sref="auth.signup">Зарегистрируйтесь</a></div>
        </form>
    </div>
    <div class="popup_footer" ng-controller="SocialCtrl">
        <div>Вход через:</div>
        <div>
            <a class="social google" ng-click="useGoogleApi()"></a>
        </div>
        <div class="clear">
            <a href="#" class="social fb"></a>
            <a href="#" class="social tw"></a>
            <a href="#" class="social vk"></a>
        </div>
    </div>
</div>