<div class="popup auth" >
    <div class="popup_header">
        <a href="#" class="close"></a>
        <a href="./" class="logo"><img src="assets/images/logo_dark.png"></a>
        <div class="subtitle">Франклинайзер</div>
        <div class="title">Восстановление пароля</div>
    </div>
    <div class="popup_content">
        <form name="fRecovery" ng-submit="submit()" ng-controller="RecoveryCtrl">
            <div ng-hide="emailSent">
            <div class="hint" ng-hide="guest.code">
                Введите ваш email, мы отправим на него инструкции по восстановлению пароля.
            </div>
            <div class="hint" ng-show="guest.code">
                Для восстановлению пароля отправьте свой email и полученный код.
            </div>
            <div class="row">
                <label>Email</label>
                <input type="email"
                       name="email"
                       ng-model="guest.email"
                       ng-class="{error: error.error_list['email']}"
                       ng-disabled="guest.code"
                       required />
                <div ng-show="fRecovery.email.$error.email" class="error"><span>Вы ввели некорректный email</span></div>
                <div ng-show="fRecovery.email.$error.required" class="error"><span>Вы не ввели email</span></div>
                <div ng-show="error.error_list['email']" class="error"><span ng-bind="error.error_list['email']"></span></div>
            </div>
            <div class="row" ng-show="guest.code">
                <label>Код проверки</label>
                <input type="text"
                       name="code"
                       ng-model="guest.code"
                       ng-class="{error: error.error_list['code']}"
                       disabled />
                <div ng-show="error.error_list['code']" class="error"><span ng-bind="error.error_list['code']"></span></div>
            </div>
            <div class="row10">
                <input type="submit" value="Отправить" ng-disabled="fRecovery.$invalid" />
            </div>
            <div class="row10 tac">
                <a ui-sref="auth.login">Я вспомнил пароль</a>
            </div>
            </div>
            <div class="hint" ng-show="emailSent">
                Ваш email отправлен. Проверьте свой почтовый ящик, и когда получите письмо,
                выполните описанные в нем инструкции.
            </div>
        </form>
    </div>
</div>