<div class="popup auth">
    <div class="popup_header">
        <!--<a href="#" class="close"></a>-->
        <a ui-sref="home" class="logo"><img src="assets/images/logo_dark.png"></a>

        <div class="subtitle">Франклинайзер</div>
        <div class="title">Регистрация</div>
    </div>
    <div class="popup_content">
        <form name="fSignUp" ng-submit="signup(credentials)" ng-controller="SignUpCtrl">
            <div class="row">
                <label>Email</label>
                <input type="email"
                       name="email"
                       ng-model="credentials.email"
                       ng-class="{error: error.error_list['email']}"
                       ng-blur="checkEmail(fSignUp.email)"
                       required/>

                <div ng-show="(fSignUp.email.$touched && fSignUp.email.$invalid) || error.error_list" >
                    <div ng-show="fSignUp.email.$error.required" class="error"><span>Вы не ввели email</span></div>
                    <div ng-show="fSignUp.email.$error.email" class="error"><span>Вы ввели некорректный email</span></div>
                    <div ng-show="error.error_list['email']" class="error"><span ng-bind="error.error_list['email']"></span></div>
                </div>
            </div>
            <div class="row10">
                <label>Пароль</label>
                <input type="password"
                       name="password"
                       ng-model="credentials.password"
                       ng-minlength="6"
                       ng-maxlength="32"
                       required/>

                <div ng-show="fSignUp.password.$touched && fSignUp.password.$invalid" >
                    <div ng-show="fSignUp.password.$error.required" class="error"><span>Вы не ввели пароль</span></div>
                    <div ng-show="fSignUp.password.$error.minlength" class="error"><span>Пароль слишком короткий</span></div>
                    <div ng-show="fSignUp.password.$error.maxlength" class="error"><span>Пароль слишком длинный</span></div>
                </div>
            </div>
            <div class="row10">
                От 6 до 32 символов
            </div>
            <div class="row10">
                <input type="submit" value="Зарегистрироваться" ng-disabled="fSignUp.$invalid"/>
            </div>
            <div class="row10 tac">
                <div>Уже есть аккаунт?</div>
                <div>Воспользуйтесь <a ui-sref="auth.login">формой входа</a></div>
            </div>
        </form>
    </div>
    <div class="popup_footer" ng-controller="SocialCtrl">
        <div>Регистрация через:</div>
        <div>
            <a class="social google" ng-click="useGoogleApi()"></a>
        </div>
        <div class="clear">
            <a class="social fb"></a>
            <a class="social tw"></a>
            <a class="social vk"></a>
        </div>
    </div>
</div>