/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.10.2014, 10:52:33
    Author     : KiPa
*/
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #55595e;
    font-family: 'Open Sans', sans-serif;
    /*min-width: 1020px;*/
    min-width: 1860px;
    position: relative;
}
.clear{
    display: inline-block;
    width: 100%;
}
a{
    color: #6595ba;
}
a:hover{
    text-decoration: none;
}
.tac{
    text-align: center;
}
.mb10{
    margin-bottom: 10px;
}
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.wrapper{
    position: relative;
}
/*COLORS*/
ul.colors li.color_fdbebe:before,
ul.colors li.color_fdbebe,
.color_fdbebe .task{
    background-color: #fdbebe;
    border: 1px solid #cc8484;
}
.color_fdbebe .task.done{
    background-color: #fde4e4;
}
ul.colors li.color_ffccb3:before,
ul.colors li.color_ffccb3,
.color_ffccb3 .task{
    background-color: #ffccb3;
    border: 1px solid #cc9c85;
}
.color_ffccb3 .task.done{
    background-color: #ffebe0;
}
ul.colors li.color_ffdd99:before,
ul.colors li.color_ffdd99,
.color_ffdd99 .task{
    background-color: #ffdd99;
    border: 1px solid #ccb485;
}
.color_ffdd99 .task.done{
    background-color: #fff0d5;
}
ul.colors li.color_ffffa6:before,
ul.colors li.color_ffffa6,
.color_ffffa6 .task{
    background-color: #ffffa6;
    border: 1px solid #cccc85;
}
.color_ffffa6 .task.done{
    background-color: #ffffdb;
}
ul.colors li.color_e6ffb3:before,
ul.colors li.color_e6ffb3,
.color_e6ffb3 .task{
    background-color: #e6ffb3;
    border: 1px solid #b5cc85;
}
.color_e6ffb3 .task.done{
    background-color: #f5ffe0;
}
ul.colors li.color_ccffb3:before,
ul.colors li.color_ccffb3,
.color_ccffb3 .task{
    background-color: #ccffb3;
    border: 1px solid #9ccc85;
}
.color_ccffb3 .task.done{
    background-color: #ebffe0;
}
ul.colors li.color_bcfad1:before,
ul.colors li.color_bcfad1,
.color_bcfad1 .task{
    background-color: #bcfad1;
    border: 1px solid #85cc9d;
}
.color_bcfad1 .task.done{
    background-color: #e3fcec;
}
ul.colors li.color_bcf6fa:before,
ul.colors li.color_bcf6fa,
.color_bcf6fa .task{
    background-color: #bcf6fa;
    border: 1px solid #85c7cc;
}
.color_bcf6fa .task.done{
    background-color: #e3fafc;
}
ul.colors li.color_bce5fa:before,
ul.colors li.color_bce5fa,
.color_bce5fa .task{
    background-color: #bce5fa;
    border: 1px solid #85b4cc;
}
.color_bce5fa .task.done{
    background-color: #e3f5fc;
}
ul.colors li.color_c3d1fa:before,
ul.colors li.color_c3d1fa,
.color_c3d1fa .task{
    background-color: #c3d1fa;
    border: 1px solid #8597cc;
}
.color_c3d1fa .task.done{
    background-color: #e7ecfc;
}
ul.colors li.color_fac3f1:before,
ul.colors li.color_fac3f1,
.color_fac3f1 .task{
    background-color: #fac3f1;
    border: 1px solid #cc85c1;
}
.color_fac3f1 .task.done{
    background-color: #fce7f8;
}
ul.colors li.color_e8c3fa:before,
ul.colors li.color_e8c3fa,
.color_e8c3fa .task{
    background-color: #e8c3fa;
    border: 1px solid #b485cc;
}
.color_e8c3fa .task.done{
    background-color: #f6e7fc;
}
ul.colors li.color_d1c3fa:before,
ul.colors li.color_d1c3fa,
.color_d1c3fa .task{
    background-color: #d1c3fa;
    border: 1px solid #9785cc;
}
.color_d1c3fa .task.done{
    background-color: #ece7fc;
}
ul.colors li.color_e6cfcf:before,
ul.colors li.color_e6cfcf,
.color_e6cfcf .task{
    background-color: #e6cfcf;
    border: 1px solid #ccadad;
}
.color_e6cfcf .task.done{
    background-color: #f5ebeb;
}
ul.colors li.color_e6decf:before,
ul.colors li.color_e6decf,
.color_e6decf .task{
    background-color: #e6decf;
    border: 1px solid #bfb8ac;
}
.color_e6decf .task.done{
    background-color: #f5f1eb;
}
ul.colors li.color_cfe6d7:before,
ul.colors li.color_cfe6d7,
.color_cfe6d7 .task{
    background-color: #cfe6d7;
    border: 1px solid #a3ccb2;
}
.color_cfe6d7 .task.done{
    background-color: #ebf5ee;
}
ul.colors li.color_dee6cf:before,
ul.colors li.color_dee6cf,
.color_dee6cf .task{
    background-color: #dee6cf;
    border: 1px solid #becca3;
}
.color_dee6cf .task.done{
    background-color: #f1f5eb;
}
ul.colors li.color_cfe4e6:before,
ul.colors li.color_cfe4e6,
.color_cfe4e6 .task{
    background-color: #cfe4e6;
    border: 1px solid #a3c9cc;
}
.color_cfe4e6 .task.done{
    background-color: #ebf4f5;
}
ul.colors li.color_cfd5e6:before,
ul.colors li.color_cfd5e6,
.color_cfd5e6 .task{
    background-color: #cfd5e6;
    border: 1px solid #99a6cc;
}
.color_cfd5e6 .task.done{
    background-color: #ebedf5;
}
ul.colors li.color_e7dce6:before,
ul.colors li.color_e7dce6,
.color_e7dce6 .task{
    background-color: #e7dce6;
    border: 1px solid #ccb8c8;
}
.color_e7dce6 .task.done{
    background-color: #f6f0f5;
}
ul.colors li.color_decfe6:before,
ul.colors li.color_decfe6,
.color_decfe6 .task{
    background-color: #decfe6;
    border: 1px solid #bea3cc;
}
.color_decfe6 .task.done{
    background-color: #f1ebf5;
}
ul.colors li.color_f2f2f2:before,
ul.colors li.color_f2f2f2,
.color_f2f2f2 .task{
    background-color: #f2f2f2;
    border: 1px solid #bfbfbf;
}
.color_f2f2f2 .task.done{
    background-color: #f9f9f9;
}
ul.colors li.color_e6e6e6:before,
ul.colors li.color_e6e6e6,
.color_e6e6e6 .task{
    background-color: #e6e6e6;
    border: 1px solid #bfbfbf;
}
.color_e6e6e6 .task.done{
    background-color: #f5f5f5;
}
ul.colors li.color_cccccc:before,
ul.colors li.color_cccccc,
.color_cccccc .task{
    background-color: #cccccc;
    border: 1px solid #a6a6a6;
}
.color_cccccc .task.done{
    background-color: #ebebeb;
}
/*COLORS END*/

header{
    display: block;
    width: 100%;
    height: 44px;
    padding: 3px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: #55595e;
}
header a.logo{
    display: block;
    width: 70px;
    height: 25px;
    border: none;
    outline: none;
    font-size: 0px;
    line-height: 0px;
    margin: 10px 75px 0px 65px;
}
header a.logo img{
    width: 100%;
    height: auto;
}
header ul{
    display: inline-block;
}
header ul li{
    float: left;
}
header ul.nav{
    position: absolute;
    left: 210px;
    top: 3px;
}
header ul.nav li.ico{
    height: 44px;
    width: 44px;
}
header ul.nav li{
    margin-left: 3px;
    position: relative;
    max-width: 176px;
}
header ul.nav li:first-child{
    margin-left: 0px;
}
header ul.nav li.active{
    background-color: #494c52;
    border-radius: 5px;
}
header ul.nav li.ico a{
    display: block;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-decoration: none;
    outline: none;
}
header ul.nav li a.calendar{
    width: 29px;
    height: 29px;
    background-image: url("../images/ico/calendar.png");
    margin-top: 7px;
}
header ul.nav li.active a.calendar,
header ul.nav li a.calendar:hover{
    background-position: 0px -29px;
}
header ul.nav li a.list{
    width: 27px;
    height: 27px;
    background-image: url("../images/ico/list.png");
}
header ul.nav li.active a.list,
header ul.nav li a.list:hover{
    background-position: 0px -27px;
}
header ul.nav.controls{
    position: absolute;
    right: 10px;
    top: 3px;
    left: auto;
}
header ul.nav li.ico a span{
    display: block;
    position: absolute;
    right: -8px;
    top: -8px;
    color: #fff;
    height: 16px;
    line-height: 15px;
    font-size: 10px;
    background-color: #ff2121;
    padding: 0px 5px;
    border-radius: 7px;
    text-decoration: none;
}
header ul.nav li a.chat{
    width: 29px;
    height: 27px;
    background-image: url("../images/ico/chat.png");
}
header ul.nav li.active a.chat,
header ul.nav li a.chat:hover{
    background-position: 0px -27px;
}
header ul.nav li a.notification{
    width: 28px;
    height: 28px;
    background-image: url("../images/ico/notification.png");
}
header ul.nav li.active a.notification,
header ul.nav li a.notification:hover{
    background-position: 0px -28px;
}
header ul.nav li a.settings{
    width: 29px;
    height: 28px;
    background-image: url("../images/ico/settings.png");
}
header ul.nav li.active a.settings,
header ul.nav li a.settings:hover{
    background-position: 0px -28px;
}
header ul.nav li a.logout{
    width: 28px;
    height: 28px;
    background-image: url("../images/ico/logout.png");
}
header ul.nav li.active a.logout,
header ul.nav li a.logout:hover{
    background-position: 0px -28px;
}

header ul.nav.controls a.button{
    margin-top: 3px;
    margin-right: 20px;
}
header a.button.create_task{
    width: 106px;
}
a.button{
    display: block;
    font-size: 14px;
    color: #fff;
    height: 38px;
    line-height: 36px;
    padding: 0px 14px 0px 14px;
    border-bottom: 1px solid #44474b;
    border-radius: 5px;
    background-color: #3bad90;
    position: relative;
    text-decoration: none;
}
a.button.add{
    background-image: url("../images/ico/button/add.png");
    background-repeat: no-repeat;
    background-position: 13px 10px;
    padding: 0px 14px 0px 38px;
}
a.button:hover{
    background-color: #40b99a;
}
a.button:active{
    background-color: #37a085;
    border-bottom: none;
    top: 1px;
    opacity: 0.8;
}

div.side_left{
    width: 200px;
    position: absolute;
    left: 0px;
    top: 50px;
}
div.side_left div.user_info{
    background-color: #494c52;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
div.side_left div.name{
    height: 56px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    background-color: #3bad90;
    color: #fff;
}
div.side_left div.avatar{
    font-size: 0px;
    text-align: center;
    margin-top: -4px;
}
div.side_left ul.nav{

}
div.side_left ul.nav li{
    display: block;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    margin-bottom: 3px;
}
div.side_left ul.nav li a{
    display: block;
    height: 56px;
    line-height: 56px;
    color: #cccccc;
    text-decoration: none;
    text-align: center;
}
div.side_left ul.nav li a:hover{
    display: block;
    height: 56px;
    line-height: 56px;
    color: #3bad90;
    background-color: #494c52;
}
div.side_left ul.nav li.active a{
    color: #3bad90;
    background-color: #494c52;
    border-left: 3px solid #3bad90;
}

div.side_right{
    min-height: 100%;
    position: relative;
    z-index: 1;
    margin-left: 210px;
    margin-right: 10px;
    background-color: #fff;
}
div.side_right div.body{
    padding-top: 50px;
    padding-bottom: 10px;
}

div.footer{
    height: 10px;
    width: 100%;
    position: relative;
    background-color: #55595e;
    margin-top: -10px;
    z-index: 2;
}

/*LISTS*/
div.lists{
    display: inline-block;
    width: 100%;
}
div.lists div.lists_wrapper{
    display: inline-block;
    height: 100%;
}
div.lists div.lists_header{
    height: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
div.lists div.lists_header div.title{
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
div.lists div.lists_header ul.lists_nav{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 13px;
    height: 25px;
}
div.lists div.lists_header ul.lists_nav li{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.lists div.lists_header ul.lists_nav li:first-child{
    margin-left: 0px;
}
div.lists div.lists_header ul.lists_nav li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.lists div.lists_header ul.lists_nav li a.prev{
    background-image: url("../images/ico/controls/prev.png");
}
div.lists div.lists_header ul.lists_nav li a.next{
    background-image: url("../images/ico/controls/next.png");
}
div.lists div.lists_header ul.lists_nav li a:hover{
    background-position: 0px -50px;
}
div.lists div.lists_header ul.lists_nav li a.disabled{
    background-position: 0px 0px;
}
div.lists div.lists_header ul.lists_controls{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 13px;
    height: 25px;
}
div.lists div.lists_header ul.lists_controls li{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.lists div.lists_header ul.lists_controls li.menu{
    width: 9px;
}
div.lists div.lists_header ul.lists_controls li:first-child{
    margin-left: 0px;
}
div.lists div.lists_header ul.lists_controls li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.lists div.lists_header ul.lists_controls li a.menu{
    width: 4px;
    height: 20px;
    margin-top: 3px;
    background-position: 0px -20px;
    background-image: url("../images/ico/controls/menu.png");
}
div.lists div.lists_header ul.lists_controls li a.menu:hover{
    background-position: 0px -40px;
}
div.lists div.lists_header ul.lists_controls li a.search{
    width: 23px;
    background-image: url("../images/ico/controls/search.png");
}
div.lists div.lists_header ul.lists_controls li a.add{
    background-image: url("../images/ico/controls/add.png");
}
div.lists div.lists_header ul.lists_controls li a:hover{
    background-position: 0px -50px;
}
div.lists div.lists_header ul.lists_controls li a.disabled{
    background-position: 0px 0px;
}
div.lists div.list{
    width: 260px;
    border-right: 1px solid #d2d2d2;
    padding: 0px 11px 0px 7px;
    height: 100%;
    float: left;
    position: relative;
}
div.lists div.list div.list_header{
    position: relative;
    padding-bottom: 10px;
}
div.lists div.list div.list_header div.title{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding-top: 9px;
}
div.lists div.list.shared div.list_header div.title span{
    display: inline-block;
    padding-left: 16px;
    background-image: url("../images/ico/shared.png");
    background-repeat: no-repeat;
    background-position: left center;
}
div.lists div.list div.list_header div.tasks{
    font-size: 12px;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
    padding-top: 7px;
}
div.lists div.list div.list_header div.tasks span.done{
    display: inline-block;
    padding-left: 10px;
    background-image: url("../images/ico/task_done.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
div.lists div.list div.list_header a.list_menu{
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 7px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 0px -20px;
}
div.lists div.list div.list_header a.list_menu:hover{
    background-position: 0px -40px;
}
div.tasks{

}
div.tasks div.task{
    padding: 6px 7px 9px 30px;
/*    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 7px 6px;*/
    font-size: 12px;
    margin-bottom: 5px;
    position: relative;
}
div.tasks div.task.nobg{
    background-color: #fff;
    border: 1px solid #fff;
}
div.tasks div.task.create{
    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 7px 6px;
    background-color: transparent;
    border: 1px solid #fff;
}
div.tasks div.task a.mode_toggle{
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: absolute;
    left: 7px;
    top: 7px;
}
div.tasks div.task.done a.mode_toggle{
    background-image: url("../images/ico/status/done.png");
}
div.tasks div.task input.create_task{
    display: block;
    width: 230px;
    outline: none;
    border: none;
    background: none;
    line-height: 14px;
    font-style: italic;
    color: #b3b3b3;
    border-bottom: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
}
div.tasks div.task input.create_task.active{
    color: #333333;
    font-style: normal;
    border-bottom: 1px solid #3bad90;
}
div.tasks div.task div.task_title{
    color: #333333;
    font-size: 12px;
    line-height: 16px;
}
div.tasks div.task div.task_date{
    color: #000;
    font-size: 12px;
    line-height: 13px;
    padding-left: 15px;
    background-image: url("../images/ico/status/calendar.png");
    background-repeat: no-repeat;
    background-position: 0px -14px;
    margin-top: 5px;
    margin-bottom: 3px;
    height: 14px;
}
div.tasks div.task div.task_date.time{
    background-image: url("../images/ico/status/time.png");
}
div.tasks div.task div.task_date span{
    opacity: 0.6;
}
div.tasks div.task.past div.task_date{
    background-position: 0px 0px;
}
div.tasks div.task.past div.task_date span{
    color: #ff0000;
    font-weight: bold;
    opacity: 1;
}
div.tasks div.task ul.task_notifications{
    display: inline-block;
    width: 100%;
    margin-top: 6px;
}
div.tasks div.task ul.task_notifications li{
    float: left;
    margin-left: 5px;
}
div.tasks div.task ul.task_notifications li:first-child{
    margin-left: 0px;
}
div.tasks div.task ul.task_notifications li span.ico{
    display: block; 
    width: 13px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center -14px;
}
div.tasks div.task ul.task_notifications li span.ico.active{
    background-position: center 0px!important;
}
div.tasks div.task ul.task_notifications li span.ico.priority_a{
    background-image: url("../images/ico/status/a.png");
}
div.tasks div.task ul.task_notifications li span.ico.priority_b{
    background-image: url("../images/ico/status/b.png");
}
div.tasks div.task ul.task_notifications li span.ico.priority_c{
    background-image: url("../images/ico/status/c.png");
}
div.tasks div.task ul.task_notifications li span.ico.priority_d{
    background-image: url("../images/ico/status/d.png");
}
div.tasks div.task ul.task_notifications li span.ico.repeat{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/repeat.png");
    margin-top: 1px;
}
div.tasks div.task ul.task_notifications li span.ico.repeat_out{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/repeat_out.png");
    margin-top: 1px;
}
div.tasks div.task ul.task_notifications li span.ico.repeat.active{

}
div.tasks div.task ul.task_notifications li span.ico.reminder{
    background-image: url("../images/ico/status/reminder.png");
}
div.tasks div.task ul.task_notifications li span.ico.place{
    background-image: url("../images/ico/status/place.png");
}
div.tasks div.task ul.task_notifications li span.ico.list{
    height: 13px; 
    background-position: 0px -13px;
    background-image: url("../images/ico/status/list.png");
    margin-top: 1px;
}
div.tasks div.task ul.task_notifications li span.ico.list.active{

}
div.tasks div.task ul.task_notifications li span.ico.executor{
    background-image: url("../images/ico/status/executor.png");
}
div.tasks div.task ul.task_notifications li span.ico.files{
    background-image: url("../images/ico/status/files.png");
}
div.tasks div.task ul.task_notifications li span.ico.comments{
    background-image: url("../images/ico/status/comments.png");
}
div.tasks div.task ul.task_notifications li span.ico.edited{
    background-image: url("../images/ico/status/edited.png");
}
div.tasks div.task ul.task_notifications li span.ico.calendar{
    background-image: url("../images/ico/status/calendar.png");
}
div.tasks div.task ul.task_notifications li span.ico.time{
    background-image: url("../images/ico/status/time.png");
}

div.tasks div.task.done div.task_title{
    color: #000;
    text-decoration: line-through;
    opacity: 0.6;
}
div.tasks div.task.done div.task_date span{
    color: #000;
    text-decoration: line-through;
    opacity: 0.6;
}
/*list sorting*/
.list_filter{
    margin-top: 11px;
    display: inline-block;
    width: 265px;
}
div.list_sort_wrapper{
    display: block;
    position: relative;
    float: left;
}
a.sort_delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/button/delete.png") 0px 0px no-repeat;
    position: absolute;
    right: 5px;
    top: 6px;
}
a.sort_delete:hover{
    background-position: 0px -8px;
}
select#list_sort{
    font-size: 12px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    padding-left: 15px;
}
.ui-front{
    z-index: 200;
}
.list_filter #list_sort-button .ui-icon{
    display: none;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir{
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    left: 6px;
    top: 5px;
    background-image: url("../images/ico/sort_small.png");
    background-repeat: no-repeat;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir.desc{
    background-position: 0px 0px;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir.asc{
    background-position: -5px 0px;
}
.list_filter #list_sort-button .ui-selectmenu-text{
    font-size: 12px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    padding-left: 15px;
}
.list_filter #list_sort-button{
    font-size: 12px;
    background: none;
    background-color: #f3f3f5;
    color: #878787;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    box-shadow: none;
    width: auto!important;
    padding-right: 18px;
}
.list_filter #list_sort-button:hover{
    background-color: #e8e8eb;
}
.list_filter #list_sort-button.ui-corner-top{
    background-color: #40b99a;
    color: #fff;
}
.list_filter #list_sort-button.ui-corner-top .ui-selectmenu-text span.dir{
    background-position-y: -9px;
}
.list_filter #list_sort-button.ui-corner-top a.sort_delete{
    background-position: 0px -8px;
}
/* select with custom icons */
.ui-widget{
    font-family: "Open Sans";
}
.ui-selectmenu-menu .ui-menu{
    border-radius: 0px;
    padding: 0px;
}
.ui-selectmenu-menu .ui-menu.list_sort .ui-menu-item .ui-icon {
    height: 12px;
    width: 7px;
    left: 1em;
}
.ui-icon.asc {
    background: url("../images/ico/sort.png") -7px 0px no-repeat;
}
.ui-icon.desc {
    background: url("../images/ico/sort.png") 0px 0px no-repeat;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item{
    background: none;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #333333;
    border: 2px solid #fff;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus{
    color: #fff;
    background: none;
    background-color: #40b99a;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus .ui-icon.asc {
    background-position-y: -12px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus .ui-icon.desc {
    background-position-y: -12px;
}
/*select end*/
div.list_filter div:first-child{
    margin-right: 5px;
}
div.filter_by_user{
    font-size: 12px;
    background-color: #f3f3f5;
    color: #878787;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    position: relative;
    float: left;
    padding: 0px 19px 0px 6px;
}
/*POPUP ADD LIST*/
div.popup{
    background-color: #fff;
    position: absolute;
    z-index: 101;
    box-shadow: 0px 0px 3px 0px #010101;
}
div.popup.list_settings,
div.popup.lists_settings,
div.popup.addlist{
    display: none;
    width: 625px;
    right: 0px;
    top: 45px;
}
div.popup.list_settings .popup_body,
div.popup.lists_settings .popup_body,
div.popup.addlist .popup_body{
    padding: 20px;
}
div.popup.list_settings .popup_addlist_col_left,
div.popup.addlist .popup_addlist_col_left{
    width: 270px;
    margin-right: 40px;
    float: left;
}
div.popup.list_settings .popup_addlist_col_right,
div.popup.addlist .popup_addlist_col_right{
    width: 275px;
    float: left;
}
div.popup div.popup_header{
    position: relative;
    padding: 0px 20px;
}
div.popup.list_settings div.popup_footer,
div.popup.addlist div.popup_footer{
    background-color: #f3f3f5;
    padding-top: 18px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #cccccc;
}
div.popup.list_settings div.popup_header,
div.popup.lists_settings div.popup_header,
div.popup.addlist div.popup_header{
    background-color: #3bad90;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
div.popup.list_settings div.popup_header a,
div.popup.lists_settings div.popup_header a,
div.popup.addlist div.popup_header a{
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
div.popup.list_settings div.popup_header a.close:hover,
div.popup.lists_settings div.popup_header a.close:hover,
div.popup.addlist div.popup_header a.close:hover{
    background: url("../images/ico/controls/close.png") 0px -25px!important;
}
div.popup.list_settings div.popup_header .tail,
div.popup.lists_settings div.popup_header .tail,
div.popup.addlist div.popup_header .tail{
    display: block;
    border: 5px solid transparent;
    border-bottom: 5px solid #3bad90;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 28px;
}
div.popup div.popup_header .close{
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/ico/controls/close.png") 0px 0px no-repeat;
    position: absolute;
    right: 20px;
    top: 10px;
}
div.popup div.popup_header .close:hover{
    background-position: 0px -50px!important;
}
form input[type="submit"]{
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    font-size: 14px;
    color: #fff;
    height: 44px;
    line-height: 44px;
    padding: 0px 20px;
    border-bottom: 1px solid #c3c3c4;
    border-radius: 5px;
    background-color: #3bad90;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #40b99a;
}
form input[type="submit"]:active{
    background-color: #37a085;
    border-bottom: none;
    top: 1px;
    opacity: 0.8;
}
div.popup.list_settings form input[type="text"],
div.popup.addlist form input[type="text"]{
    background: none;
    border: none;
    outline: none;
    background-color: #f5f6f7;
    border: 1px solid #d9dada;
    width: 270px;
    height: 14px;
    line-height: 14px;
    padding: 18px 15px;
    color: #333333;
}
div.popup.list_settings div.row,
div.popup.lists_settings div.row,
div.popup.addlist div.row{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
div.popup label{
    display: block;
}
div.popup label.checkbox{
    display: inline-block;
    padding-left: 5px;
    line-height: 16px;
    float: left;
}
div.popup.list_settings label,
div.popup.lists_settings label,
div.popup.addlist label{
    font-size: 12px;
    color: #878787;
    padding-bottom: 3px;
}
div.popup.list_settings label.checkbox,
div.popup.addlist label.checkbox{
    width: 235px;
    float: left;
}
div.popup.list_settings select,
div.popup.addlist select{
    font-size: 14px;
    padding: 0px 15px;
}
.ui-selectmenu-button{
    font-size: 14px;
    height: 36px;
    background: none;
    background-color: #fff;
    border-radius: 0px;
    padding: 0px 15px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 0px;
    line-height: 38px;
}
.ui-selectmenu-button.sorted span.ui-selectmenu-text {
    padding-left: 12px;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir{
    display: block;
    width: 7px;
    height: 12px;
    position: absolute;
    left: 15px;
    top: 13px;
    background: url("../images/ico/sort.png") 0px 0px no-repeat;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir.asc{
    background-position: -7px 0px;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir.desc{
    background-position: 0px 0px;
}
.ui-selectmenu-button span.ui-icon {
    width: 11px;
    height: 7px;
    right: 14px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    background: url("../images/ico/select_marker.png") 0px -21px no-repeat;
}
.ui-selectmenu-button.ui-corner-top span.ui-icon {
    background-position: 0px -7px;
}
.ui-selectmenu-button.ui-corner-top,
.ui-selectmenu-button.ui-state-hover{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.popup_addlist_col_left .ui-selectmenu-button{
    width: 238px!important;
    background-color: #f5f6f7;
}
ul.colors{
    display: inline-block;
    width: 100%;
}
ul.colors li{
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    font-size: 0px;
    cursor: pointer;
}
ul.colors li.selected{
    background-image: url("../images/ico/status/done.png");
    background-repeat: no-repeat;
    background-position: center;
}
div.popup.list_settings .popup_addlist_col_right ul.colors,
div.popup.addlist .popup_addlist_col_right ul.colors{
    width: 280px;
}
button.ui-checkbox{
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    float: left;
}
button.ui-checkbox.ui-state-default .ui-icon{
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background: url("../images/ico/checkbox.png") 0px -16px no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}
button.ui-checkbox.ui-state-default .ui-icon.ui-icon-check{
    background-position: 0px 0px;
}
.checkbox_toggle button.ui-checkbox{
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    float: left;
}
.checkbox_toggle button.ui-checkbox.ui-state-default .ui-icon{
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background: url("../images/ico/toggle.png") 0px -18px no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}
.checkbox_toggle button.ui-checkbox.ui-state-default .ui-icon.ui-icon-check{
    background-position: 0px 0px;
}
/*POPUP ADD LIST END*/
/*POPUP LISTS SETTINGS*/
div.popup.lists_settings{
    width: 315px;
    right: 54px;
    z-index: 102;
}
div.popup.lists_settings label.checkbox{
    width: 235px;
    float: right;
}
div.popup.lists_settings div.popup_footer div.ico.trashbox{
    width: 23px;
    height: 25px;
    background:  url("../images/ico/controls/delete.png") 0px -25px no-repeat;
    position: absolute;
    left: 13px;
    top: 11px;
}
div.popup.lists_settings div.popup_footer{
    background-color: #f3f3f5;
    padding: 9px 13px 13px 48px;
    font-size: 12px;
    line-height: 16px;
    color: #878787;
    position: relative;
}
div.popup.lists_settings div.popup_footer a{
    color: #6595ba;
}
/*POPUP LISTS SETTINGS END*/
/*POPUP LIST SETTINGS*/
div.popup.list_settings{
    /*display: block;*/
    z-index: 101;
    right: -31px;
    top: 40px;
}
div.popup.list_settings div.subtitle{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
div.popup.list_settings div.shares{
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
    background-color: #f3f3f5;
    padding: 7px 10px 10px 10px;
    position: relative;
    margin-top: 7px;
}
div.popup.list_settings div.shares .users{
    color: #878787;
}
div.popup.list_settings a{
    color: #6595ba;
}
div.popup.list_settings div.list_actions{
    margin-top: -10px;
}
div.popup.list_settings div.list_actions ul{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    margin-top: 7px;
}
div.popup.list_settings div.list_actions ul li{
    float: left;
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid #6595ba;
}
div.popup.list_settings div.list_actions ul li:first-child{
    margin-left: 0px;
    padding-left: 0px;
    border-left: none;
}
/*POPUP LIST SETTINGS END*/
/*POPUP NEW TASK*/
div.popup.new_task{
    display: none;
    width: 500px;
    position: absolute;
    top: 50px;
    right: 215px;
    background-color: #f3f3f5;
}
div.popup.new_task div.popup_header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}
div.popup.new_task div.popup_header a.save{
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 20px;
    padding: 0px 16px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #c3c3c4;
}
div.popup.new_task div.popup_header a.save:active{
    top: 10px;
}
div.popup.new_task div.popup_header a.delete{
    display: inline-block;
    width: 23px;
    height: 25px;
    position: absolute;
    top: 14px;
    left: 132px;
    background: url("../images/ico/controls/delete.png") 0px -25px no-repeat;
}
div.popup.new_task div.popup_header a.delete:hover{
    background-position: 0px -50px;
}
div.popup.new_task div.popup_header a.close{
    display: inline-block;
    padding-right: 29px;
    color: #878787;
    text-decoration: none;
    width: auto;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 14px;
    right: 20px;
    background: url("../images/ico/controls/close.png") right -25px no-repeat;
}
div.popup.new_task div.popup_header a.close:hover{
    background-position: right -50px!important;
    color: #3aac90;
}
div.popup.new_task div.popup_header a.delete:hover{
    background-position: 0px -50px;
}
div.popup.new_task div.popup_header div.title{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
div.popup.new_task div.body{
    padding: 0px 20px;
}
form div.row{
    margin-bottom: 20px;
    position: relative;
}
form div.row10{
    margin-bottom: 10px;
    position: relative;
}
form label{
    font-size: 12px;
    color: #878787;
    padding-bottom: 3px;
    position: relative;
}
form label span{
    color: #6595ba;
}
form label div.author{
    position: absolute;
    right: 0px;
    top: 0px;
}
form label div.author span{
    color: #333333;
}
a.button.cancel{
    background-color: #fff;
    display: inline-block;
    width: auto;
    font-size: 14px;
    color: #878787;
    padding: 0px 20px;
    height: 42px;
    min-width: 76px;
    line-height: 42px;
    border: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
form a.button.cancel{
    margin-right: 10px;
}
a.button.cancel:hover{
    border: 1px solid #3bad90;
    border-bottom: 2px solid #3bad90;
    color: #3bad90
}
a.button.cancel:active{
    border: 1px solid #3bad90;
    border-bottom: 1px solid #3bad90;
    background-color: #f4f4f4;
    color: #3bad90;
    margin-top: 1px!important;
}
form input[type="submit"]{
    font-size: 14px;
    color: #fff;
    height: 44px;
    min-width: 116px;
    line-height: 44px;
    padding: 0px 34px;
}
form input[type="password"],
form input[type="text"]{
    max-width: 100%;
    background: none;
    border: none;
    outline: none;
    background-color: #f5f6f7;
    height: 38px;
/*    height: 14px;
    font-size: 14px;
    padding: 18px 15px;*/
    padding: 0px 15px;
    color: #333333;
    line-height: 14px;
    width: 460px;
    border: 1px solid #cccccc;
}
form input.error,
form input.error{
    background-color: #f7dddc;
    border: 1px solid #e09592;
}
form div.error{
    background-color: #e05852;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}
form div.error span{
    display: inline-block;
    padding-left: 15px;
    background: url("../images/ico/warning.png") left center no-repeat;
}
form input.error:focus,
form input.error:focus{
    border: 1px solid #e09592!important;
    box-shadow: none!important;
}
form textarea{
    max-width: 100%;
    background: none;
    border: none;
    outline: none;
    background-color: #eaeaed;
    min-height: 14px;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    padding: 10px;
    width: 460px;
    border: 1px solid #cccccc;
}
form select{
    width: 100%;
}
form input[type="password"]:focus,
form input[type="text"]:focus,
form textarea:focus{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
div.popup.new_task form input[type="password"],
div.popup.new_task form input[type="text"]{
    background-color: #eaeaed;
}
div.popup.new_task form input.task_title{
    padding-left: 37px;
    background: url("../images/ico/status/checkbox.png") 12px center no-repeat;
    background-color: #eaeaed;
}
div.popup.new_task form select.select_list{
    width: 425px;
}
div.popup.new_task form .ui-selectmenu-button{
    background-color: #eaeaed;
    color: #333333;
    border: 1px solid #cccccc;
}
div.popup.new_task form a.new_list{
    display: inline-block;
    color: #878787;
    text-decoration: none;
    height: 25px;
    width: 25px;
    line-height: 25px;
    position: absolute;
    top: 22px;
    right: 0px;
    background: url("../images/ico/controls/add.png") 0px -25px no-repeat;
}
div.popup.new_task form a.new_list:hover{
    background-position: 0px -50px;
}
div.popup.new_task form a.toggle{
    
}
div.popup.new_task form a.toggle.active{
    text-decoration: none;
    color: #878787;
}
div.popup.new_task div.toggle_data{
    display: none;
}
div.popup.new_task div.toggle_data.active{
    display: block;
}
div.popup.new_task div.list_list{

}
div.popup.new_task div.list_list ul{

}
div.popup.new_task div.list_list ul li{
    height: 38px;
    line-height: 38px;
    position: relative;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    color: #333333;
    padding-left: 37px;
    background: url("../images/ico/status/checkbox.png") 12px center no-repeat;
}
div.popup.new_task div.list_list ul li input{
    background: none;
    border: none;
    width: 100%;
    padding-left: 0px;
}
div.popup.new_task div.list_list ul li a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -4px;
}
div.popup.new_task div.list_list ul li a.delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task div.list_priority{
    display: block;
    float: left;
}
div.popup.new_task label.ui-button{
    width: auto;
    float: left;
    padding-bottom: 0px;
}
div.popup.new_task label.list_priority{
    float: left;
    line-height: 16px;
    padding-right: 10px;
}
.radio-buttons.ui-buttonset label.ui-button-text-only{
    padding: 0px;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
    padding-left: 21px;
    height: 16px;
    background: url("../images/ico/radiobox.png") 0px -16px no-repeat;
}
.radio-buttons.ui-buttonset label.ui-button-text-only.ui-state-hover{
    background-position: 0px -32px;
}
.radio-buttons.ui-buttonset label.ui-button-text-only.ui-state-active{
    background-position: 0px 0px;
}
.radio-buttons.ui-buttonset label.ui-button-text-only .ui-button-text{
    padding: 0px;
    border: none;
    background: none;
}
.list_priority.ui-buttonset label.ui-button-text-only .ui-button-text img{
    width: 20px;
    height: 21px;
    position: relative;
    top: -2px;
}
div.popup.new_task div.part{
    position: relative;
    margin-bottom: 5px;
}
div.popup.new_task div.part div.part_title{
    font-size: 12px;
    text-align: left;
    padding-left: 65px;
    color: #878787;
    height: 54px;
    line-height: 54px;
    background-color: #e8e8eb;
    cursor: pointer;
    position: relative;
    /*z-index: 2;*/
}
div.popup.new_task div.part.edited div.part_title{
    border-left: 3px solid #bdbdbd;
    padding-left: 62px;
}
div.popup.new_task div.part.edited div.part_title div.part_title_text{
    line-height: 16px;
}
div.popup.new_task div.part.edited div.part_title div.part_title_text{
    padding-top: 11px;
}
div.popup.new_task div.part div.part_title div.part_title_text div.edited_note{
    display: inline-block;
    font-weight: bold;
    color: #333333;
    position: relative;
    padding-right: 15px;
}
div.popup.new_task div.part div.part_title div.part_title_text div.edited_note a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -4px;
}
div.popup.new_task div.part div.part_title div.part_title_text div.edited_note a.delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task div.part div.part_title div.part_ico{
    width: 25px;
    height: 25px;
    font-size: 0px;
    position: absolute;
    left: 21px;
    top: 50%;
    margin-top: -12px;
}
div.popup.new_task div.part.edited div.part_title div.part_ico span{
    width: 7px;
    height: 7px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url("../images/ico/notice_dote.png") 0px 0px no-repeat;
}
div.popup.new_task div.part div.part_title > span{
    display: block;
    width: 11px;
    height: 7px;
    background-image: url("../images/ico/select_marker.png");
    background-repeat: no-repeat;
    background-position: 0px -21px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px;
}
div.popup.new_task div.part div.part_title.active{
    background-color: #fff;
    border-bottom: 1px solid #e8e8eb;
    height: 53px;
}
div.popup.new_task div.part div.part_title.active span{
    background-position: 0px -14px;
}
div.popup.new_task div.part div.part_content{
    background-color: #fff;
    padding: 20px;
    display: none;
    padding-left: 65px;
}
div.popup.new_task div.part div.part_content.active{
    display: block;
}
div.popup.new_task div.part div.part_content .ui-selectmenu-button,
div.popup.new_task div.part div.part_content input{
    background-color: #f5f6f7;
}
div.popup.new_task div.popup_footer{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    padding-bottom: 20px;
}
div.popup.new_task div.part div.part_col_left{
    width: 177px;
    float: left;
    margin-right: 23px;
}
div.popup.new_task div.part div.part_col_right{
    width: 174px;
    float: left;
}
div.popup.new_task form input.date{
    width: 102px!important;
    padding: 18px 10px;
    text-align: center;
    float: left;
}
div.popup.new_task div.part div.task_date_range{
    background: url("../images/ico/date_separator.png") center 33px no-repeat;
}
div.popup.new_task div.part div.task_date_range div.part_col_left input.date{
    margin-right: 6px;
}
div.popup.new_task div.part div.task_date_range div.part_col_right input.time{
    margin-right: 6px;
}
div.popup.new_task form input.time{
    width: 66px!important;
    padding: 18px 10px;
    text-align: center;
    float: left;
}
div.popup.new_task form div.task_duration input[type="text"]{
    width: 84px!important;
    padding: 18px 10px;
    float: left;
}
div.popup.new_task form div.task_duration input[type="text"]:first-child{
    margin-right: 6px;
}
div.popup.new_task form div.task_duration div.part_col_right{
    padding-top: 22px;
}
div.popup.new_task form div.part_col_left select,
div.popup.new_task form div.part_col_left .ui-selectmenu-button,
div.popup.new_task form div.part_col_right select,
div.popup.new_task form div.part_col_right .ui-selectmenu-button{
    width: 175px;
}
div.popup.new_task form div.part_col_left input,
div.popup.new_task form div.part_col_right input{
    width: 175px;
}
div.popup.new_task form div.day_repeat{
    margin-top: 5px;
    width: 395px;
}
div.popup.new_task form div.day_repeat label.checkbox{
    margin-right: 20px;
}
div.popup.new_task form div.part_col_right div.reminder_value{
    width: 50px;
    float: left;
    margin-right: 6px;
}
div.popup.new_task form div.part_col_right div.reminder_unit{
    width: 104px;
    float: left;
}
div.popup.new_task form div.part_col_right div.reminder_value input{
    width: 50px;
    text-align: center;
    padding: 18px 5px;
}
div.popup.new_task form div.part_col_right div.reminder_unit select,
div.popup.new_task form div.part_col_right div.reminder_unit .ui-selectmenu-button{
    width: 102px;
}
div.popup.new_task form select.task_executor{
    width: 375px;
}
div.popup.new_task a.add{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding-left: 32px;
    background: url("../images/ico/controls/add.png") 0px -25px no-repeat;
    text-decoration: none;
    font-size: 12px;
    color: #878787;
}
div.popup.new_task a.add:hover{
    color: #3aac90;
    background-position: 0px -50px;
}
div.popup.new_task .tasks{
    padding-right: 20px;
}
div.popup.new_task .tasks{
    padding-right: 20px;
}
div.tasks div.task a.task_delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: -17px;
    top: 0px;
}
div.tasks div.task a.task_delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task ul.uploaded_files{
    margin-bottom: 20px;
}
div.popup.new_task ul.uploaded_files li{
    display: block;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
    padding-left: 17px;
    background: url("../images/ico/file.png") 0px 0px no-repeat;
    position: relative;
    margin-top: 10px;
}
div.popup.new_task ul.uploaded_files li:first-child{
    margin-top: 0px;
}
div.popup.new_task ul.uploaded_files li div{
    display: inline-block;
    position: relative;
    padding-right: 13px;
}
div.popup.new_task ul.uploaded_files li div a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -4px;
}
div.popup.new_task ul.uploaded_files li div a.delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task div.upload_area{
    width: 370px;
    height: 74px;
    position: relative;
    line-height: 74px;
    font-size: 12px;
    color: #b3b6ba;
    border: 3px dashed #dbdbdb;
    text-align: center;
    border-radius: 5px;
}
div.popup.new_task div.upload_area:hover{
    background-color: #f3f3f5;
}
.task_comments{
    
}
.task_comments .task_comment{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.task_comments .task_comment .task_comment_ava{
    width: 60px;
    float: left;
}
.task_comments .task_comment .task_comment_ava img{
    width: 40px;
    height: auto;
}
.task_comments .task_comment .task_comment_text{
    width: 315px;
    float: left;
    position: relative;
}
.task_comments .task_comment .task_comment_text .task_comment_author{
    font-size: 12px;
    color: #333333;
    line-height: 12px;
    padding-bottom: 8px;
}
.task_comments .task_comment .task_comment_text .task_comment_author span{
    color: #878787;
}
.task_comments .task_comment .task_comment_text .task_comment_content{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    background-color: #f3f3f5;
    position: relative;
    padding: 7px 10px;
    border-radius: 5px;
}
.task_comments .task_comment .task_comment_text .task_comment_content:before{
    display: block;
    border: 8px solid transparent;	
    border-top: 8px solid #f3f3f5; 
    border-right: 8px solid #f3f3f5;
    position: absolute;
    top: 0px;
    left: -8px;
    content: " ";
}
.task_comments .task_comment textarea{
    max-width: 100%;
    background: none;
    border: none;
    outline: none;
    background-color: #eaeaed;
    height: 38px;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    padding: 10px;
    width: 460px;
    border: 1px solid #cccccc;
}
.task_comments .task_comment textarea:focus{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.task_comments .task_comment_submit_wrapper{
    position: relative;
    padding-left: 60px;
    margin-top: -10px;
}
.task_comments .task_comment_submit_wrapper input[type="submit"]{
    font-size: 12px!important;
    height: 32px!important;
    line-height: 32px!important;
    padding: 0px 15px!important;
    background-color: #3bad90!important;
}
.task_comments .task_comment_submit_wrapper a.clear{
    display: inline-block;
    padding-right: 29px;
    color: #878787;
    text-decoration: none;
    width: auto;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0px;
    font-size: 12px;
    background: url("../images/ico/controls/close.png") right -25px no-repeat;
}
.task_comments .task_comment_submit_wrapper a.clear:hover{
    
}
.task_comments .task_comment_submit_wrapper a.clear:hover{
    background-position: right -50px;
    color: #3aac90;
}
.task_log{
    margin-bottom: 15px;
}
.task_log .log_date span{
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #878787;
    border-radius: 3px;
    background-color: #ebebeb;
    padding: 0px 5px;
}
.task_log .log_info_wrapper{
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    width: 100%;
}
.task_log .log_info_wrapper .log_time{
    color: #878787;
    float: left;
    width: 40px;
    padding: 0px 3px;
}
.task_log .log_info_wrapper .log_info{
    color: #999999;
    float: left;
    width: 329px;
}
.task_log .log_info_wrapper .log_info span{
    font-weight: bold;
    color: #333333;
}
/*POPUP NEW TASK END*/
/*POPUP NOTIFICATIONS */
div.popup.notifications{
    display: none;
    width: 278px;
    background-color: #494c52;
    position: absolute;
    right: 10px;
    top: 50px;
    box-shadow: none;
}
div.popup.notifications .popup_header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #55595e;
}
div.popup.notifications .popup_header div.title{
    color: #3bad90;
    font-weight: bold;
    font-size: 14px;
}
div.popup.notifications .popup_header .close{
    top: 50%;
    margin-top: -12px;
    right: 20px;
    background-position: 0px -25px; 
}
div.popup.notifications .popup_header .close:hover{
    background-position: 0px -50px; 
}
div.popup.notifications .popup_header .menu{
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 55px;
    top: 50%;
    margin-top: -10px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 0px -20px;
}
div.popup.notifications .popup_header .menu:hover{
    background-position: 0px -40px;
}
div.popup.notifications .popup_content{
    background-color: #55595e;
}
div.popup.notifications .notification.active{
    background-color: #55595e;
}
div.popup.notifications .notification{
    padding: 10px;
    margin-bottom: 1px;
    border: 5px solid #494c52;
    background-color: #494c52;
}
div.popup.notifications .notification .notification_ico{
    width: 25px;
    float: left;
    position: relative;
    margin-right: 9px;
}
div.popup.notifications .notification .notification_ico img{
}
div.popup.notifications .notification.active .notification_ico span {
    width: 7px;
    height: 7px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url("../images/ico/notice_dote.png") 0px 0px no-repeat;
}
div.popup.notifications .notification .notification_info{
    width: 206px;
    float: left;
}
div.popup.notifications .notification .notification_info .notification_date{
    font-size: 12px;
    line-height: 12px;
    color: #3bad90;
    padding-bottom: 5px;
}
div.popup.notifications .notification .notification_info .notification_comment{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    padding-bottom: 5px;
}
div.popup.notifications .notification .notification_info .notification_text{
    font-size: 12px;
    line-height: 16px;
    color: #cccccc;
    padding: 6px 10px;
    border: 1px solid #999999;
    border-radius: 3px;
    position: relative;
}
div.popup.notifications .notification.comment .notification_info .notification_text:before{
    content: " ";
    width: 9px;
    height: 7px;
    position: absolute;
    left: -8px;
    top: -1px;
    background: url("../images/comment_tail.png") 0px 0px no-repeat;
}
div.popup.notifications .notification a.read_more{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: #6595ba;
    margin-top: 5px;
    margin-left: 2px;
}
/*POPUP NEW TASK END*/
/*POPUP AUTH */
div.popup.auth{
    width: 280px;
    border-top: 3px solid #3bad90;
    background-color: #fff;
    font-size: 12px;
    color: #878787;
    top: 100px;
}
div.popup.auth a{
    color: #6595ba
}
div.popup.auth .popup_header{
    padding-top: 21px;
}
div.popup.auth .popup_header a.logo{
    display: block;
    width: 70px;
    height: 25px;
    font-size: 0px;
    margin-left: auto;
    margin-right: auto;
}
div.popup.auth .popup_header div.subtitle{
    font-size: 14px;
    color: #878787;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 16px;
}
div.popup.auth .popup_header div.title{
    font-size: 14px;
    line-height: 14px;
    color: #3bad90;
    text-align: center;
    font-weight: bold;
    padding-bottom: 6px;
}
div.popup.auth div.popup_header .close{
    right: 5px;
    top: 7px;
    background-position: 0px -25px;
}
div.popup.auth .popup_content{
    padding: 0px 20px;
}
div.popup.auth .popup_content form label{
    font-size: 12px;
    color: #878787;
}
div.popup.auth .popup_content form input{
    width: 100%;
}
div.popup.auth .popup_footer{
    background-color: #f4f4f7;
    border-top: 1px solid #e3e3e3;
    padding: 15px 0px;
    text-align: center;
}
a.social{
    display: block;
    font-size: 0px;
    line-height: 0px;
}
a.social.google{
    width: 240px;
    height: 80px;
    background: url("../images/ico/socials/google.png") 0px 0px no-repeat;
}
a.social.google:hover{
    background-position: 0px -80px;
}
a.social.fb{
    width: 40px;
    height: 40px;
    background: url("../images/ico/socials/fb.png") 0px 0px no-repeat;
}
a.social.vk{
    width: 40px;
    height: 40px;
    background: url("../images/ico/socials/vk.png") 0px 0px no-repeat;
}
a.social.tw{
    width: 40px;
    height: 40px;
    background: url("../images/ico/socials/tw.png") 0px 0px no-repeat;
}
a.social.fb:hover,
a.social.vk:hover,
a.social.tw:hover{
    background-position: 0px -40px;
}
div.popup.auth .popup_footer a.social.google{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
div.popup.auth .popup_footer div.clear a.social{
    display: inline-block;
    margin: 0px 3px;
    margin-top: 10px;
}
div.popup.auth form div.row10{
    line-height: 16px;
}
div.popup.auth form div.hint{
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
}
/*POPUP AUTH END*/
/*POPUP DIALOG*/
div.popup.dialog{
    width: 460px;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}
div.popup.dialog .subtitle{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}
div.popup.dialog div.popup_header{
    height: 44px;
    line-height: 44px;
    background-color: #3bad90;
    padding: 0px 20px;
}
div.popup.dialog div.popup_header div.title{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
}
div.popup.dialog.trashbox div.popup_header div.title{
    padding-left: 30px;
}
div.popup.dialog.trashbox div.popup_header div.title:before{
    display: inline-block;
    content: " ";
    width: 23px;
    height: 25px;
    background: url("../images/ico/controls/delete.png") 0px 0px no-repeat;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -12px;
}
div.popup.dialog.trashbox div.task div.task_title{
    width: 260px;
}
div.popup.dialog.trashbox div.task a.cancel{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    position: absolute;
    right: 4px;
    top: 4px;
    margin: 0px;
}
div.popup.dialog div.popup_header a.close{
    background-position: 0px 0px;
}
div.popup.dialog div.popup_header a.close:hover{
    background-position: 0px -25px!important;
}
div.popup.dialog div.popup_content{
    padding: 20px;
}
div.popup.dialog div.popup_footer{
    text-align: center;
    padding: 20px;
    background-color: #f4f4f7;
    border-top: 1px solid #e3e3e3;
}
div.popup.dialog div.list_user_title{
    font-weight: bold;
    color: #878787;
    line-height: 12px;
    padding-bottom: 3px;
}
div.popup.dialog div.list_user{
    display: inline-block;
    width: 400px;
    position: relative;
    padding: 10px;
    height: 40px;
    line-height: 40px;
    background-color: #f4f4f7;
    margin-bottom: 5px;
}
div.popup.dialog div.list_user div.ava{
    width: 40px;
    margin-right: 20px;
    font-size: 0px;
    float: left;
}
div.popup.dialog div.list_user div.ava img{
    width: 100%;
    height: auto;
}
div.popup.dialog div.list_user div.name{
    width: 150px;
    margin-right: 15px;
    color: #333333;
    float: left;
}
div.popup.dialog div.list_user div.email{
    width: 175px;
    color: #878787;
    float: left;
}
div.popup.dialog div.list_user a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
}
div.popup.dialog div.list_user a.delete:hover{
    background-position: 0px -8px;
}
div.popup.dialog div.list_user_add_wrapper{
    position: relative;
    display: none;
}
div.popup.dialog div.list_user_add_wrapper a.button{
    position: relative;
    width: 60px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
div.popup.dialog div.list_user_add_wrapper .checkbox_toggle{
    position: absolute;
    right: 0px;
    top: 7px;
}
/*POPUP DIALOG END*/
/*POPUP CALENDAR*/
div.calendar_wrapper{
    
}
div.calendar_top{
    padding: 15px 20px;
    border-bottom: 1px solid #cccccc;
    height: 170px;
    position: relative;
}
div.calendar_lists{
    padding-right: 320px;
}
div.calendar_lists .title{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
div.calendar_lists .colors{
    margin-top: 20px;
}
div.calendar_lists .colors li{
    background: none;
    border: none;
    height: 16px;
    line-height: 16px;
    margin: 0px;
    width: 190px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    padding-left: 21px;
    position: relative;
    font-weight: bold;
}
div.calendar_lists .colors li:before{
    display: block;
    width: 15px;
    height: 15px;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
}
div.calendar_lists .colors li.active:before{
    border: 1px solid #c8c8c8;
    background: url("../images/ico/cross.png") center no-repeat;
    background-color: #fff;
}
div.calendar_datepicker_wrapper{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    border-left: 1px solid #cccccc;
    height: 160px;
}
div.calendar_datepicker_wrapper .calendar_datepicker{
    margin-top: -10px;
}
div.calendar_top a.block_menu{
    top: -3px;
}
a.block_menu {
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 7px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 0px -20px;
}
a.block_menu:hover{
    background-position: 0px -40px;
}
div.calendar_header{
    height: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
div.calendar_header div.title{
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
div.calendar_header ul.calendar_nav{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 13px;
    height: 25px;
}
div.calendar_header ul.calendar_nav li{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.calendar_header ul.calendar_nav li:first-child{
    margin-left: 0px;
}
div.calendar_header ul.calendar_nav li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.calendar_header ul.calendar_nav li a.prev{
    background-image: url("../images/ico/controls/prev.png");
}
div.calendar_header ul.calendar_nav li a.next{
    background-image: url("../images/ico/controls/next.png");
}
div.calendar_header ul.calendar_nav li a:hover{
    background-position: 0px -50px;
}
div.calendar_header ul.calendar_nav li a.disabled{
    background-position: 0px 0px;
}
div.calendar_header .ui-buttonset label.ui-button-text-only{
    font-size: 12px;
    float: left;
    margin: 0px;
    background: none;
    margin-left: -1px;
    border: 1px solid #ccc;
}
div.calendar_header .ui-buttonset label.ui-button-text-only:first-child{
    margin-left: 0px;
}
div.calendar_header .ui-buttonset label.ui-button-text-only.ui-state-hover{
    background-color: #ebebeb;
}
div.calendar_header .ui-buttonset label.ui-button-text-only.ui-state-active{
    background-color: #ebebeb;
}
div.calendar_header .ui-buttonset label.ui-button-text-only.ui-state-active .ui-button-text{
    color: #2f8a73;
    background-color: #ebebeb;
}
div.calendar_header .ui-buttonset label.ui-button-text-only .ui-button-text{
    color: #808080;
}
div.calendar_header form.calendar_show_by{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
}
.calendar_body div.calendar table.calendar{
    width: 100%;
}
.calendar_body div.calendar table.calendar tr th{
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #808080;
    width: 195px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0px;
    border-top: none;
}
.calendar_body div.calendar table.calendar tr th:first-child{
    width: 50px;    
}
.calendar_body div.calendar table.calendar tr td:first-child{
    width: 50px;    
    font-size: 12px;
    color: #808080;
    text-align: center;
    background-color: #fff!important;
}
.calendar_body div.calendar table.calendar tr:nth-child(2) td{
    height: 19px;
    line-height: 19px;
    background-color: #fafafa;
}
.calendar_body div.calendar table.calendar tr td{
    width: 195px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0px;
    vertical-align: top;
}
.calendar_body div.calendar table.calendar tr td:first-child .hour{
    font-size: 12px;
    color: #808080;
    line-height: 40px;
    border-top: 1px solid #cccccc;
    padding-top: 0px;
    position: relative;
}
.calendar_body div.calendar table.calendar tr td:first-child .hour .current_time{
    display: block;
    border: 5px solid transparent;
    border-left: 5px solid #ff2121;
    position: absolute;
    left: -1px;
}
.calendar_body div.calendar table.calendar tr td:first-child .hour:first-child{
    border-top: none;
}
.calendar_body div.calendar table.calendar .hour{
    height: 40px;
    padding-top: 1px;
    position: relative;
}
.calendar_body div.calendar table.calendar tr td .grid .hour:first-child{
    padding-top: 0px;
}
.calendar_body div.calendar table.calendar tr td .grid .hour .current_time{
    display: block;
    height: 3px;
    background-color: #ff2121;
    position: absolute;
    /*left: -1px;*/
    width: 100%;
    z-index: 100;
}
.calendar_body div.calendar table.calendar tr td .grid{
    position: relative;
    background: url("../images/grid_bg.png") 0px 0px repeat;
}
.calendar_body div.calendar table.calendar .today{
    background-color: #f5f5f5!important;
}
.calendar_body div.calendar table.calendar .today .grid{
    background: url("../images/grid_bg_today.png") 0px 0px repeat;
}
.calendar_body div.calendar .tasks .task_wrapper{
    width: 95%;
}
.calendar_body div.calendar .tasks .task_wrapper .task{
    height: 100%;
    margin: 0px;
    padding-left: 25px;
}
.calendar_body div.calendar .tasks .task_wrapper .task div.task_date{
    margin-top: 2px;
}
.calendar_body div.calendar .tasks .task_wrapper.overtask{
    height: 20px;
    border: 1px solid #fff;
    width: 70%;
    position: absolute;
    right: 0px;
}
.calendar_body div.calendar .tasks .task_wrapper.overtask .task{
    padding-top: 0px;
    padding-bottom: 0px;
}
.calendar_body div.calendar .tasks .task_wrapper.overtask .task a.mode_toggle{
    top: 3px;
}
/*POPUP CALENDAR END*/

/*TWO COLUMS*/
.two_colums{
    display: table-row;
    width: 100%;
    height: 100%;
}
.two_colums .column{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}
.two_colums .column:first-child{
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
.two_colums .column.column_separator{
    cursor: e-resize; 
    width: 10px!important;
    amx-width: 10px!important;
    padding: 5px!important;
    background: url("../images/ico/resizable-e.png") center no-repeat;
    background-color: #55595e;
}

/*.resizable_wrapper{
    width: 100%;
    font-size: 0;
    display: inline-block;
}
.resizable_wrapper .resizable {
    width: 50%;
    height: 100%;
    float: left;
    min-width: 800px!important;
}
.resizable_wrapper .resizable2 {
    min-width: 800px!important;
}
.resizable_wrapper .ui-resizable-e { 
    display: block!important;
    cursor: e-resize; 
    width: 10px; 
    right: -5px; 
    top: 0; 
    bottom: 0; 
    background: url("../images/ico/resizable-e.png") center no-repeat;
    background-color: #55595e;
}*/