/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.10.2014, 10:52:33
    Author     : KiPa
*/
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #55595e;
    font-family: "Open Sans";
}
.clear{
    display: inline-block;
    width: 100%;
}

/*COLORS*/
ul.colors li.color_fdbebe,
.list.color_fdbebe .task{
    background-color: #fdbebe;
    border: 1px solid #cc8484;
}
.list.color_fdbebe .task.done{
    background-color: #fde4e4;
}
ul.colors li.color_ffccb3,
.list.color_ffccb3 .task{
    background-color: #ffccb3;
    border: 1px solid #cc9c85;
}
.list.color_ffccb3 .task.done{
    background-color: #ffebe0;
}
ul.colors li.color_ffdd99,
.list.color_ffdd99 .task{
    background-color: #ffdd99;
    border: 1px solid #ccb485;
}
.list.color_ffdd99 .task.done{
    background-color: #fff0d5;
}
ul.colors li.color_ffffa6,
.list.color_ffffa6 .task{
    background-color: #ffffa6;
    border: 1px solid #cccc85;
}
.list.color_ffffa6 .task.done{
    background-color: #ffffdb;
}
ul.colors li.color_e6ffb3,
.list.color_e6ffb3 .task{
    background-color: #e6ffb3;
    border: 1px solid #b5cc85;
}
.list.color_e6ffb3 .task.done{
    background-color: #f5ffe0;
}
ul.colors li.color_ccffb3,
.list.color_ccffb3 .task{
    background-color: #ccffb3;
    border: 1px solid #9ccc85;
}
.list.color_ccffb3 .task.done{
    background-color: #ebffe0;
}
ul.colors li.color_bcfad1,
.list.color_bcfad1 .task{
    background-color: #bcfad1;
    border: 1px solid #85cc9d;
}
.list.color_bcfad1 .task.done{
    background-color: #e3fcec;
}
ul.colors li.color_bcf6fa,
.list.color_bcf6fa .task{
    background-color: #bcf6fa;
    border: 1px solid #85c7cc;
}
.list.color_bcf6fa .task.done{
    background-color: #e3fafc;
}
ul.colors li.color_bce5fa,
.list.color_bce5fa .task{
    background-color: #bce5fa;
    border: 1px solid #85b4cc;
}
.list.color_bce5fa .task.done{
    background-color: #e3f5fc;
}
ul.colors li.color_c3d1fa,
.list.color_c3d1fa .task{
    background-color: #c3d1fa;
    border: 1px solid #8597cc;
}
.list.color_c3d1fa .task.done{
    background-color: #e7ecfc;
}
ul.colors li.color_fac3f1,
.list.color_fac3f1 .task{
    background-color: #fac3f1;
    border: 1px solid #cc85c1;
}
.list.color_fac3f1 .task.done{
    background-color: #fce7f8;
}
ul.colors li.color_e8c3fa,
.list.color_e8c3fa .task{
    background-color: #e8c3fa;
    border: 1px solid #b485cc;
}
.list.color_e8c3fa .task.done{
    background-color: #f6e7fc;
}
ul.colors li.color_d1c3fa,
.list.color_d1c3fa .task{
    background-color: #d1c3fa;
    border: 1px solid #9785cc;
}
.list.color_d1c3fa .task.done{
    background-color: #ece7fc;
}
ul.colors li.color_e6cfcf,
.list.color_e6cfcf .task{
    background-color: #e6cfcf;
    border: 1px solid #ccadad;
}
.list.color_e6cfcf .task.done{
    background-color: #f5ebeb;
}
ul.colors li.color_e6decf,
.list.color_e6decf .task{
    background-color: #e6decf;
    border: 1px solid #bfb8ac;
}
.list.color_e6decf .task.done{
    background-color: #f5f1eb;
}
ul.colors li.color_cfe6d7,
.list.color_cfe6d7 .task{
    background-color: #cfe6d7;
    border: 1px solid #a3ccb2;
}
.list.color_cfe6d7 .task.done{
    background-color: #ebf5ee;
}
ul.colors li.color_dee6cf,
.list.color_dee6cf .task{
    background-color: #dee6cf;
    border: 1px solid #becca3;
}
.list.color_dee6cf .task.done{
    background-color: #f1f5eb;
}
ul.colors li.color_cfe4e6,
.list.color_cfe4e6 .task{
    background-color: #cfe4e6;
    border: 1px solid #a3c9cc;
}
.list.color_cfe4e6 .task.done{
    background-color: #ebf4f5;
}
ul.colors li.color_cfd5e6,
.list.color_cfd5e6 .task{
    background-color: #cfd5e6;
    border: 1px solid #99a6cc;
}
.list.color_cfd5e6 .task.done{
    background-color: #ebedf5;
}
ul.colors li.color_e7dce6,
.list.color_e7dce6 .task{
    background-color: #e7dce6;
    border: 1px solid #ccb8c8;
}
.list.color_e7dce6 .task.done{
    background-color: #f6f0f5;
}
ul.colors li.color_decfe6,
.list.color_decfe6 .task{
    background-color: #decfe6;
    border: 1px solid #bea3cc;
}
.list.color_decfe6 .task.done{
    background-color: #f1ebf5;
}
ul.colors li.color_f2f2f2,
.list.color_f2f2f2 .task{
    background-color: #f2f2f2;
    border: 1px solid #bfbfbf;
}
.list.color_f2f2f2 .task.done{
    background-color: #f9f9f9;
}
ul.colors li.color_e6e6e6,
.list.color_e6e6e6 .task{
    background-color: #e6e6e6;
    border: 1px solid #bfbfbf;
}
.list.color_e6e6e6 .task.done{
    background-color: #f5f5f5;
}
ul.colors li.color_cccccc,
.list.color_cccccc .task{
    background-color: #cccccc;
    border: 1px solid #a6a6a6;
}
.list.color_cccccc .task.done{
    background-color: #ebebeb;
}
/*COLORS END*/

header{
    display: block;
    width: 100%;
    height: 44px;
    padding: 3px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    background-color: #55595e;
}
header a.logo{
    display: block;
    width: 70px;
    height: 25px;
    border: none;
    outline: none;
    font-size: 0px;
    line-height: 0px;
    margin: 10px 75px 0px 65px;
}
header a.logo img{
    width: 100%;
    height: auto;
}
header ul{
    display: inline-block;
}
header ul li{
    float: left;
}
header ul.nav{
    position: absolute;
    left: 210px;
    top: 3px;
}
header ul.nav li.ico{
    height: 44px;
    width: 44px;
}
header ul.nav li{
    margin-left: 3px;
    position: relative;
}
header ul.nav li:first-child{
    margin-left: 0px;
}
header ul.nav li.active{
    background-color: #494c52;
    border-radius: 5px;
}
header ul.nav li.ico a{
    display: block;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-decoration: none;
    outline: none;
}
header ul.nav li a.calendar{
    width: 29px;
    height: 29px;
    background-image: url("../images/ico/calendar.png");
    margin-top: 7px;
}
header ul.nav li.active a.calendar,
header ul.nav li a.calendar:hover{
    background-position: 0px -29px;
}
header ul.nav li a.list{
    width: 27px;
    height: 27px;
    background-image: url("../images/ico/list.png");
}
header ul.nav li.active a.list,
header ul.nav li a.list:hover{
    background-position: 0px -27px;
}
header ul.nav.controls{
    position: absolute;
    right: 10px;
    top: 3px;
    left: auto;
}
header ul.nav li.ico a span{
    display: block;
    position: absolute;
    right: -8px;
    top: -8px;
    color: #fff;
    height: 16px;
    line-height: 15px;
    font-size: 10px;
    background-color: #ff2121;
    padding: 0px 5px;
    border-radius: 7px;
    text-decoration: none;
}
header ul.nav li a.chat{
    width: 29px;
    height: 27px;
    background-image: url("../images/ico/chat.png");
}
header ul.nav li.active a.chat,
header ul.nav li a.chat:hover{
    background-position: 0px -27px;
}
header ul.nav li a.notification{
    width: 28px;
    height: 28px;
    background-image: url("../images/ico/notification.png");
}
header ul.nav li.active a.notification,
header ul.nav li a.notification:hover{
    background-position: 0px -28px;
}
header ul.nav li a.settings{
    width: 29px;
    height: 28px;
    background-image: url("../images/ico/settings.png");
}
header ul.nav li.active a.settings,
header ul.nav li a.settings:hover{
    background-position: 0px -28px;
}
header ul.nav li a.logout{
    width: 28px;
    height: 28px;
    background-image: url("../images/ico/logout.png");
}
header ul.nav li.active a.logout,
header ul.nav li a.logout:hover{
    background-position: 0px -28px;
}

header ul.nav.controls a.button{
    margin-top: 3px;
    margin-right: 20px;
}
a.button{
    display: block;
    font-size: 14px;
    color: #fff;
    height: 38px;
    line-height: 36px;
    padding: 0px 14px 0px 38px;
    border-bottom: 1px solid #44474b;
    border-radius: 5px;
    background-color: #3bad90;
    position: relative;
    text-decoration: none;
}
a.button.add{
    background-image: url("../images/ico/button/add.png");
    background-repeat: no-repeat;
    background-position: 13px 10px;
}
a.button:hover{
    background-color: #40b99a;
}
a.button:active{
    background-color: #37a085;
    border-bottom: none;
    top: 1px;
    opacity: 0.8;
}

div.side_left{
    width: 200px;
    position: absolute;
    left: 0px;
    top: 50px;
}
div.side_left div.user_info{
    background-color: #494c52;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
div.side_left div.name{
    height: 56px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    background-color: #3bad90;
    color: #fff;
}
div.side_left div.avatar{
    font-size: 0px;
    text-align: center;
    margin-top: -4px;
}
div.side_left ul.nav{

}
div.side_left ul.nav li{
    display: block;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    margin-bottom: 3px;
}
div.side_left ul.nav li a{
    display: block;
    height: 56px;
    line-height: 56px;
    color: #cccccc;
    text-decoration: none;
    text-align: center;
}
div.side_left ul.nav li a:hover{
    display: block;
    height: 56px;
    line-height: 56px;
    color: #3bad90;
    background-color: #494c52;
}
div.side_left ul.nav li.active a{
    color: #3bad90;
    background-color: #494c52;
    border-left: 3px solid #3bad90;
}

div.side_right{
    min-height: 100%;
    position: relative;
    z-index: 1;
    margin-left: 210px;
    margin-right: 10px;
    background-color: #fff;
}
div.side_right > div.body{
    padding-top: 50px;
    padding-bottom: 10px;
}

div.footer{
    height: 10px;
    width: 100%;
    position: relative;
    background-color: #55595e;
    margin-top: -10px;
    z-index: 2;
}

/*LISTS*/
div.lists{
    display: inline-block;
    width: 100%;
}
div.lists div.lists_header{
    height: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
div.lists div.lists_header > div.title{
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
div.lists div.lists_header > ul.lists_nav{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 13px;
    height: 25px;
}
div.lists div.lists_header > ul.lists_nav li{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.lists div.lists_header > ul.lists_nav li:first-child{
    margin-left: 0px;
}
div.lists div.lists_header > ul.lists_nav li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.lists div.lists_header > ul.lists_nav li a.prev{
    background-image: url("../images/ico/controls/prev.png");
}
div.lists div.lists_header > ul.lists_nav li a.next{
    background-image: url("../images/ico/controls/next.png");
}
div.lists div.lists_header > ul.lists_nav li a:hover{
    background-position: 0px -50px;
}
div.lists div.lists_header > ul.lists_nav li a.disabled{
    background-position: 0px 0px;
}
div.lists div.lists_header > ul.lists_controls{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 13px;
    height: 25px;
}
div.lists div.lists_header > ul.lists_controls li{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.lists div.lists_header > ul.lists_controls li.menu{
    width: 9px;
}
div.lists div.lists_header > ul.lists_controls li:first-child{
    margin-left: 0px;
}
div.lists div.lists_header > ul.lists_controls li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.lists div.lists_header > ul.lists_controls li a.menu{
    width: 4px;
    height: 20px;
    margin-top: 3px;
    background-position: 0px -20px;
    background-image: url("../images/ico/controls/menu.png");
}
div.lists div.lists_header > ul.lists_controls li a.menu:hover{
    background-position: 0px -40px;
}
div.lists div.lists_header > ul.lists_controls li a.search{
    width: 23px;
    background-image: url("../images/ico/controls/search.png");
}
div.lists div.lists_header > ul.lists_controls li a.add{
    background-image: url("../images/ico/controls/add.png");
}
div.lists div.lists_header > ul.lists_controls li a:hover{
    background-position: 0px -50px;
}
div.lists div.lists_header > ul.lists_controls li a.disabled{
    background-position: 0px 0px;
}
div.lists div.list{
    width: 260px;
    border-right: 1px solid #d2d2d2;
    padding: 0px 11px 0px 7px;
    height: 100%;
    float: left;
}
div.lists div.list div.list_header{
    position: relative;
    padding-bottom: 10px;
}
div.lists div.list div.list_header > div.title{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding-top: 9px;
}
div.lists div.list.shared div.list_header > div.title span{
    display: inline-block;
    padding-left: 16px;
    background-image: url("../images/ico/shared.png");
    background-repeat: no-repeat;
    background-position: left center;
}
div.lists div.list div.list_header > div.tasks{
    font-size: 12px;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
    padding-top: 7px;
}
div.lists div.list div.list_header > div.tasks span.done{
    display: inline-block;
    padding-left: 10px;
    background-image: url("../images/ico/task_done.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
div.lists div.list div.list_header > a.list_menu{
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 7px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 0px -20px;
}
div.lists div.list div.list_header > a.list_menu:hover{
    background-position: 0px -40px;
}
div.lists div.list div.tasks{

}
div.lists div.list div.tasks div.task{
    padding: 6px 7px 9px 30px;
/*    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 7px 6px;*/
    font-size: 12px;
    margin-bottom: 5px;
    position: relative;
}
div.lists div.list div.tasks div.task.nobg{
    background-color: #fff;
    border: 1px solid #fff;
}
div.lists div.list div.tasks div.task.create{
    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 7px 6px;
    background-color: transparent;
    border: 1px solid #fff;
}
div.lists div.list div.tasks div.task a.mode_toggle{
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: absolute;
    left: 7px;
    top: 7px;
}
div.lists div.list div.tasks div.task.done a.mode_toggle{
    background-image: url("../images/ico/status/done.png");
}
div.lists div.list div.tasks div.task input.create_task{
    display: block;
    width: 230px;
    outline: none;
    border: none;
    background: none;
    line-height: 14px;
    font-style: italic;
    color: #b3b3b3;
    border-bottom: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
}
div.lists div.list div.tasks div.task input.create_task.active{
    color: #333333;
    font-style: normal;
    border-bottom: 1px solid #3bad90;
}
div.lists div.list div.tasks div.task div.task_title{
    color: #333333;
    font-size: 12px;
    line-height: 16px;
}
div.lists div.list div.tasks div.task div.task_date{
    color: #000;
    font-size: 12px;
    line-height: 13px;
    padding-left: 15px;
    background-image: url("../images/ico/status/calendar.png");
    background-repeat: no-repeat;
    background-position: 0px -14px;
    margin-top: 5px;
    margin-bottom: 3px;
    height: 14px;
}
div.lists div.list div.tasks div.task div.task_date.time{
    background-image: url("../images/ico/status/time.png");
}
div.lists div.list div.tasks div.task div.task_date span{
    opacity: 0.6;
}
div.lists div.list div.tasks div.task.past div.task_date{
    background-position: 0px 0px;
}
div.lists div.list div.tasks div.task.past div.task_date span{
    color: #ff0000;
    font-weight: bold;
    opacity: 1;
}
div.lists div.list div.tasks div.task ul.task_notifications{
    display: inline-block;
    width: 100%;
    margin-top: 6px;
}
div.lists div.list div.tasks div.task ul.task_notifications li{
    float: left;
    margin-left: 5px;
}
div.lists div.list div.tasks div.task ul.task_notifications li:first-child{
    margin-left: 0px;
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico{
    display: block; 
    width: 13px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center -14px;
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.active{
    background-position: center 0px!important;
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.priority_a{
    background-image: url("../images/ico/status/a.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.priority_b{
    background-image: url("../images/ico/status/b.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.priority_c{
    background-image: url("../images/ico/status/c.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.priority_d{
    background-image: url("../images/ico/status/d.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.repeat{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/repeat.png");
    margin-top: 1px;
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.repeat_out{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/repeat_out.png");
    margin-top: 1px;
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.repeat.active{

}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.reminder{
    background-image: url("../images/ico/status/reminder.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.place{
    background-image: url("../images/ico/status/place.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.list{
    height: 13px; 
    background-position: 0px -13px;
    background-image: url("../images/ico/status/list.png");
    margin-top: 1px;
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.list.active{

}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.executor{
    background-image: url("../images/ico/status/executor.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.files{
    background-image: url("../images/ico/status/files.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.comments{
    background-image: url("../images/ico/status/comments.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.edited{
    background-image: url("../images/ico/status/edited.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.calendar{
    background-image: url("../images/ico/status/calendar.png");
}
div.lists div.list div.tasks div.task ul.task_notifications li span.ico.time{
    background-image: url("../images/ico/status/time.png");
}

div.lists div.list div.tasks div.task.done div.task_title{
    color: #000;
    text-decoration: line-through;
    opacity: 0.6;
}
div.lists div.list div.tasks div.task.done div.task_date span{
    color: #000;
    text-decoration: line-through;
    opacity: 0.6;
}
/*list sorting*/
.list_filter{
    margin-top: 11px;
    display: inline-block;
    width: 265px;
}
div.list_sort_wrapper{
    display: block;
    position: relative;
    float: left;
}
a.sort_delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/button/delete.png") 0px 0px no-repeat;
    position: absolute;
    right: 5px;
    top: 6px;
}
a.sort_delete:hover{
    background-position: 0px -8px;
}
select#list_sort{
    font-size: 12px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    padding-left: 15px;
}
.list_filter #list_sort-button .ui-icon{
    display: none;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir{
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    left: 6px;
    top: 5px;
    background-image: url("../images/ico/sort_small.png");
    background-repeat: no-repeat;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir.desc{
    background-position: 0px 0px;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir.asc{
    background-position: -5px 0px;
}
.list_filter #list_sort-button .ui-selectmenu-text{
    font-size: 12px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    padding-left: 15px;
}
.list_filter #list_sort-button{
    font-size: 12px;
    background: none;
    background-color: #f3f3f5;
    color: #878787;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    box-shadow: none;
    width: auto!important;
    padding-right: 18px;
}
.list_filter #list_sort-button:hover{
    background-color: #e8e8eb;
}
.list_filter #list_sort-button.ui-corner-top{
    background-color: #40b99a;
    color: #fff;
}
.list_filter #list_sort-button.ui-corner-top .ui-selectmenu-text span.dir{
    background-position-y: -9px;
}
.list_filter #list_sort-button.ui-corner-top a.sort_delete{
    background-position: 0px -8px;
}
/* select with custom icons */
.ui-widget{
    font-family: "Open Sans";
}
.ui-selectmenu-menu .ui-menu{
    border-radius: 0px;
    padding: 0px;
}
.ui-selectmenu-menu .ui-menu.customicons.list_sort .ui-menu-item .ui-icon {
    height: 12px;
    width: 7px;
    left: 1em;
}
.ui-icon.asc {
    background: url("../images/ico/sort.png") -7px 0px no-repeat;
}
.ui-icon.desc {
    background: url("../images/ico/sort.png") 0px 0px no-repeat;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item{
    background: none;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #333333;
    border: 2px solid #fff;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus{
    color: #fff;
    background: none;
    background-color: #40b99a;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus .ui-icon.asc {
    background-position-y: -12px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus .ui-icon.desc {
    background-position-y: -12px;
}
/*select end*/
div.list_filter div:first-child{
    margin-right: 5px;
}
div.filter_by_user{
    font-size: 12px;
    background-color: #f3f3f5;
    color: #878787;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    position: relative;
    float: left;
    padding: 0px 19px 0px 6px;
}
/*POPUP ADD LIST*/
div.popup{
    background-color: #fff;
    position: absolute;
    z-index: 101;
}
div.popup.addlist{
    display: none;
    width: 625px;
    right: 0px;
    top: 45px;
    box-shadow: 0px 0px 3px 0px #010101;
}
div.popup.addlist .popup_body{
    padding: 20px;
}
div.popup.addlist .popup_addlist_col_left{
    width: 270px;
    margin-right: 40px;
    float: left;
}
div.popup.addlist .popup_addlist_col_right{
    width: 275px;
    float: left;
}
div.popup div.popup_header{
    position: relative;
    padding: 0px 20px;
}
div.popup.addlist div.popup_footer{
    background-color: #f3f3f5;
    padding-top: 18px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #cccccc;
}
div.popup.addlist div.popup_header{
    background-color: #3bad90;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
div.popup.addlist div.popup_header .tail{
    display: block;
    border: 5px solid transparent;
    border-bottom: 5px solid #3bad90;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 28px;
}
div.popup div.popup_header .close{
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/ico/controls/close.png") 0px 0px no-repeat;
    position: absolute;
    right: 20px;
    top: 10px;
}
div.popup.addlist form input[type="submit"]{
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    font-size: 14px;
    color: #fff;
    height: 44px;
    line-height: 44px;
    padding: 0px 20px;
    border-bottom: 1px solid #c3c3c4;
    border-radius: 5px;
    background-color: #3bad90;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
div.popup.addlist form input[type="submit"]:hover{
    background-color: #40b99a;
}
div.popup.addlist form input[type="submit"]:active{
    background-color: #37a085;
    border-bottom: none;
    top: 1px;
    opacity: 0.8;
}
div.popup.addlist form input[type="text"]{
    background: none;
    border: none;
    outline: none;
    background-color: #f5f6f7;
    border: 1px solid #d9dada;
    width: 270px;
    height: 14px;
    line-height: 14px;
    padding: 18px 15px;
    color: #333333;
}
div.popup.addlist div.row{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
div.popup label{
    display: block;
}
div.popup label.checkbox{
    display: inline-block;
    padding-left: 5px;
    line-height: 16px;
    float: right;
}
div.popup.addlist label{
    font-size: 12px;
    color: #878787;
    padding-bottom: 3px;
}
div.popup.addlist label.checkbox{
    width: 235px;
    float: right;
}
div.popup.addlist select{
    font-size: 14px;
    padding: 0px 15px;
}
.ui-selectmenu-button{
    font-size: 14px;
    height: 38px;
    background: none;
    background-color: #fff;
    border-radius: 0px;
    padding: 0px 15px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 0px;
    line-height: 38px;
}
.ui-selectmenu-button.sorted span.ui-selectmenu-text {
    padding-left: 12px;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir{
    display: block;
    width: 7px;
    height: 12px;
    position: absolute;
    left: 15px;
    top: 13px;
    background: url("../images/ico/sort.png") 0px 0px no-repeat;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir.asc{
    background-position: -7px 0px;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir.desc{
    background-position: 0px 0px;
}
.ui-selectmenu-button span.ui-icon {
    width: 11px;
    height: 7px;
    right: 14px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    background: url("../images/ico/select_marker.png") 0px -21px no-repeat;
}
.ui-selectmenu-button.ui-corner-top span.ui-icon {
    background-position: 0px -7px;
}
.ui-selectmenu-button.ui-corner-top,
.ui-selectmenu-button.ui-state-hover{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.popup_addlist_col_left .ui-selectmenu-button{
    width: 238px!important;
    background-color: #f5f6f7;
}
ul.colors{
    display: inline-block;
    width: 100%;
}
ul.colors li{
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    font-size: 0px;
    cursor: pointer;
}
ul.colors li.selected{
    background-image: url("../images/ico/status/done.png");
    background-repeat: no-repeat;
    background-position: center;
}
div.popup.addlist .popup_addlist_col_right ul.colors{
    width: 280px;
}
button.ui-checkbox{
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
button.ui-checkbox.ui-state-default .ui-icon{
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background: url("../images/ico/toggle.png") 0px -18px no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}
button.ui-checkbox.ui-state-default .ui-icon.ui-icon-check{
    background-position: 0px 0px;
}
/*POPUP ADD LIST END*/
