<!DOCTYPE html>
<html ng-app="FRZ">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>sit2B</title>
    <!-- <link rel="stylesheet" href="assets/css/reset.css" /> -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/bootsrap-theme.css"/>
    <link rel="stylesheet" href="vendor/perfect-scrollbar/min/perfect-scrollbar.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,cyrillic'
          rel='stylesheet'/>

    <!--<link rel="stylesheet" href="vendor/jquery-ui/themes/smoothness/jquery-ui.css">-->
    <link rel="stylesheet" href="forks/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="vendor/angular-toastr/dist/angular-toastr.css"/>
    <link rel="stylesheet" href="assets/css/style.css?v=1"/>
</head>

<body ng-controller="AppController">

<div ui-view class="layout"></div>

<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/jquery-ui/jquery-ui.js"></script>
<script src="vendor/jquery-ui/ui/i18n/datepicker-ru.js"></script>

<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendor/perfect-scrollbar/min/perfect-scrollbar.min.js"></script>
<script src="vendor/moment/min/moment-with-locales.min.js"></script>
<script src="vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<script src="forks/fullcalendar/dist/fullcalendar.js"></script>
<!--<script src="forks/fullcalendar/dist/gcal.js"></script>-->

<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-animate/angular-animate.min.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendor/angular-ui-utils/ui-utils.js"></script>
<script src="vendor/angular-resource/angular-resource.js"></script>
<script src="vendor/angular-cookies/angular-cookies.js"></script>
<script src="vendor/ngstorage/ngStorage.js"></script>

<script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="forks/datepicker.js"></script>

<script src="vendor/ng-file-upload-shim/angular-file-upload.min.js"></script>
<script src="forks/angular-ui-calendar/src/calendar.js"></script>
<script src="vendor/angular-ui-date/src/date.js"></script>

<script src="vendor/angular-toastr/dist/angular-toastr.js"></script>
<script src="vendor/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="src/app.js"></script>
<script src="src/app.ctrl.js"></script>
<script src="src/auth/auth.js"></script>
<script src="src/auth/auth.model.js"></script>
<script src="src/auth/auth.srv.js"></script>
<script src="src/auth/session.srv.js"></script>
<script src="src/auth/login.ctrl.js"></script>
<script src="src/auth/logindialog.dir.js"></script>
<script src="src/auth/recovery.crl.js"></script>
<script src="src/auth/signup.ctrl.js"></script>
<script src="src/auth/social.ctrl.js"></script>

<script src="src/dashboard/dashboard.js"></script>
<script src="src/dashboard/dashboard.filter.js"></script>
<script src="src/dashboard/localdata.srv.js"></script>
<script src="src/dashboard/polling.srv.js"></script>
<script src="src/dashboard/comment.model.js"></script>
<script src="src/dashboard/list.model.js"></script>
<script src="src/dashboard/task.model.js"></script>
<script src="src/dashboard/log.model.js"></script>
<script src="src/dashboard/dashboard.dir.js"></script>
<script src="src/dashboard/topnav.ctrl.js"></script>
<script src="src/dashboard/listform.ctrl.js"></script>
<script src="src/dashboard/listshare.ctrl.js"></script>
<script src="src/dashboard/taskform.ctrl.js"></script>
<script src="src/dashboard/tasklists.ctrl.js"></script>
<script src="src/dashboard/log.ctrl.js"></script>
<script src="src/dashboard/comment.ctrl.js"></script>
<script src="src/dashboard/calendar.ctrl.js"></script>
<script src="src/dashboard/trash.ctrl.js"></script>

<script src="src/profile/profile.js"></script>
<script src="src/profile/user.model.js"></script>
<script src="src/profile/profile.srv.js"></script>
<script src="src/profile/profile.ctrl.js"></script>

<script src="src/common/stringutil.srv.js"></script>

<div login-dialog ng-if="!isLoginPage"></div>
</body>
</html>
