.close {
    float: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}
.close:hover,
.close:focus {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
label {
    display: inherit;
    max-width: auto;
    margin-bottom: 3px;
    font-weight: inherit;
    line-height: 1;
}