<div class="popup auth">
    <div class="popup_header">
        <a href="#" class="close"></a>
        <a href="./" class="logo"><img src="./images/logo_dark.png"></a>
        <div class="subtitle">Франклинайзер</div>
        <div class="title">Вход на сайт</div>
    </div>
    <div class="popup_content">
        <form action="#">
            <div class="row">
                <label>Email</label>
                <input type="text" value="" placeholder="" class="error" />
                <div class="error"><span>Поле должно быть заполнено</span></div>
            </div>
            <div class="row10">
                <label>Пароль</label>
                <input type="password" value="" placeholder="" />
            </div>
            <div class="row10">
                <a href="#" class="pwd_restore">Забыли пароль?</a>
            </div>
            <div class="row10">
                <input type="submit" value="Войти" />
            </div>
            <div class="row10 tac">Нет аккаунта? <a href="#">Зарегистрируйтесь</a></div>
        </form>
    </div>
    <div class="popup_footer">
        <div>Вход через:</div>
        <div>
            <a href="#" class="social google"></a>
        </div>
        <div class="clear">
            <a href="#" class="social fb"></a>
            <a href="#" class="social tw"></a>
            <a href="#" class="social vk"></a>
        </div>
    </div>
</div>