<div class="popup auth" >
    <div class="popup_header">
        <a href="#" class="close"></a>
        <a href="./" class="logo"><img src="./images/logo_dark.png"></a>
        <div class="subtitle">Франклинайзер</div>
        <div class="title">Восстановление пароль</div>
    </div>
    <div class="popup_content">
        <form action="#">
            <div class="hint">
                Введите ваш email, мы отправим на него инструкции по восстановлению пароля.
            </div>
            <div class="row">
                <label>Email</label>
                <input type="text" value="" placeholder="" />
            </div>
            <div class="row10">
                <input type="submit" value="Отправить" />
            </div>
            <div class="row10 tac">
                <a href="#">Я вспомнил пароль</a>
            </div>
        </form>
    </div>
</div>