<div class="popup auth" >
    <div class="popup_header">
        <a href="#" class="close"></a>
        <a href="./" class="logo"><img src="./images/logo_dark.png"></a>
        <div class="subtitle">Франклинайзер</div>
        <div class="title">Регистрация</div>
    </div>
    <div class="popup_content">
        <form action="#">
            <div class="row">
                <label>Email</label>
                <input type="text" value="" placeholder="" />
            </div>
            <div class="row10">
                <label>Пароль</label>
                <input type="password" value="" placeholder="" />
            </div>
            <div class="row10">
                От 6 до 32 символов
            </div>
            <div class="row10">
                <input type="submit" value="Зарегистрироваться" />
            </div>
            <div class="row10 tac">
                <div>Уже есть аккаунт?</div>
                <div>Воспользуйтесь <a href="#">формой входа</a></div>
            </div>
        </form>
    </div>
    <div class="popup_footer">
        <div>Регистрация через:</div>
        <div>
            <a href="#" class="social google"></a>
        </div>
        <div class="clear">
            <a href="#" class="social fb"></a>
            <a href="#" class="social tw"></a>
            <a href="#" class="social vk"></a>
        </div>
    </div>
</div>