.close {
    float: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}
.close:hover,
.close:focus {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}
label {
    display: inherit;
    max-width: auto;
    margin-bottom: 3px;
    font-weight: inherit;
    line-height: 1;
}
.modal-content{
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: none;
    border-radius: 0px;
}
.modal-dialog{
    width: 100%;
    height: 100%;
    padding: 50px 0px 30px 0px;
    margin: 0px auto;
}

.modal-backdrop{
  height: 100%;
}
.checkbox .btn input[type="checkbox"]{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-success{
    position: relative;
    border: none;
    outline: none!important;
    box-shadow: none;
    background: none;
    background-color: #3bad90!important;
}
.btn-success:hover{
    border: none;
    outline: none!important;
    box-shadow: none;
    background: none;
    background-color: #40b99a;
    opacity: 0.9;
}
.btn-success:active{
    border: none;
    outline: none!important;
    box-shadow: none;
    background: none;
    background-color: #40b99a;
    top: 1px;
}

.dropdown-menu{

}
.panel_col_right .dropdown-menu{
    right: 0px;
    left: auto!important;
}
