/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28.10.2014, 10:52:33
    Author     : KiPa
*/
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #55595e;
    font-family: "Open Sans";
    position: relative;
    min-width: 700px;
    min-height: 500px;
    overflow: auto;
}
.layout{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.work-bar{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.work-bar.two-col{
    min-width: 900px;
}
.work-bar.two-col #lists{
    float: left;
    width: 50%;
    border-left: 10px solid #55595e;
}

.work-bar.two-col #calendar{
    display: block;
    visibility: hidden;
    position: absolute;

    float: left;
    width: 50%;
}


.work-bar #lists{
    display: block;
    visibility: hidden;
    position: absolute;

    width: 100%;
    height: 100%;
    overflow-x: auto;
    /*min-width: 450px;*/
}
.work-bar #lists.active{
    visibility: visible;
    position: relative;
}
.work-bar #calendar{
    border: none;
    width: 100%;
    height: 100%;
    min-width: 450px;

    display: block;
    visibility: hidden;
    position: absolute;
}
.work-bar #calendar.active{
    visibility: visible;
    position: relative;
}

.clear{
    display: inline-block;
    width: 100%;
}
a{
    color: #6595ba;
    text-decoration: underline;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.tac{
    text-align: center;
}
.mb10{
    margin-bottom: 10px!important;
}
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
.wrapper{
    position: relative;
}
/*COLORS*/
ul.colors li[data-color="fdbebe"]:before,
ul.colors li[data-color="fdbebe"],
[data-color="fdbebe"].fc-event,
[data-color="fdbebe"] .task{
    background-color: #fdbebe;
    border: 1px solid #cc8484;
}
[data-color="fdbebe"].fc-event.done,
[data-color="fdbebe"] .task.done{
    background-color: #fde4e4!important;
}
ul.colors li[data-color="ffccb3"]:before,
ul.colors li[data-color="ffccb3"],
[data-color="ffccb3"].fc-event,
[data-color="ffccb3"] .task{
    background-color: #ffccb3;
    border: 1px solid #cc9c85;
}
[data-color="ffccb3"].fc-event.done,
[data-color="ffccb3"] .task.done{
    background-color: #ffebe0!important;
}
ul.colors li[data-color="ffdd99"]:before,
ul.colors li[data-color="ffdd99"],
[data-color="ffdd99"].fc-event,
[data-color="ffdd99"] .task{
    background-color: #ffdd99;
    border: 1px solid #ccb485;
}
[data-color="ffdd99"].fc-event.done,
[data-color="ffdd99"] .task.done{
    background-color: #fff0d5!important;
}
ul.colors li[data-color="ffffa6"]:before,
ul.colors li[data-color="ffffa6"],
[data-color="ffffa6"].fc-event,
[data-color="ffffa6"] .task{
    background-color: #ffffa6;
    border: 1px solid #cccc85;
}
[data-color="ffffa6"].fc-event.done,
[data-color="ffffa6"] .task.done{
    background-color: #ffffdb!important;
}
ul.colors li[data-color="e6ffb3"]:before,
ul.colors li[data-color="e6ffb3"],
[data-color="e6ffb3"].fc-event,
[data-color="e6ffb3"] .task{
    background-color: #e6ffb3;
    border: 1px solid #b5cc85;
}
[data-color="e6ffb3"].fc-event.done,
[data-color="e6ffb3"] .task.done{
    background-color: #f5ffe0!important;
}
ul.colors li[data-color="ccffb3"]:before,
ul.colors li[data-color="ccffb3"],
[data-color="ccffb3"].fc-event,
[data-color="ccffb3"] .task{
    background-color: #ccffb3;
    border: 1px solid #9ccc85;
}
[data-color="ccffb3"].fc-event.done,
[data-color="ccffb3"] .task.done{
    background-color: #ebffe0!important;
}
ul.colors li[data-color="bcfad1"]:before,
ul.colors li[data-color="bcfad1"],
[data-color="bcfad1"].fc-event,
[data-color="bcfad1"] .task{
    background-color: #bcfad1;
    border: 1px solid #85cc9d;
}
[data-color="bcfad1"].fc-event.done,
[data-color="bcfad1"] .task.done{
    background-color: #e3fcec!important;
}
ul.colors li[data-color="bcf6fa"]:before,
ul.colors li[data-color="bcf6fa"],
[data-color="bcf6fa"].fc-event,
[data-color="bcf6fa"] .task{
    background-color: #bcf6fa;
    border: 1px solid #85c7cc;
}
[data-color="bcf6fa"].fc-event.done,
[data-color="bcf6fa"] .task.done{
    background-color: #e3fafc!important;
}
ul.colors li[data-color="bce5fa"]:before,
ul.colors li[data-color="bce5fa"],
[data-color="bce5fa"].fc-event,
[data-color="bce5fa"] .task{
    background-color: #bce5fa;
    border: 1px solid #85b4cc;
}
[data-color="bce5fa"].fc-event.done,
[data-color="bce5fa"] .task.done{
    background-color: #e3f5fc!important;
}
ul.colors li[data-color="c3d1fa"]:before,
ul.colors li[data-color="c3d1fa"],
[data-color="c3d1fa"].fc-event,
[data-color="c3d1fa"] .task{
    background-color: #c3d1fa;
    border: 1px solid #8597cc;
}
[data-color="c3d1fa"].fc-event.done,
[data-color="c3d1fa"] .task.done{
    background-color: #e7ecfc!important;
}
ul.colors li[data-color="fac3f1"]:before,
ul.colors li[data-color="fac3f1"],
[data-color="fac3f1"].fc-event,
[data-color="fac3f1"] .task{
    background-color: #fac3f1;
    border: 1px solid #cc85c1;
}
[data-color="fac3f1"].fc-event.done,
[data-color="fac3f1"] .task.done{
    background-color: #fce7f8!important;
}
ul.colors li[data-color="e8c3fa"]:before,
ul.colors li[data-color="e8c3fa"],
[data-color="e8c3fa"].fc-event,
[data-color="e8c3fa"] .task{
    background-color: #e8c3fa;
    border: 1px solid #b485cc;
}
[data-color="e8c3fa"].fc-event.done,
[data-color="e8c3fa"] .task.done{
    background-color: #f6e7fc!important;
}
ul.colors li[data-color="d1c3fa"]:before,
ul.colors li[data-color="d1c3fa"],
[data-color="d1c3fa"].fc-event,
[data-color="d1c3fa"] .task{
    background-color: #d1c3fa;
    border: 1px solid #9785cc;
}
[data-color="d1c3fa"].fc-event.done,
[data-color="d1c3fa"] .task.done{
    background-color: #ece7fc!important;
}
ul.colors li[data-color="e6cfcf"]:before,
ul.colors li[data-color="e6cfcf"],
[data-color="e6cfcf"].fc-event,
[data-color="e6cfcf"] .task{
    background-color: #e6cfcf;
    border: 1px solid #ccadad;
}
[data-color="e6cfcf"].fc-event.done,
[data-color="e6cfcf"] .task.done{
    background-color: #f5ebeb!important;
}
ul.colors li[data-color="e6decf"]:before,
ul.colors li[data-color="e6decf"],
[data-color="e6decf"].fc-event,
[data-color="e6decf"] .task{
    background-color: #e6decf;
    border: 1px solid #bfb8ac;
}
[data-color="e6decf"].fc-event.done,
[data-color="e6decf"] .task.done{
    background-color: #f5f1eb!important;
}
ul.colors li[data-color="cfe6d7"]:before,
ul.colors li[data-color="cfe6d7"],
[data-color="cfe6d7"].fc-event,
[data-color="cfe6d7"] .task{
    background-color: #cfe6d7;
    border: 1px solid #a3ccb2;
}
[data-color="cfe6d7"].fc-event.done,
[data-color="cfe6d7"] .task.done{
    background-color: #ebf5ee!important;
}
ul.colors li[data-color="dee6cf"]:before,
ul.colors li[data-color="dee6cf"],
[data-color="dee6cf"].fc-event,
[data-color="dee6cf"] .task{
    background-color: #dee6cf;
    border: 1px solid #becca3;
}
[data-color="dee6cf"].fc-event.done,
[data-color="dee6cf"] .task.done{
    background-color: #f1f5eb!important;
}
ul.colors li[data-color="cfe4e6"]:before,
ul.colors li[data-color="cfe4e6"],
[data-color="cfe4e6"].fc-event,
[data-color="cfe4e6"] .task{
    background-color: #cfe4e6;
    border: 1px solid #a3c9cc;
}
[data-color="cfe4e6"].fc-event.done,
[data-color="cfe4e6"] .task.done{
    background-color: #ebf4f5!important;
}
ul.colors li[data-color="cfd5e6"]:before,
ul.colors li[data-color="cfd5e6"],
[data-color="cfd5e6"].fc-event,
[data-color="cfd5e6"] .task{
    background-color: #cfd5e6;
    border: 1px solid #99a6cc;
}
[data-color="ebedf5"].fc-event.done,
[data-color="ebedf5"] .task.done{
    background-color: #ebedf5!important;
}
ul.colors li[data-color="e7dce6"]:before,
ul.colors li[data-color="e7dce6"],
[data-color="e7dce6"].fc-event,
[data-color="e7dce6"] .task{
    background-color: #e7dce6;
    border: 1px solid #ccb8c8;
}
[data-color="e7dce6"].fc-event.done,
[data-color="e7dce6"] .task.done{
    background-color: #f6f0f5!important;
}
ul.colors li[data-color="decfe6"]:before,
ul.colors li[data-color="decfe6"],
[data-color="decfe6"].fc-event,
[data-color="decfe6"] .task{
    background-color: #decfe6;
    border: 1px solid #bea3cc;
}
[data-color="decfe6"].fc-event.done,
[data-color="decfe6"] .task.done{
    background-color: #f1ebf5!important;
}
ul.colors li[data-color="f2f2f2"]:before,
ul.colors li[data-color="f2f2f2"],
[data-color="f2f2f2"].fc-event,
[data-color="f2f2f2"] .task{
    background-color: #f2f2f2;
    border: 1px solid #bfbfbf;
}
[data-color="f2f2f2"].fc-event.done,
[data-color="f2f2f2"] .task.done{
    background-color: #f9f9f9!important;
}
ul.colors li[data-color="e6e6e6"]:before,
ul.colors li[data-color="e6e6e6"],
[data-color="e6e6e6"].fc-event,
[data-color="e6e6e6"] .task{
    background-color: #e6e6e6;
    border: 1px solid #bfbfbf;
}
[data-color="e6e6e6"].fc-event.done,
[data-color="e6e6e6"] .task.done{
    background-color: #f5f5f5!important;
}
ul.colors li[data-color="cccccc"]:before,
ul.colors li[data-color="cccccc"],
[data-color="cccccc"].fc-event,
[data-color="cccccc"] .task{
    background-color: #cccccc;
    border: 1px solid #a6a6a6;
}
[data-color="cccccc"].fc-event.done,
[data-color="cccccc"] .task.done{
    background-color: #ebebeb!important;
}
/*COLORS END*/

header{
    display: block;
    width: 100%;
    height: 50px;
    padding: 3px 0px;
    background-color: #55595e;
    position: relative;
    z-index: 3;
}
header ul{
    display: inline-block;
}
header ul li{
    float: left;
}
header ul.nav{
    position: absolute;
    left: 0px;
    top: 3px;
}
header ul.nav li.ico{
    height: 44px;
    width: 44px;
}
header ul.nav li{
    margin-left: 3px;
    position: relative;
    max-width: 176px;
}
header ul.nav li:first-child{
    margin-left: 0px;
}
header ul.nav li.active{
    background-color: #494c52;
    border-radius: 5px;
}
header ul.nav li.ico a{
    display: block;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    text-decoration: none;
    outline: none;
}
header ul.nav li a,
header ul.nav li a:active,
header ul.nav li a:hover {
    background-color: transparent;
    padding: 0px;
}
header ul.nav li a.calendar{
    width: 29px;
    height: 29px;
    background-image: url("../images/ico/calendar.png");
    margin-top: 7px;
}
header ul.nav li.active a.calendar,
header ul.nav li a.calendar:hover{
    background-position: 0px -29px;
}
header ul.nav li a.list{
    width: 27px;
    height: 27px;
    background-image: url("../images/ico/list.png");
}
header ul.nav li.active a.list,
header ul.nav li a.list:hover{
    background-position: 0px -27px;
}
header ul.nav.controls{
    position: absolute;
    right: 0px;
    top: 3px;
    left: auto;
}
header ul.nav li.ico a span{
    display: block;
    position: absolute;
    right: -8px;
    top: -8px;
    color: #fff;
    height: 16px;
    line-height: 15px;
    font-size: 10px;
    background-color: #ff2121;
    padding: 0px 5px;
    border-radius: 7px;
    text-decoration: none;
}
header ul.nav li a.chat{
    width: 29px;
    height: 27px;
    background-image: url("../images/ico/chat.png");
}
header ul.nav li.active a.chat,
header ul.nav li a.chat:hover{
    background-position: 0px -27px;
}
header ul.nav li a.notification{
    width: 28px;
    height: 28px;
    background-image: url("../images/ico/notification.png");
}
header ul.nav li.active a.notification,
header ul.nav li a.notification:hover{
    background-position: 0px -28px;
}
header ul.nav li a.settings{
    width: 29px;
    height: 28px;
    background-image: url("../images/ico/settings.png");
}
header ul.nav li.active a.settings,
header ul.nav li a.settings:hover{
    background-position: 0px -28px;
}
header ul.nav li a.trash{
    width: 25px;
    height: 27px;
    background-image: url("../images/ico/trash.png");
}
header ul.nav li.active a.trash,
header ul.nav li a.trash:hover{
    background-position: 0px -27px;
}
header ul.nav li a.logout{
    width: 28px;
    height: 28px;
    background-image: url("../images/ico/logout.png");
}
header ul.nav li.active a.logout,
header ul.nav li a.logout:hover{
    background-position: 0px -28px;
}

header ul.nav.controls button{
    margin-top: 3px;
    margin-right: 20px;
}
header button.create_task{
    white-space: nowrap;
}
button{
    background: none;
    border: none;
    outline: none;
    display: block;
    font-size: 14px;
    color: #fff;
    height: 38px;
    line-height: 36px;
    padding: 0px 14px 0px 14px;
    border-bottom: 1px solid #44474b;
    border-radius: 5px;
    background-color: #3bad90;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
button.add{
    background-image: url("../images/ico/button/add.png");
    background-repeat: no-repeat;
    background-position: 13px 10px;
    padding: 0px 14px 0px 38px;
}
button:hover{
    background-color: #40b99a;
}
button:disabled{
    background-color: #878787;
    cursor: default;
}
button:active{
    background-color: #37a085;
    border-bottom: none;
    top: 1px;
    opacity: 0.8;
}

div.left-bar{
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}
div.left-bar a.logo{
    display: block;
    width: 70px;
    height: 25px;
    font-size: 0px;
    margin: 12px auto 13px auto;
}
div.left-bar a.logo img{
    width: 100%;
    height: auto;
}
div.left-bar div.user_info{
    background-color: #494c52;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
div.left-bar div.name{
    height: 56px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    background-color: #3bad90;
    color: #fff;
}
div.left-bar div.avatar{
    font-size: 0px;
    text-align: center;
    margin-top: -4px;
    width: 100%;
    min-height: 96px;
    background: url("../images/ava/male.png") center top no-repeat;
}
div.left-bar div.avatar img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid #fff;
}
div.left-bar div.avatar a{
    display: inline-block;
    position: relative;
    font-size: 0px;
    outline: none;
    border: none;
    width: 96px;
    height: 96px;
}
div.left-bar ul.nav{

}
div.left-bar ul.nav li{
    display: block;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    margin-bottom: 3px;
}
div.left-bar ul.nav li a{
    display: block;
    height: 56px;
    line-height: 56px;
    color: #cccccc;
    text-decoration: none;
    text-align: center;
    padding: 0px;
}
div.left-bar ul.nav li a:hover{
    display: block;
    height: 56px;
    line-height: 56px;
    color: #3bad90;
    background-color: #494c52;
}
div.left-bar ul.nav li.active a{
    color: #3bad90;
    background-color: #494c52;
    border-left: 3px solid #3bad90;
}

div.right-bar{
    height: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    margin-left: 210px;
    margin-right: 10px;
    background-color: #999;
    border-bottom: 10px solid #55595e;
}
div.right-bar > div.body{
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    margin-top: -50px;
    position: relative;
}

/*LISTS*/
div#lists,
div.lists{
    background-color: #fff;
    min-width: 50%;
    height: 100%;
    overflow: hidden;
}
div.lists div.lists_wrapper{
    height: 100%;
    padding-top: 50px;
    margin-top: -50px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
div.lists div#lists_container {
    /*display: table;*/
    display: inline-block;
    height: 100%;
    position: relative;
    white-space: nowrap;
}
div.lists div.lists_header{
    height: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    z-index: 3;
}
div.lists div.lists_header div.title{
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
div.lists div.lists_header ul.lists_nav{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 20px;
    top: 13px;
    height: 25px;
}
div.lists div.lists_header ul.lists_nav li{
    margin: 0px;
    padding: 0px;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    list-style: none;
}
div.lists div.lists_header ul.lists_nav li:first-child{
    margin-left: 0px;
}
div.lists div.lists_header ul.lists_nav li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.lists div.lists_header ul.lists_nav li a.prev{
    background-image: url("../images/ico/controls/prev.png");
}
div.lists div.lists_header ul.lists_nav li a.next{
    background-image: url("../images/ico/controls/next.png");
}
div.lists div.lists_header ul.lists_nav li a:hover{
    background-position: 0px -50px;
}
div.lists div.lists_header ul.lists_nav li a.disabled{
    background-position: 0px 0px;
}
div.lists div.lists_header ul.lists_controls{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 15px;
    top: 13px;
    height: 25px;
    z-index: 1;
    background-color: #fff;
}
div.lists div.lists_header ul.lists_controls li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.lists div.lists_header ul.lists_controls li.menu{
    width: 9px;
}
div.lists div.lists_header ul.lists_controls li:first-child{
    margin-left: 0px;
}
div.lists div.lists_header ul.lists_controls li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.lists div.lists_header ul.lists_controls li a.menu{
    width: 12px;
    height: 20px;
    margin-top: 3px;
    background-position: 4px -20px;
    background-image: url("../images/ico/controls/menu.png");
}
div.lists div.lists_header ul.lists_controls li a.menu:hover{
    background-position: 4px -40px;
}
div.lists div.lists_header ul.lists_controls li a.add{
    background-image: url("../images/ico/controls/add.png");
}
div.lists div.lists_header ul.lists_controls li a:hover{
    background-position: 0px -50px;
}
div.lists div.lists_header ul.lists_controls li a.disabled{
    background-position: 0px 0px;
}
div.lists div.lists_header ul.lists_controls li.list-search{
    position: relative;
}
div.lists div.lists_header ul.lists_controls li.list-search a{
    display: none;
    width: 8px;
    height: 8px;
    background-position: 0px 0px;
}
div.lists div.lists_header ul.lists_controls li.list-search a:hover{
    background-position: 0px -8px;
}
div.lists div.lists_header ul.lists_controls li.list-search input{
    width: 100%;
    height: 25px;
    padding-left: 25px;
    background: url("../images/ico/controls/search.png") no-repeat left center;
    border: none;
    outline: none;
    cursor: pointer;
}
div.lists div.lists_header ul.lists_controls li.list-search.active{
    width: 250px;
    height: 28px;
    border-bottom: 1px solid #3aac90;
    margin-right: 10px;
    margin-top: -3px;
}
div.lists div.lists_header ul.lists_controls li.list-search.active a{
    display: block;
}
div.lists div.lists_header ul.lists_controls li.list-search.active input{
    background-position: 0px -50px;
    cursor: text;
}
div.lists div.lists_wrapper div.list{
    /*display: table-cell;*/
    /*float: left;*/
    display: inline-block;
    white-space: normal;
    width: 260px;
    min-width: 260px;
    max-width: 260px;
    border-right: 1px solid #d2d2d2;
    /*padding: 0px 11px 0px 7px;*/
    height: 100%;
    position: relative;
}
div.lists div.list div.list_header{
    position: relative;
    padding: 0px 11px 10px 7px;
    z-index: 1;
}
div.lists div.list div.list_header div.title{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding-top: 9px;
}
div.lists div.list.shared div.list_header div.title span{
    display: inline-block;
    padding-left: 16px;
    background-image: url("../images/ico/shared.png");
    background-repeat: no-repeat;
    background-position: left center;
}
div.lists div.list div.list_header div.tasks{
    font-size: 12px;
    font-style: italic;
    color: #b3b3b3;
    text-align: center;
    padding-top: 7px;
}
div.lists div.list div.list_header div.tasks span.done{
    display: inline-block;
    padding-left: 10px;
    background-image: url("../images/ico/task_done.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
div.lists div.list div.list_header a.list_menu{
    display: block;
    width: 12px;
    height: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 4px -20px;
}
div.lists div.list div.list_header a.list_menu:hover{
    background-position: 4px -40px;
}
div.list-tasks-wrapper{
    position: relative;
    height: 100%;
    padding-top: 103px;
    margin-top: -103px;
}
div.list-tasks{
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0px 11px 0px 7px;
}
div.list-tasks .ps-scrollbar-y-rail{
    right: 1px!important;
}
div.tasks{

}
div.tasks div.task{
    padding: 6px 7px 9px 30px;
    /*    background-image: url("../images/ico/status/checkbox.png");
        background-repeat: no-repeat;
        background-position: 7px 6px;*/
    font-size: 12px;
    margin-bottom: 5px;
    position: relative;
}
div.tasks div.task.nobg{
    background-color: #fff;
    border: 1px solid #fff;
}
div.task.create{
    background-image: url("../images/ico/status/checkbox.png");
    background-repeat: no-repeat;
    background-position: 7px 6px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 6px 0px 4px 30px;
    font-size: 12px;
    margin-top: 10px;
}
div.tasks div.task button.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    opacity: 0.3;
}
div.tasks div.task:hover button.delete{
    opacity: 1;
}
div.tasks div.task .checkbox.strong{
    position: absolute;
    left: 7px;
    top: 7px;
}
div.task input.create_task{
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    line-height: 14px;
    font-style: italic;
    color: #b3b3b3;
    border-bottom: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
}
div.task input.create_task:focus{
    color: #333333;
    font-style: normal;
    border-bottom: 1px solid #3bad90;
}
div.tasks div.task div.task_title{
    overflow-wrap: break-word;
    color: #333333;
    font-size: 12px;
    line-height: 16px;
}
div.tasks div.task div.task_date{
    color: #000;
    font-size: 12px;
    line-height: 13px;
    padding-left: 15px;
    background-image: url("../images/ico/status/calendar.png");
    background-repeat: no-repeat;
    background-position: 0px -14px;
    margin-top: 5px;
    margin-bottom: 3px;
    height: 14px;
}
div.tasks div.task div.task_date.time{
    background-image: url("../images/ico/status/time.png");
}
div.tasks div.task div.task_date span{
    opacity: 0.6;
}
div.tasks div.task.past div.task_date{
    background-position: 0px 0px;
}
div.tasks div.task.past div.task_date span{
    color: #ff0000;
    font-weight: bold;
    opacity: 1;
}
div.tasks div.task ul.task_notifications{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    margin-top: 6px;
}
div.tasks div.task ul.task_notifications li{
    float: left;
    margin-left: 5px;
}
div.tasks div.task ul.task_notifications li:first-child{
    margin-left: 0px;
}
div.tasks div.task ul.task_notifications li span.ico{
    display: block;
    width: 13px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center -14px;
}
div.tasks div.task ul.task_notifications li span.ico.active{
    background-position: center 0px!important;
}
div.tasks div.task ul.task_notifications li span.ico[data-priority="a"]{
    background-image: url("../images/ico/status/a.png");
}
div.tasks div.task ul.task_notifications li span.ico[data-priority="b"]{
    background-image: url("../images/ico/status/b.png");
}
div.tasks div.task ul.task_notifications li span.ico[data-priority="c"]{
    background-image: url("../images/ico/status/c.png");
}
div.tasks div.task ul.task_notifications li span.ico[data-priority="d"]{
    background-image: url("../images/ico/status/d.png");
}
div.tasks div.task ul.task_notifications li span.ico.repeat{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/repeat.png");
    margin-top: 1px;
}
div.tasks div.task ul.task_notifications li span.ico.repeat_out{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/repeat_out.png");
    margin-top: 1px;
}
div.tasks div.task ul.task_notifications li span.ico.repeat.active{

}
div.tasks div.task ul.task_notifications li span.ico.reminder{
    background-image: url("../images/ico/status/reminder.png");
}
div.tasks div.task ul.task_notifications li span.ico.place{
    background-image: url("../images/ico/status/place.png");
}
div.tasks div.task ul.task_notifications li span.ico.list{
    height: 13px;
    background-position: 0px -13px;
    background-image: url("../images/ico/status/list.png");
    margin-top: 1px;
}
div.tasks div.task ul.task_notifications li span.ico.list.active{

}
div.tasks div.task ul.task_notifications li span.ico.executor{
    background-image: url("../images/ico/status/executor.png");
}
div.tasks div.task ul.task_notifications li span.ico.files{
    background-image: url("../images/ico/status/files.png");
}
div.tasks div.task ul.task_notifications li span.ico.comments{
    background-image: url("../images/ico/status/comments.png");
}
div.tasks div.task ul.task_notifications li span.ico.edited{
    background-image: url("../images/ico/status/edited.png");
}
div.tasks div.task ul.task_notifications li span.ico.calendar{
    background-image: url("../images/ico/status/calendar.png");
}
div.tasks div.task ul.task_notifications li span.ico.time{
    background-image: url("../images/ico/status/time.png");
}

div.tasks div.task.done div.task_title{
    color: #000;
    text-decoration: line-through;
    opacity: 0.6;
}
div.tasks div.task.done div.task_date span{
    color: #000;
    text-decoration: line-through;
    opacity: 0.6;
}
/*list sorting*/
.list_filter{
    margin-top: 11px;
    display: inline-block;
    width: 265px;
}
div.list_sort_wrapper{
    display: block;
    position: relative;
    float: left;
}
a.sort_delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/button/delete.png") 0px 0px no-repeat;
    position: absolute;
    right: 5px;
    top: 6px;
}
a.sort_delete:hover{
    background-position: 0px -8px;
}
select#list_sort{
    font-size: 12px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    padding-left: 15px;
}
.ui-front{
    z-index: 200;
}
.list_filter #list_sort-button .ui-icon{
    display: none;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir{
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    left: 6px;
    top: 5px;
    background-image: url("../images/ico/sort_small.png");
    background-repeat: no-repeat;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir.desc{
    background-position: 0px 0px;
}
.list_filter #list_sort-button .ui-selectmenu-text span.dir.asc{
    background-position: -5px 0px;
}
.list_filter #list_sort-button .ui-selectmenu-text{
    font-size: 12px;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    padding-left: 15px;
}
.list_filter #list_sort-button{
    font-size: 12px;
    background: none;
    background-color: #f3f3f5;
    color: #878787;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    box-shadow: none;
    width: auto!important;
    padding-right: 18px;
}
.list_filter #list_sort-button:hover{
    background-color: #e8e8eb;
}
.list_filter #list_sort-button.ui-corner-top{
    background-color: #40b99a;
    color: #fff;
}
.list_filter #list_sort-button.ui-corner-top .ui-selectmenu-text span.dir{
    background-position-y: -9px;
}
.list_filter #list_sort-button.ui-corner-top a.sort_delete{
    background-position: 0px -8px;
}
/* select with custom icons */
.ui-widget{
    font-family: "Open Sans";
}
.ui-selectmenu-menu .ui-menu{
    border-radius: 0px;
    padding: 0px;
}
.ui-selectmenu-menu .ui-menu.list_sort .ui-menu-item .ui-icon {
    height: 12px;
    width: 7px;
    left: 1em;
}
.ui-icon.asc {
    background: url("../images/ico/sort.png") -7px 0px no-repeat;
}
.ui-icon.desc {
    background: url("../images/ico/sort.png") 0px 0px no-repeat;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item{
    background: none;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #333333;
    border: 2px solid #fff;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus{
    color: #fff;
    background: none;
    background-color: #40b99a;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus .ui-icon.asc {
    background-position-y: -12px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item.ui-state-focus .ui-icon.desc {
    background-position-y: -12px;
}
/*select end*/
div.list_filter div:first-child{
    margin-right: 5px;
}
div.filter_by_user{
    font-size: 12px;
    background-color: #f3f3f5;
    color: #878787;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    position: relative;
    float: left;
    padding: 0px 19px 0px 6px;
}
/*POPUP ADD LIST*/
div.popup{
    background-color: #fff;
    position: absolute;
    z-index: 101;
    box-shadow: 0px 0px 3px 0px #010101;
}
div.popup.list_settings,
div.popup.list_share,
div.popup.lists_settings,
div.popup.profile,
div.popup.addlist{
    display: block;
    width: 625px;
    position: relative;
    right: 0px;
    top: 0px;
}
div.popup.list_settings .popup_body,
div.popup.list_share .popup_body,
div.popup.lists_settings .popup_body,
div.popup.profile .popup_body,
div.popup.addlist .popup_body{
    padding: 20px;
}
div.popup.list_settings .popup_addlist_col_left,
div.popup.addlist .popup_addlist_col_left{
    width: 270px;
    margin-right: 40px;
    float: left;
}
div.popup.list_settings .popup_addlist_col_right,
div.popup.addlist .popup_addlist_col_right{
    width: 275px;
    float: left;
}
div.popup div.popup_header{
    position: relative;
    padding: 0px 20px;
}
div.popup.list_settings div.popup_footer,
div.popup.list_share div.popup_footer,
div.popup.addlist div.popup_footer{
    background-color: #f3f3f5;
    padding-top: 18px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #cccccc;
}
div.popup.modal{
    display: block;
    width: 300px;
    position: relative;
    margin: 0px auto;
}
div.popup.modal div.popup_body{
    text-align: center;
    padding: 10px;
}
div.popup.modal div.popup_footer {
    text-align: center;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3f3f5;
}
div.popup.modal div.popup_footer div.clear {
    width: auto;
}
div.popup.modal div.popup_footer button{
    display: inline-block;
    float: left;
    height: 40px;
    min-width: 76px;
    line-height: 40px;
}
div.popup.modal div.popup_footer button.cancel{
    height: 41px;
    line-height: 41px;
    margin-right: 20px;
}
div.popup.modal div.popup_header,
div.popup.list_settings div.popup_header,
div.popup.list_share div.popup_header,
div.popup.lists_settings div.popup_header,
div.popup.profile div.popup_header,
div.popup.changepwd div.popup_header,
div.popup.addlist div.popup_header{
    background-color: #3bad90;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
div.popup.list_settings div.popup_header a,
div.popup.list_share div.popup_header a,
div.popup.lists_settings div.popup_header a,
div.popup.profile div.popup_header a,
div.popup.changepwd div.popup_header a,
div.popup.addlist div.popup_header a{
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}
div.popup.list_settings div.popup_header a.close:hover,
div.popup.list_share div.popup_header a.close:hover,
div.popup.lists_settings div.popup_header a.close:hover,
div.popup.profile div.popup_header a.close:hover,
div.popup.changepwd div.popup_header a.close:hover,
div.popup.addlist div.popup_header a.close:hover{
    background: url("../images/ico/controls/close.png") 0px -25px!important;
}
div.popup.list_settings div.popup_header .tail,
div.popup.lists_settings div.popup_header .tail,
div.popup.profile div.popup_header .tail,
div.popup.addlist div.popup_header .tail{
    display: block;
    border: 5px solid transparent;
    border-bottom: 5px solid #3bad90;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 28px;
}
div.popup div.popup_header .close{
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/ico/controls/close.png") 0px 0px no-repeat;
    position: absolute;
    right: 20px;
    top: 10px;
}
div.popup div.popup_header .close:hover{
    background-position: 0px -50px!important;
}
form input[type="submit"]{
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    font-size: 14px;
    color: #fff;
    height: 44px;
    line-height: 44px;
    padding: 0px 20px;
    border-bottom: 1px solid #c3c3c4;
    border-radius: 5px;
    background-color: #3bad90;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #40b99a;
}
form input[type="submit"]:active{
    background-color: #37a085;
    border-bottom: none;
    top: 1px;
    opacity: 0.8;
}
form input[type="submit"]:disabled{
    background-color: #878787!important;
    cursor: default;
    /*color: #878787;*/
}
div.popup.list_settings form input[type="text"],
div.popup.list_share form input[type="text"],
div.popup.addlist form input[type="text"]{
    background: none;
    border: none;
    outline: none;
    background-color: #f5f6f7;
    border: 1px solid #d9dada;
    width: 270px;
    height: 38px;
    line-height: 14px;
    padding: 0px 15px;
    color: #333333;
}
div.popup.list_settings div.row,
div.popup.lists_settings div.row,
div.popup.profile div.row,
div.popup.addlist div.row{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
div.popup label{
    display: block;
}
div.popup label.checkbox{
    display: inline-block;
    padding-left: 5px;
    line-height: 16px;
    float: left;
}
div.popup.list_settings label,
div.popup.lists_settings label,
div.popup.profile label,
div.popup.addlist label{
    font-size: 12px;
    color: #878787;
    padding-bottom: 3px;
}
div.popup.list_settings label.checkbox,
div.popup.addlist label.checkbox{
    width: 235px;
    float: left;
}
div.popup.list_settings select,
div.popup.addlist select{
    font-size: 14px;
    padding: 0px 15px;
}
.ui-selectmenu-button{
    font-size: 14px;
    height: 36px;
    background: none;
    background-color: #fff;
    border-radius: 0px;
    padding: 0px 15px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 0px;
    line-height: 38px;
}
.ui-selectmenu-button.sorted span.ui-selectmenu-text {
    padding-left: 12px;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir{
    display: block;
    width: 7px;
    height: 12px;
    position: absolute;
    left: 15px;
    top: 13px;
    background: url("../images/ico/sort.png") 0px 0px no-repeat;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir.asc{
    background-position: -7px 0px;
}
.ui-selectmenu-button span.ui-selectmenu-text span.dir.desc{
    background-position: 0px 0px;
}
.ui-selectmenu-button span.ui-icon {
    width: 11px;
    height: 7px;
    right: 14px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    background: url("../images/ico/select_marker.png") 0px -21px no-repeat;
}
.ui-selectmenu-button.ui-corner-top span.ui-icon {
    background-position: 0px -7px;
}
.ui-selectmenu-button.ui-corner-top,
.ui-selectmenu-button.ui-state-hover{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.popup_addlist_col_left .ui-selectmenu-button{
    width: 238px!important;
    background-color: #f5f6f7;
}
ul.colors{
    display: inline-block;
    width: 100%;
}
ul.colors li{
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    font-size: 0px;
    cursor: pointer;
}
ul.colors li.selected{
    background-image: url("../images/ico/status/done.png");
    background-repeat: no-repeat;
    background-position: center;
}
div.popup.list_settings .popup_addlist_col_right ul.colors,
div.popup.addlist .popup_addlist_col_right ul.colors{
    width: 280px;
    padding-left: 0px;
}

/*LIST SHARE*/
div.popup.list_share{
    width: 490px;
}
div.popup.list_share label{
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 2px;
}
div.popup.list_share form input[type="text"]{
    width: 100%;
}
div.popup.list_share label:first-child{
    margin-top: 0px;
}
div.popup.list_share a.delete{
    right: 10px;
    background-position: 0px 0px;
}
div.popup.list_share a.delete:hover{
    right: 10px;
    background-position: 0px -8px;
}
div.popup.list_share .list-user{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #e8e8eb;
    position: relative;
}
div.popup.list_share .list-user .list-user-ava{
    width: 60px;
    height: 40px;
    font-size: 0px;
    float: left;
    background: url("../images/ava/male_40.png") no-repeat left top;
}
div.popup.list_share .list-user .list-user-ava img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

div.popup.list_share .list-user .list-user-name {
    float: left;
    height: 40px;
    width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 40px;
}
div.popup.list_share .list-user .list-user-email {
    float: left;
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #878787;
    font-size: 13px;
}
div.popup.list_share #list-members{
    position: relative;
}
div.popup.list_share #list-members .dropdown-menu{
    top: 38px;
}
div.popup.list_share #list-members .perfectScrollbar{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 154px;
    overflow: hidden;
    padding-right: 11px;
}
div.popup.list_share #list-members .clear{
    margin-top: 5px;
    position: relative;
    height: 38px;
    line-height: 38px;
}
div.popup.list_share #list-members .clear .checkbox{
    display: inline-block;
}
div.popup.list_share #list-members button{
    width: auto;
    position: absolute;
    right: 0px;
    top: 0px;
}

.checkbox{
    box-shadow: none;
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 0px;
}
.checkbox .btn{
    box-shadow: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background: url("../images/ico/checkbox.png") 0px -16px no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 0px;
}
.checkbox .btn.active{
    background-position: 0px 0px;
}

.checkbox.strong{
    width: 14px;
    height: 14px;
}
.checkbox.strong .btn{
    background: url("../images/ico/status/checkbox_status.png") 0px 0px no-repeat;
}
.checkbox.strong .btn.active{
    background-position: 0px -14px;
}

.checkbox.toggle{
    width: 30px;
    height: 18px;
}
.checkbox.toggle .btn{
    padding-left: 35px;
    background: url("../images/ico/toggle.png") 0px -18px no-repeat;
}
.checkbox.toggle .btn.active{
    background-position: 0px 0px;
}

button.ui-checkbox{
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    float: left;
}
button.ui-checkbox.ui-state-default .ui-icon{
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background: url("../images/ico/checkbox.png") 0px -16px no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}
button.ui-checkbox.ui-state-default .ui-icon.ui-icon-check{
    background-position: 0px 0px;
}

button.ui-checkbox.checkbox_status{
    width: 14px;
    height: 14px;
}
button.ui-checkbox.checkbox_status.ui-state-default .ui-icon{
    width: 14px;
    height: 14px;
    background: url("../images/ico/status/checkbox_status.png") 0px 0px no-repeat;
}
button.ui-checkbox.checkbox_status.ui-state-default .ui-icon.ui-icon-check{
    background-position: 0px -14px;
}

.checkbox_toggle button.ui-checkbox{
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    float: left;
}
.checkbox_toggle button.ui-checkbox.ui-state-default .ui-icon{
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background: url("../images/ico/toggle.png") 0px -18px no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}
.checkbox_toggle button.ui-checkbox.ui-state-default .ui-icon.ui-icon-check{
    background-position: 0px 0px;
}
/*POPUP ADD LIST END*/
/*POPUP LISTS SETTINGS*/
div.popup.lists_settings{
    width: 315px;
    right: 54px;
    z-index: 102;
}
div.popup.lists_settings label.checkbox{
    width: 235px;
    float: right;
}
div.popup.lists_settings div.popup_footer div.ico.trashbox{
    width: 23px;
    height: 25px;
    background:  url("../images/ico/controls/delete.png") 0px -25px no-repeat;
    position: absolute;
    left: 13px;
    top: 11px;
}
div.popup.lists_settings div.popup_footer{
    background-color: #f3f3f5;
    padding: 9px 13px 13px 48px;
    font-size: 12px;
    line-height: 16px;
    color: #878787;
    position: relative;
}
div.popup.lists_settings div.popup_footer a{
    color: #6595ba;
}
/*POPUP LISTS SETTINGS END*/
/*POPUP LIST SETTINGS*/
div.popup.list_settings{
    /*display: block;*/
    z-index: 101;
    right: -31px;
    top: 40px;
}
div.popup.list_settings.go-right{
    margin-right: -559px;
}
div.popup.list_settings.go-right div.popup_header .tail{
    right: auto;
    left: 28px;
}
div.popup.list_settings div.subtitle{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
div.popup.list_settings div.shares{
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
    background-color: #f3f3f5;
    padding: 7px 10px 10px 10px;
    position: relative;
    margin-top: 7px;
}
div.popup.list_settings div.shares .users{
    color: #878787;
}
div.popup.list_settings a{
    color: #6595ba;
}
div.popup.list_settings div.list_actions{
    margin-top: -10px;
}
div.popup.list_settings div.list_actions ul{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    margin-top: 7px;
    list-style: none;
    padding: 0px;
}
div.popup.list_settings div.list_actions ul li{
    float: left;
    list-style: none;
    padding: 0px;
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid #6595ba;
}
div.popup.list_settings div.list_actions ul li:first-child{
    margin-left: 0px;
    padding-left: 0px;
    border-left: none;
}
/*POPUP LIST SETTINGS END*/
/*POPUP NEW TASK*/
div.popup.new_task{
    /*display: none;*/
    width: 500px;
    max-height: 100%;
    position: absolute;
    top: 0px;
    right: 200px;
    background-color: #f3f3f5;
    overflow: hidden;
}
div.popup.new_task div.body_wrapper{
    width: 500px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}
div.popup.new_task div.popup_header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
}
div.popup.new_task div.popup_header button.save{
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 20px;
    padding: 0px 16px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #c3c3c4;
}
div.popup.new_task div.popup_header button.save:active{
    top: 10px;
}
div.popup.new_task div.popup_header a.delete{
    display: inline-block;
    width: 23px;
    height: 25px;
    position: absolute;
    top: 14px;
    left: 132px;
    background: url("../images/ico/controls/delete.png") 0px -25px no-repeat;
}
div.popup.new_task div.popup_header a.delete:hover{
    background-position: 0px -50px;
}
div.popup.new_task div.popup_header a.close{
    display: inline-block;
    padding-right: 29px;
    color: #878787;
    text-decoration: none;
    width: auto;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 14px;
    right: 20px;
    background: url("../images/ico/controls/close.png") right -25px no-repeat;
}
div.popup.new_task div.popup_header a.close:hover{
    background-position: right -50px!important;
    color: #3aac90;
}
div.popup.new_task div.popup_header a.delete:hover{
    background-position: 0px -50px;
}
div.popup.new_task div.popup_header div.title{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
div.popup.new_task div.body{
    padding: 0px 20px;
}
form div.row{
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
}
form div.row10{
    margin-bottom: 10px;
    position: relative;
}
form label{
    font-size: 12px;
    color: #878787;
    padding-bottom: 0px;
    position: relative;
}
form label span{
    color: #6595ba;
}
form label div.author{
    position: absolute;
    right: 0px;
    top: 0px;
}
form label div.author span{
    color: #333333;
}
button.cancel{
    background-color: #fff;
    display: inline-block;
    width: auto;
    font-size: 14px;
    color: #878787;
    padding: 0px 20px;
    height: 44px;
    min-width: 76px;
    line-height: 42px;
    border: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}
form button.cancel{
    margin-right: 10px;
    min-width: 116px;
}
button.cancel:hover{
    border: 1px solid #3bad90;
    border-bottom: 2px solid #3bad90;
    color: #3bad90
}
button.cancel:active{
    border: 1px solid #3bad90;
    border-bottom: 1px solid #3bad90;
    background-color: #f4f4f4;
    color: #3bad90;
    top: 1px;
}
form input[type="submit"]{
    font-size: 14px;
    color: #fff;
    height: 44px;
    min-width: 116px;
    line-height: 44px;
    padding: 0px 34px;
}
form input[type="password"],
form input[type="email"],
form input[type="number"],
form input[type="text"]{
    max-width: 100%;
    background: none;
    border: none;
    outline: none;
    background-color: #f5f6f7;
    height: 38px;
    padding: 0px 15px;
    color: #333333;
    font-size: 13px;
    width: 460px;
    border: 1px solid #d9dada;
    box-shadow: none;
}
form input[type="text"]:disabled,
form input[type="number"]:disabled,
form input[type="email"]:disabled{
    color: #bbb!important;
}
form input.ng-touched.ng-invalid,
form input.error{
    background-color: #f7dddc!important;
    border: 1px solid #e09592!important;
    box-shadow: none!important;
}
form div.error{
    background-color: #e05852;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}
form div.error span{
    display: inline-block;
    padding-left: 15px;
    background: url("../images/ico/warning.png") left center no-repeat;
}
form input.error:focus,
form input.error:focus{
    border: 1px solid #e09592!important;
    box-shadow: none!important;
}
form textarea{
    max-width: 100%;
    background: none;
    border: none;
    outline: none;
    background-color: #eaeaed;
    min-height: 14px;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    padding: 10px;
    width: 460px;
    border: 1px solid #cccccc;
}
form select{
    width: 100%;
}
form input[type="password"]:focus,
form input[type="number"]:focus,
form input[type="text"]:focus,
form textarea:focus{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
div.popup.new_task form input[type="password"],
div.popup.new_task form input[type="number"],
div.popup.new_task form input[type="text"]{
    background-color: #eaeaed;
}
div.popup.new_task form div.task_title_wrapper{
    position: relative;
}
div.popup.new_task form div.task_title_wrapper .checkbox{
    position: absolute;
    left: 13px;
    top: 12px;
}
div.popup.new_task form input.task_title{
    background-color: #eaeaed;
}
div.popup.new_task form input.task_title{
    padding-left: 37px;
}

.dropdown button{
    background: none;
    padding: 0px 15px;
    margin: 0px;
    background-color: #eaeaed;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 0px;
    width: 100%;
    text-align: left;
}
.panel .dropdown button{
    background-color: #f5f6f7;
}
div.popup.new_task form .select_list .dropdown{
    width: 425px;
}
.dropdown button .caret{
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    content: " ";
    font-size: 0px;
    width: 11px;
    height: 7px;
    right: 14px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    background: url("../images/ico/select_marker.png") 0px -21px no-repeat;
}
.dropdown.open button .caret {
    background-position: 0px -7px;
}
.dropdown .dropdown_value{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dropdown.open button{
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.dropdown button:hover,
.dropdown button:active{
    background-color: #eaeaed;
    top: auto;
    opacity: 1;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.dropdown ul.dropdown-menu{
    width: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
}
.dropdown ul.dropdown-menu li{
    height: 38px;
    line-height: 34px;
    font-size: 14px;
    color: #333333;
    border: 2px solid #fff;
    padding: 0px 15px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dropdown ul.dropdown-menu li:hover{
    color: #fff;
    background-color: #40b99a;
}

div.popup.new_task form .select_list a.add{
    position: absolute;
    top: 22px;
    right: 0px;
}
a.add{
    display: inline-block;
    color: #878787;
    text-decoration: none;
    height: 25px;
    width: auto;
    padding-left: 25px;
    line-height: 25px;
    background: url("../images/ico/controls/add.png") 0px -25px no-repeat;
}
a.add span{
    display: inline-block;
    padding-left: 5px;
}
a.add:hover{
    background-position: 0px -50px;
}
div.popup.new_task form a.remove{
    position: absolute;
    top: 22px;
    right: 0px;
}
a.remove{
    display: inline-block;
    color: #878787;
    text-decoration: none;
    height: 25px;
    height: 25px;
    width: auto;
    padding-left: 25px;
    line-height: 25px;
    background: url("../images/ico/controls/close.png") 0px -25px no-repeat;
}
a.remove:hover{
    background-position: 0px -50px;
}
div.popup.new_task form .task_new_list_wrapper{
    position: relative;
}
div.popup.new_task form .task_new_list_wrapper input{
    width: 425px;
    margin-left: 35px;
    padding-right: 27px;
    margin-right: 0px;
}
div.popup.new_task form .task_new_list_wrapper .error{
    width: 425px;
    margin-left: 35px;
    margin-right: 0px;
}
div.popup.new_task form .task_new_list_wrapper a.add{
    left: 0px;
    top: 7px;
    right: auto;
}
div.popup.new_task form .task_new_list_wrapper button{
    position: absolute;
    left: 0px;
    top: 7px;
    right: auto;
    display: inline-block;
    color: #878787;
    text-decoration: none;
    height: 25px;
    width: auto;
    padding-left: 25px;
    line-height: 25px;
    border: none;
    box-shadow: none;
    outline: none;
    background: url("../images/ico/controls/add.png") 0px -25px no-repeat;
}
div.popup.new_task form .task_new_list_wrapper button:hover{
    background-position: 0px -50px;
}
div.popup.new_task form .task_new_list_wrapper button:disabled{
    opacity: 0.6;
}
div.popup.new_task form .task_new_list_wrapper button:disabled:hover{
    background-position: 0px -25px;
}
div.popup.new_task form .task_new_list_wrapper a.remove{
    left: 0px;
    top: 7px;
    right: auto;
}
div.popup.new_task form .task_new_list_wrapper a.delete {
    display: block;
    width: 12px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") center 0px no-repeat;
    position: absolute;
    right: 10px;
    top: 19px;
}
div.popup.new_task form .task_new_list_wrapper a.delete:hover{
    background-position: center -8px;
}
div.popup.new_task form a.toggle{

}
div.popup.new_task form a.toggle.active{
    text-decoration: none;
    color: #878787;
    cursor: default;
}
div.popup.new_task form div.toggle_data{
    display: none;
}
div.popup.new_task form div.task_description textarea{
    min-height: 38px;
    line-height: 16px;
    resize: none;
    overflow-y: hidden;
    /*padding: 0px;*/
    height: auto;
}
div.popup.new_task form div.toggle_data.active{
    display: block;
}
div.popup.new_task form div.task_description_list{

}
div.popup.new_task form div.task_description_list ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
div.popup.new_task form div.task_description_list ul li{
    height: 38px;
    line-height: 38px;
    position: relative;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    color: #333333;
}
div.popup.new_task form div.task_description_list ul li{
    padding-left: 37px;
}
div.popup.new_task form div.task_description_list ul li input[type="text"]{
    background: none;
    border: none;
    width: 100%;
    padding-left: 0px;
    outline: none;
    box-shadow: none;
}
div.popup.new_task form div.task_description_list ul li .checkbox{
    position: absolute;
    left: 12px;
    top: 12px;
}
a.delete,
div.popup.new_task form a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -4px;
}
a.delete:hover,
div.popup.new_task form a.delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task form div.list_priority{
    display: block;
    float: left;
}
div.popup.new_task form label.ui-button{
    width: auto;
    float: left;
    padding-bottom: 0px;
}
div.popup.new_task form label.list_priority{
    float: left;
    line-height: 16px;
    padding-right: 10px;
}
.list_priority .btn{
    padding: 0px;
    border: none;
    background: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
    padding-left: 21px;
    height: 16px;
    background: url("../images/ico/radiobox.png") 0px -16px no-repeat;
}
.list_priority .btn:hover{
    background-position: 0px -32px;
}
.list_priority .btn.active{
    background-position: 0px 0px;
    box-shadow: none;
}
.list_priority .btn img{
    width: 20px;
    height: 21px;
    position: relative;
    top: -2px;
}

div.popup.new_task div.panel{
    position: relative;
    margin-bottom: 5px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
div.popup.new_task div.panel div.panel-heading{
    font-size: 12px;
    text-align: left;
    padding-left: 65px;
    color: #878787;
    height: 54px;
    line-height: 54px;
    background-color: #e8e8eb;
    cursor: pointer;
    position: relative;
    border: none;
    box-shadow: none;
    border-radius: 0px;
}
div.popup.new_task div.panel.edited div.panel-heading{
    border-left: 3px solid #bdbdbd;
    padding-left: 62px;
}
/*div.popup.new_task div.panel.edited div.panel-heading div.panel-title{*/
/*line-height: 16px;*/
/*font-size: 12px;*/
/*}*/
div.popup.new_task div.panel div.panel-heading div.panel-title{
    /*font-size: 12px;*/
    /*line-height: 34px;*/
    line-height: 16px;
    font-size: 12px;
    display: table;
    height: 100%;
}
div.popup.new_task div.panel div.panel-heading div.panel-title div.panel-title-body{
    display: table-cell;
    vertical-align: middle;
}
div.popup.new_task div.panel div.panel-heading div.panel-title div.edited_note{
    display: inline-block;
    font-weight: bold;
    color: #333333;
    position: relative;
    padding-right: 15px;
}
div.popup.new_task div.panel div.panel-heading div.panel-title div.edited_note a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -4px;
}
div.popup.new_task div.panel div.panel-heading div.panel-title div.edited_note a.delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task div.panel div.panel-heading div.panel_ico{
    width: 25px;
    height: 25px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    left: 21px;
    top: 50%;
    margin-top: -12px;
}
div.popup.new_task div.panel.edited div.panel-heading div.panel_ico span{
    width: 7px;
    height: 7px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url("../images/ico/notice_dote.png") 0px 0px no-repeat;
}
div.popup.new_task div.panel div.panel-heading > span{
    display: block;
    width: 11px;
    height: 7px;
    background-image: url("../images/ico/select_marker.png");
    background-repeat: no-repeat;
    background-position: 0px -21px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px;
}
div.popup.new_task div.panel div.panel-heading[aria-expanded="true"]{
    background-color: #fff;
    /*border-bottom: 1px solid #e8e8eb;*/
}
div.popup.new_task div.panel div.panel-heading[aria-expanded="true"] span{
    background-position: 0px -14px;
}
div.popup.new_task div.panel div.panel-body{
    padding: 0px;
}
div.popup.new_task div.panel div.panel_content{
    background-color: #fff;
    padding: 20px;
    padding-left: 65px;
}
div.popup.new_task div.panel div.panel_content .ui-selectmenu-button,
div.popup.new_task div.panel div.panel_content input{
    background-color: #f5f6f7;
}
div.popup.new_task div.popup_footer{
    text-align: center;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    padding-bottom: 20px;
}
div.popup.new_task div.panel div.panel_col_left{
    width: 177px;
    float: left;
    margin-right: 23px;
}
div.popup.new_task div.panel div.panel_col_right{
    width: 174px;
    float: left;
}
div.popup.new_task div.panel div.panel_col_left a.delete{
    top: 15px;
    margin-top: 0px;
}
div.popup.new_task div.panel div.panel_col_right a.delete{
    top: 15px;
    margin-top: 0px;
}
div.popup.new_task form input.date{
    /*width: 102px!important;*/
    width: 88px!important;
    padding: 0px 10px;
    text-align: center;
    float: left;
    margin-top: 20px;
}
div.popup.new_task form input.date.notime {
    width: 200px!important;
}
div.popup.new_task div.panel div.task_date_range{
    background: url("../images/ico/date_separator.png") center 53px no-repeat;
}
div.popup.new_task div.panel div.task_date_range div.panel_col_left input.date{
    margin-right: 4px;
}
div.popup.new_task div.panel div.task_date_range .timepicker_wrapper{
    width: 85px;
    float: left;
}
div.popup.new_task div.panel div.task_date_range .panel_col_right ul.dropdown-menu{
    left: 85px!important;
}
div.popup.new_task div.panel div.task_date_range table.ng-isolate-scope{
    width: 85px;
    text-align: center;
}
div.popup.new_task div.panel div.task_date_range table.ng-isolate-scope .btn.btn-link{
    padding: 0px 10px;
    line-height: 14px;
}
div.popup.new_task div.panel div.task_date_range div.panel_col_right input.form-control{
    /*margin-right: 6px;*/
}
div.popup.new_task form input.form-control{
    width: 34px!important;
    padding: 0px 5px;
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    box-shadow: none;
}
div.popup.new_task form div.task_duration input[type="number"],
div.popup.new_task form div.task_duration input[type="text"]{
    width: 84px!important;
    padding: 0px 10px;
    float: left;
}
div.popup.new_task form div.task_duration input[type="number"]:first-child,
div.popup.new_task form div.task_duration input[type="text"]:first-child{
    margin-right: 6px;
}
div.popup.new_task form div.task_duration div.panel_col_right{
    padding-top: 22px;
}
div.popup.new_task form div.panel_col_left select,
div.popup.new_task form div.panel_col_left .ui-selectmenu-button,
div.popup.new_task form div.panel_col_right select,
div.popup.new_task form div.panel_col_right .ui-selectmenu-button{
    width: 175px;
}
div.popup.new_task form div.panel_col_left input,
div.popup.new_task form div.panel_col_right input{
    width: 175px;
}
div.popup.new_task form div.day_repeat{
    margin-top: 5px;
    width: 395px;
}
div.popup.new_task form div.day_repeat .checkbox{
    float: left;
    margin-right: 20px;
    margin-top: 0px;
    width: auto;
}
div.popup.new_task form div.panel_col_right div.reminder_value{
    width: 50px;
    float: left;
    margin-right: 6px;
}
div.popup.new_task form div.panel_col_right div.reminder_unit{
    width: 104px;
    float: left;
}
div.popup.new_task form div.panel_col_right div.reminder_value input{
    width: 50px;
    text-align: center;
    padding: 0px 5px;
}
div.popup.new_task form div.panel_col_right div.reminder_unit select,
div.popup.new_task form div.panel_col_right div.reminder_unit .ui-selectmenu-button{
    width: 102px;
}
div.popup.new_task form select.task_executor{
    width: 375px;
}
div.popup.new_task .tasks{
    padding-right: 20px;
}
div.popup.new_task .tasks{
    padding-right: 20px;
}
div.tasks div.task a.task_delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: -17px;
    top: 0px;
}
div.tasks div.task a.task_delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task ul.uploaded_files{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}
div.popup.new_task ul.uploaded_files li{
    display: block;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
    padding-left: 17px;
    background: url("../images/ico/file.png") 0px 0px no-repeat;
    position: relative;
    margin-top: 10px;
}
div.popup.new_task ul.uploaded_files li:first-child{
    margin-top: 0px;
}
div.popup.new_task ul.uploaded_files li div{
    display: inline-block;
    position: relative;
    padding-right: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.popup.new_task ul.uploaded_files li div a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -4px;
}
div.popup.new_task ul.uploaded_files li div a.delete:hover{
    background-position: 0px -8px;
}
div.popup.new_task div.upload_area{
    width: 370px;
    height: 74px;
    position: relative;
    line-height: 74px;
    font-size: 12px;
    color: #b3b6ba;
    border: 3px dashed #dbdbdb;
    text-align: center;
    border-radius: 5px;
}
div.popup.new_task div.upload_area:hover{
    background-color: #f3f3f5;
}
div.popup.new_task div.upload_area div.file_link{
    display: inline-block;
    background: none;
    border: none;
    border-radius: none;
    text-transform: none;
    color: #6595ba;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    line-height: 12px;
}
div.popup.new_task div.upload_area div.file_link:hover{
    text-decoration: none;
}
.task_comments{

}
.task_comments .task_comment{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.task_comments .task_comment .task_comment_ava{
    width: 60px;
    height: 40px;
    font-size: 0px;
    float: left;
    background: url("../images/ava/male_40.png") no-repeat left top;
}
.task_comments .task_comment .task_comment_ava img{
    width: 40px;
    height: auto;
    border-radius: 50%;
}
.task_comments .task_comment .task_comment_text{
    width: 315px;
    float: left;
    position: relative;
}
.task_comments .task_comment .task_comment_text .task_comment_author{
    font-size: 12px;
    color: #333333;
    line-height: 12px;
    padding-bottom: 8px;
}
.task_comments .task_comment .task_comment_text .task_comment_author span{
    color: #878787;
}
.task_comments .task_comment .task_comment_text .task_comment_content{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    background-color: #f3f3f5;
    position: relative;
    padding: 7px 10px;
    border-radius: 5px;
}
.task_comments .task_comment .task_comment_text .task_comment_content:before{
    display: block;
    border: 8px solid transparent;
    border-top: 8px solid #f3f3f5;
    border-right: 8px solid #f3f3f5;
    position: absolute;
    top: 0px;
    left: -8px;
    content: " ";
}
.task_comments .task_comment textarea{
    max-width: 100%;
    background: none;
    border: none;
    outline: none;
    background-color: #eaeaed;
    height: 38px;
    min-height: 38px;
    font-size: 14px;
    color: #333333;
    line-height: 16px;
    padding: 10px;
    width: 460px;
    border: 1px solid #cccccc;
    resize: none;
}
.task_comments .task_comment textarea:focus{
    border: 1px solid #3bad90;
    box-shadow: 0px 0px 1px 1px #c5e7de;
}
.task_comments .task_comment_submit_wrapper{
    position: relative;
    padding-left: 60px;
    margin-top: -10px;
}
.task_comments .task_comment_submit_wrapper button{
    font-size: 12px!important;
    height: 32px!important;
    line-height: 32px!important;
    padding: 0px 15px!important;
    background-color: #3bad90;
}
.task_comments .task_comment_submit_wrapper button:disabled{
    background-color: #878787;
}
.task_comments .task_comment_submit_wrapper a.clear{
    display: inline-block;
    padding-right: 29px;
    color: #878787;
    text-decoration: none;
    width: auto;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0px;
    font-size: 12px;
    background: url("../images/ico/controls/close.png") right -25px no-repeat;
}
.task_comments .task_comment_submit_wrapper a.clear:hover{

}
.task_comments .task_comment_submit_wrapper a.clear:hover{
    background-position: right -50px;
    color: #3aac90;
}
.task_logs{

}
.task_log{
    line-height: 0px;
    font-size: 0px;
}
.task_log .log_date{
    margin-top: 15px;
}
.task_logs .task_log:first-child .log_date{
    margin-top: 0px;
}
.task_log .log_date span{
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #878787;
    border-radius: 3px;
    background-color: #ebebeb;
    padding: 0px 5px;
}
.task_log .log_info_wrapper{
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    width: 100%;
}
.task_log .log_info_wrapper .log_time{
    color: #878787;
    float: left;
    width: 40px;
    padding: 0px 3px;
}
.task_log .log_info_wrapper .log_info{
    color: #999999;
    float: left;
    width: 329px;
}
.task_log .log_info_wrapper .log_info span{
    font-weight: bold;
    color: #333333;
}
/*POPUP NEW TASK END*/
/*POPUP NOTIFICATIONS */
div.popup.notifications{
    width: 278px;
    background-color: #494c52;
    position: absolute;
    right: 10px;
    top: 0px;
    box-shadow: none;
}
div.popup.notifications .popup_header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #55595e;
}
div.popup.notifications .popup_header div.title{
    color: #3bad90;
    font-weight: bold;
    font-size: 14px;
}
div.popup.notifications .popup_header .close{
    top: 50%;
    margin-top: -12px;
    right: 20px;
    background-position: 0px -25px;
}
div.popup.notifications .popup_header .close:hover{
    background-position: 0px -50px;
}
div.popup.notifications .popup_header .menu{
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 55px;
    top: 50%;
    margin-top: -10px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 0px -20px;
}
div.popup.notifications .popup_header .menu:hover{
    background-position: 0px -40px;
}
div.popup.notifications .popup_content{
    background-color: #55595e;
    position: relative;
    overflow: hidden;
}
div.popup.notifications .notification.active{
    background-color: #55595e;
}
div.popup.notifications .notification{
    padding: 10px;
    margin-bottom: 1px;
    border: 5px solid #494c52;
    background-color: #494c52;
}
div.popup.notifications .notification .notification_ico{
    width: 25px;
    height: 25px;
    float: left;
    position: relative;
    margin-right: 9px;
}
div.popup.notifications .notification .notification_ico img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

div.popup.notifications .ps-scrollbar-y-rail{
    background-color: #eee;
}

div.popup.notifications .notification .notification_ico.description,
div.popup.notifications .notification .notification_ico.repeat_out,
div.popup.notifications .notification .notification_ico.repeat,
div.popup.notifications .notification .notification_ico.priority,
div.popup.notifications .notification .notification_ico.list_id,
div.popup.notifications .notification .notification_ico.done,
div.popup.notifications .notification .notification_ico.edit,
div.popup.notifications .notification .notification_ico.create,
div.popup.notifications .notification .notification_ico.other{
    background: url("../images/ico/task_part/log.png");
}
div.popup.notifications .notification .notification_ico.delete{
    background: url("../images/ico/task_part/delete.png");
}
div.popup.notifications .notification .notification_ico.executor_id{
    background: url("../images/ico/task_part/executor.png");
}
div.popup.notifications .notification .notification_ico.files{
    background: url("../images/ico/task_part/files.png");
}
div.popup.notifications .notification .notification_ico.duration,
div.popup.notifications .notification .notification_ico.date{
    background: url("../images/ico/task_part/calendar.png");
}
div.popup.notifications .notification .notification_ico.location{
    background: url("../images/ico/task_part/place.png");
}
div.popup.notifications .notification .notification_ico.comments{
    background: url("../images/ico/task_part/comments.png");
}
div.popup.notifications .notification .notification_ico.reminders{
    background: url("../images/ico/task_part/reminder.png");
}
div.popup.notifications .notification .notification_ico.user{
    background: url("../images/ava/female_40.png");
    background-size: contain;
}

div.popup.notifications .notification.active .notification_ico span {
    width: 7px;
    height: 7px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url("../images/ico/notice_dote.png") 0px 0px no-repeat;
}
div.popup.notifications .notification .notification_info{
    width: 206px;
    float: left;
}
div.popup.notifications .notification .notification_info .notification_date{
    font-size: 12px;
    line-height: 12px;
    color: #3bad90;
    padding-bottom: 5px;
}
div.popup.notifications .notification .notification_info .notification_comment{
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    padding-bottom: 5px;
}
div.popup.notifications .notification .notification_info .notification_text{
    font-size: 12px;
    line-height: 16px;
    color: #cccccc;
    padding: 6px 10px;
    border: 1px solid #999999;
    border-radius: 3px;
    position: relative;
}
div.popup.notifications .notification .notification_info .notification_title{
    color: #ccc;
    font-size: 12px;
    font-weight: 600;
}
div.popup.notifications .notification .notification_info .notification_username{
    color: #3bad90;
    font-size: 12px;
    font-weight: 600;
}
div.popup.notifications .notification.comment .notification_info .notification_text:before{
    content: " ";
    width: 9px;
    height: 7px;
    position: absolute;
    left: -8px;
    top: -1px;
    background: url("../images/comment_tail.png") 0px 0px no-repeat;
}
div.popup.notifications .notification.comment.active .notification_info .notification_text:before{
    background: url("../images/comment_tail.png") 0px -7px no-repeat;
}
div.popup.notifications .notification a.read_more{
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: #6595ba;
    margin-top: 5px;
    margin-left: 2px;
}
/*POPUP NEW TASK END*/
/*POPUP AUTH */
div.popup.auth{
    width: 280px;
    border-top: 3px solid #3bad90;
    background-color: #fff;
    font-size: 12px;
    color: #878787;
    top: 100px;
    left: 50%;
    margin-left: -140px;
}
div.popup.auth a{
    color: #6595ba
}
div.popup.auth .popup_header{
    padding-top: 21px;
    text-align: center;
}
div.popup.auth .popup_header div.subtitle{
    font-size: 14px;
    color: #878787;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 16px;
}
div.popup.auth .popup_header div.title{
    font-size: 14px;
    line-height: 14px;
    color: #3bad90;
    text-align: center;
    font-weight: bold;
    padding-bottom: 6px;
}
div.popup.auth div.popup_header .close{
    right: 5px;
    top: 7px;
    background-position: 0px -25px;
}
div.popup.auth .popup_content{
    padding: 0px 20px;
}
div.popup.auth .popup_content form label{
    font-size: 12px;
    color: #878787;
}
div.popup.auth .popup_content form input{
    width: 100%;
}
div.popup.auth .popup_content form input[type="text"],
div.popup.auth .popup_content form input[type="email"],
div.popup.auth .popup_content form input[type="password"]{
    max-width: 100%;
}
div.popup.auth .popup_footer{
    background-color: #f4f4f7;
    border-top: 1px solid #e3e3e3;
    padding: 15px 0px;
    text-align: center;
}
a.social{
    display: block;
    font-size: 0px;
    line-height: 0px;
}
a.social.google{
    width: 240px;
    height: 80px;
    background: url("../images/ico/socials/google.png") 0px 0px no-repeat;
}
a.social.google:hover{
    background-position: 0px -80px;
}
a.social.fb{
    width: 40px;
    height: 40px;
    background: url("../images/ico/socials/fb.png") 0px 0px no-repeat;
}
a.social.vk{
    width: 40px;
    height: 40px;
    background: url("../images/ico/socials/vk.png") 0px 0px no-repeat;
}
a.social.tw{
    width: 40px;
    height: 40px;
    background: url("../images/ico/socials/tw.png") 0px 0px no-repeat;
}
a.social.fb:hover,
a.social.vk:hover,
a.social.tw:hover{
    background-position: 0px -40px;
}
div.popup.auth .popup_footer a.social.google{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    cursor: pointer;
}
div.popup.auth .popup_footer div.clear a.social{
    display: inline-block;
    margin: 0px 3px;
    margin-top: 10px;
}
div.popup.auth form div.row10{
    line-height: 16px;
}
div.popup.auth form div.hint{
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
}
/*POPUP AUTH END*/
/*POPUP DIALOG*/
div.popup.dialog{
    width: 460px;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}
div.popup.dialog .subtitle{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}
div.popup.dialog div.popup_header{
    height: 44px;
    line-height: 44px;
    background-color: #3bad90;
    padding: 0px 20px;
}
div.popup.dialog div.popup_header div.title{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
}
div.popup.dialog.trashbox div.popup_header div.title{
    padding-left: 30px;
}
div.popup.dialog.trashbox div.popup_header div.title:before{
    display: inline-block;
    content: " ";
    width: 23px;
    height: 25px;
    background: url("../images/ico/controls/delete.png") 0px 0px no-repeat;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -12px;
}
div.popup.dialog.trashbox div.task div.task_title{
    width: 260px;
}
div.popup.dialog.trashbox div.task a.cancel{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0px 11px;
    position: absolute;
    right: 4px;
    top: 4px;
    margin: 0px;
}
div.popup.dialog div.popup_header a.close{
    background-position: 0px 0px;
}
div.popup.dialog div.popup_header a.close:hover{
    background-position: 0px -25px!important;
}
div.popup.dialog div.popup_content{
    padding: 20px;
}
div.popup.dialog div.popup_footer{
    text-align: center;
    padding: 20px;
    background-color: #f4f4f7;
    border-top: 1px solid #e3e3e3;
}
div.popup.dialog div.list_user_title{
    font-weight: bold;
    color: #878787;
    line-height: 12px;
    padding-bottom: 3px;
}
div.popup.dialog div.list_user{
    display: inline-block;
    width: 400px;
    position: relative;
    padding: 10px;
    height: 40px;
    line-height: 40px;
    background-color: #f4f4f7;
    margin-bottom: 5px;
}
div.popup.dialog div.list_user div.ava{
    width: 40px;
    margin-right: 20px;
    font-size: 0px;
    float: left;
}
div.popup.dialog div.list_user div.ava img{
    width: 100%;
    height: auto;
}
div.popup.dialog div.list_user div.name{
    width: 150px;
    margin-right: 15px;
    color: #333333;
    float: left;
}
div.popup.dialog div.list_user div.email{
    width: 175px;
    color: #878787;
    float: left;
}
div.popup.dialog div.list_user a.delete{
    display: block;
    width: 8px;
    height: 8px;
    background: url("../images/ico/controls/delete_small.png") 0px 0px no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
}
div.popup.dialog div.list_user a.delete:hover{
    background-position: 0px -8px;
}
div.popup.dialog div.list_user_add_wrapper{
    position: relative;
    display: none;
}
div.popup.dialog div.list_user_add_wrapper button{
    position: relative;
    width: 60px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
div.popup.dialog div.list_user_add_wrapper .checkbox_toggle{
    position: absolute;
    right: 0px;
    top: 7px;
}
/*POPUP DIALOG END*/
/*POPUP CALENDAR*/
div#calendar{
    background-color: #fff;
    height: 100%;
    max-height: 100%;
}
div.calendar{
    background-color: #fff;
    height: 100%;
    max-height: 100%;
}
div.calendar_wrapper{
    height: 100%;
    position: relative;
}
div.calendar_top{
    border-bottom: 1px solid #cccccc;
    height: 200px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 15px 20px;
}
div.calendar_top table.calendar_top_table{
    height: 177px;
    width: 100%;
}
div.calendar_top table.calendar_top_table tr td{
    vertical-align: top;
}
div.calendar_top table.calendar_top_table  tr td.calendar_datepicker_wrapper_td{
    width: 100%;
    height: 177px;
    text-align: right;
    vertical-align: top;
}
div.calendar_body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 200px;
}
div.calendar_lists{
    height: 177px;
    white-space: nowrap;
}
div.calendar_lists .calendar_lists_wrapper,
div.calendar_lists .calendar_lists_wrapper .list-tasks-body{
    padding-right: 20px;
    height: 137px;
    position: relative;
    overflow: hidden;
}
div.calendar_lists .title{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 20px;
}
div.calendar_lists .colors{
    margin: 0px;
    padding: 0px;
}
div.calendar_lists .colors li{
    display: block;
    width: auto;
    background: none;
    border: none;
    height: 16px;
    line-height: 16px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    padding-left: 21px;
    position: relative;
    font-weight: bold;
    float: none;
}
div.calendar_lists .colors li:before{
    display: block;
    width: 15px;
    height: 15px;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
}
div.calendar_lists .colors li.active:before{
    border: 1px solid #c8c8c8;
    background: url("../images/ico/cross.png") center no-repeat;
    background-color: #fff;
}
div.calendar_datepicker_wrapper{
    padding: 0px 10px;
    border-left: 1px solid #cccccc;
    display: inline-block;
    height: 177px;
    width: 300px;
    position: relative;
}
div.calendar_datepicker_wrapper .calendar_datepicker{
    margin-top: -10px;
}
div.calendar_top a.block_menu{
    top: -3px;
}
a.block_menu {
    display: block;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 7px;
    background-image: url("../images/ico/controls/menu.png");
    background-repeat: no-repeat;
    background-position: 0px -20px;
}
a.block_menu:hover{
    background-position: 0px -40px;
}
div.calendar_header{
    height: 50px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
div.calendar_header div.title{
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
div.calendar_header ul.calendar_nav{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 13px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
div.calendar_header ul.calendar_nav li{
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
div.calendar_header ul.calendar_nav li:first-child{
    margin-left: 0px;
}
div.calendar_header ul.calendar_nav li a{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
}
div.calendar_header ul.calendar_nav li a.prev{
    background-image: url("../images/ico/controls/prev.png");
}
div.calendar_header ul.calendar_nav li a.next{
    background-image: url("../images/ico/controls/next.png");
}
div.calendar_header ul.calendar_nav li a:hover{
    background-position: 0px -50px;
}
div.calendar_header ul.calendar_nav li a.disabled{
    background-position: 0px 0px;
}
div.calendar_header .ui-buttonset label.ui-button-text-only{
    font-size: 12px;
    float: left;
    margin: 0px;
    background: none;
    margin-left: -1px;
    border: 1px solid #ccc;
}
div.calendar_header .ui-buttonset label.ui-button-text-only:first-child{
    margin-left: 0px;
}
div.calendar_header .ui-buttonset label.ui-button-text-only.ui-state-hover{
    background-color: #ebebeb;
}
div.calendar_header .ui-buttonset label.ui-button-text-only.ui-state-active{
    background-color: #ebebeb;
}
div.calendar_header .ui-buttonset label.ui-button-text-only.ui-state-active .ui-button-text{
    color: #2f8a73;
    background-color: #ebebeb;
}
div.calendar_header .ui-buttonset label.ui-button-text-only .ui-button-text{
    color: #808080;
}
div.calendar_header form.calendar_show_by{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
}
.calendar_body div.calendar table.calendar{
    width: 100%;
}
.calendar_body div.calendar table.calendar tr th{
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #808080;
    width: 195px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0px;
    border-top: none;
}
.calendar_body div.calendar table.calendar tr th:first-child{
    width: 50px;
}
.calendar_body div.calendar table.calendar tr td:first-child{
    width: 50px;
    font-size: 12px;
    color: #808080;
    text-align: center;
    background-color: #fff!important;
}
.calendar_body div.calendar table.calendar tr:nth-child(2) td{
    height: 19px;
    line-height: 19px;
    background-color: #fafafa;
}
.calendar_body div.calendar table.calendar tr td{
    width: 195px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0px;
    vertical-align: top;
}
.calendar_body div.calendar table.calendar tr td:first-child .hour{
    font-size: 12px;
    color: #808080;
    line-height: 40px;
    border-top: 1px solid #cccccc;
    padding-top: 0px;
    position: relative;
}
.calendar_body div.calendar table.calendar tr td:first-child .hour .current_time{
    display: block;
    border: 5px solid transparent;
    border-left: 5px solid #ff2121;
    position: absolute;
    left: -1px;
}
.calendar_body div.calendar table.calendar tr td:first-child .hour:first-child{
    border-top: none;
}
.calendar_body div.calendar table.calendar .hour{
    height: 40px;
    padding-top: 1px;
    position: relative;
}
.calendar_body div.calendar table.calendar tr td .grid .hour:first-child{
    padding-top: 0px;
}
.calendar_body div.calendar table.calendar tr td .grid .hour .current_time{
    display: block;
    height: 3px;
    background-color: #ff2121;
    position: absolute;
    /*left: -1px;*/
    width: 100%;
    z-index: 100;
}
.calendar_body div.calendar table.calendar tr td .grid{
    position: relative;
    background: url("../images/grid_bg.png") 0px 0px repeat;
}
.calendar_body div.calendar table.calendar .today{
    background-color: #f5f5f5!important;
}
.calendar_body div.calendar table.calendar .today .grid{
    background: url("../images/grid_bg_today.png") 0px 0px repeat;
}
.calendar_body div.calendar .tasks .task_wrapper{
    width: 95%;
}
.calendar_body div.calendar .tasks .task_wrapper .task{
    height: 100%;
    margin: 0px;
    padding-left: 25px;
}
.calendar_body div.calendar .tasks .task_wrapper .task div.task_date{
    margin-top: 2px;
}
.calendar_body div.calendar .tasks .task_wrapper.overtask{
    height: 20px;
    border: 1px solid #fff;
    width: 70%;
    position: absolute;
    right: 0px;
}
.calendar_body div.calendar .tasks .task_wrapper.overtask .task{
    padding-top: 0px;
    padding-bottom: 0px;
}
.calendar_body div.calendar .tasks .task_wrapper.overtask .task .checkbox.trong{
    top: 3px;
}
/*POPUP CALENDAR END*/

/*POPUP PROFILE*/
div.popup.profile{
    position: absolute;
    left: 50%;
    margin-left: -350px;
    width: 700px;
}
div.popup.profile .avatar {
    text-align: center;
    width: 96px;
    height: 96px;
    background: url("../images/ava/male.png") center top no-repeat;
    margin: 0px auto;
    margin-top: 15px;
    position: relative;
}
div.popup.profile .avatar > div{
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
div.popup.profile .avatar img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid #fff;
}
div.popup.changepwd{
    width: 300px;
    left: 50%;
    top: 105px;
}
div.popup .row_separator{
    height: 1px;
    border-bottom: 1px dotted #ccc;
}
div.popup .add-contact{
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*POPUP CALENDAR END*/

/*TWO COLUMS*/
.two_colums{
    display: table-row;
    width: 100%;
    height: 100%;
}
.two_colums .column{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}
.two_colums .column:first-child{
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
.two_colums .column.column_separator{
    cursor: e-resize;
    width: 10px!important;
    amx-width: 10px!important;
    padding: 5px!important;
    background: url("../images/ico/resizable-e.png") center no-repeat;
    background-color: #55595e;
}

.ps-container>.ps-scrollbar-x-rail,
.ps-container>.ps-scrollbar-y-rail{
    opacity: 0.6;
    -ms-filter: "alpha(Opacity=60)";
    filter: alpha(opacity=60);
    z-index: 1;
}

span.search-result {
    color: #ffffff;
    background-color: #ff0000;
}

/*FULLCALENDAR*/
.fc-time-grid-container{
    /*position: relative;*/
    /*overflow: hidden;*/
}
.calendar .fc-slats td{
    height: 20px;
}
.calen
.calendar .fc-ltr .fc-axis{
    text-align: center;
    font-size: 12px;
    color: #808080;
}
.calendar .fc-agenda-view .fc-day-grid .fc-row {
    min-height: 40px;
}
.calendar .fc-ltr .fc-axis span{
    text-transform: capitalize;
}
.calendar .fc-slats{

}
.calendar .fc-time-grid > .fc-bg{
    background: url("../images/grid_bg2.png") 0px 0px repeat;
}
.calendar .fc-slats tr.fc-minor td:first-child{
    border-top: none;
}
.calendar .fc-axis{
    background-color: #fff;
    font-size: 12px;
    color: #808080;
    text-align: center;
}
.calendar .fc-slats .fc-axis.fc-time span{
    position: relative;
    top: 11px;
}
.calendar .fc-ltr .fc-basic-view .fc-day-number {
    text-align: right;
    color: #808080;
    font-size: 12px;
}
.calendar .fc-toolbar{
    margin-bottom: 0px!important;
    height: 50px;
    padding: 12px 20px 0px 20px;
}
.calendar .fc-toolbar .fc-center h2{
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
.calendar .fc-toolbar .fc-left{

}
.calendar .fc-toolbar .fc-left .fc-button-group{

}
.calendar .fc-toolbar .fc-left .fc-button-group button{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background: none;
    border: none;
    border-radius: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    box-shadow: none;
}
.calendar .fc-toolbar .fc-left .fc-button-group button.fc-prev-button{
    background-image: url("../images/ico/controls/prev.png");
}
.calendar .fc-toolbar .fc-left .fc-button-group button.fc-next-button{
    background-image: url("../images/ico/controls/next.png");
}
.calendar .fc-toolbar .fc-left .fc-button-group button:hover{
    background-position: 0px -50px;
}
.calendar .fc-toolbar .fc-left .fc-button-group button:active{
    margin-top: 0px;
    top: 0px;
    box-shadow: none;
}
.calendar .fc-toolbar .fc-right button{
    margin: 0px;
    padding: 7px 12px;
    color: #808080;
    font-size: 12px;
    line-height: 12px;
    float: left;
    background: none;
    margin-left: -1px;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    height: auto;
}
.calendar .fc-toolbar .fc-right button:hover{
    background-color: #ebebeb;
}
.calendar .fc-toolbar .fc-right button:active{
    margin-top: 0px;
    top: 0px;
    box-shadow: none;
}
.calendar .fc-toolbar .fc-right button:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.calendar .fc-toolbar .fc-right button:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.calendar .fc-toolbar .fc-right button.fc-state-active{
    color: #2f8a73;
    background-color: #ebebeb;
}
.calendar .fc th{
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #808080;
    /*width: 195px;*/
    border: 1px solid #cccccc;
    border-collapse: collapse;
    border-spacing: 0px;
    border-top: none;
    font-weight: normal;
    text-transform: capitalize;
}
.fc-agenda-view .fc-day-grid .fc-row {
    min-height: 1.5em;
}
.calendar .fc-unthemed .fc-today{
    background-color: #f5f5f5!important;
}
.calendar .timeline {
    position: absolute;
    border: none!important;
    background-color: red!important;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 1px!important;
    margin-top: -1px!important;
    z-index: 3;
}
.calendar .timeline-marker {
    display: block;
    position: absolute;
    left: 0px;
    border: 5px solid transparent;
    border-left: 5px solid #ff2121;
    z-index: 3;
    margin-top: -5px;
}
.fc-time-grid-event.fc-event .fc-content{
    padding-left: 17px;
    position: relative;
}
.fc-time-grid-event.fc-event .fc-title{
    line-height: 16px;
}
.fc-event button.task-done{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 15px;
    height: 15px;
    border-radius: 0px;
    background: url("../images/ico/status/checkbox_status.png") 0px 0px no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
}
.fc-event.done button.task-done{
    background-position: 0px -15px;
}
.fc-event a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.fc-event .fc-title{
    color: #333333;
}
.fc-event .fc-time{
    color: #000;
    opacity: 0.6;
    padding-left: 14px;
    background-image: url("../images/ico/status/calendar.png");
    background-position: 0px -14px;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.fc-event.fc-day-grid-event .fc-time{
    padding-left: 0px;
    background: none;
}
.fc-event.fc-short .fc-time{
    background: none;
    margin-top: 3px;
    padding-left: 3px;
    font-size: 9px;
}
.fc-event.done .fc-title{
    opacity: 0.6;
    text-decoration: line-through;
}
.fc-event.done .fc-time{
    text-decoration: line-through;
}
.fc-day-grid-container .fc-day-grid{
    border-bottom: 1px solid #cecece;
}

/*datepicker*/
.ui-datepicker-header{
    position: relative;
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
}
.ui-datepicker-title{
    line-height: 25px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}
.ui-datepicker-prev{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background: none;
    border: none;
    border-radius: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: none;
    background-image: url("../images/ico/controls/prev.png");

    position: absolute;
    left: 5px;
    top: 0px;
}
.ui-datepicker-next{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0px;
    background: none;
    border: none;
    border-radius: 0px;
    background-position: 0px -25px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: none;
    background-image: url("../images/ico/controls/next.png");

    position: absolute;
    left: 35px;
    top: 0px;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover{
    background-position: 0px -50px;
}
.ui-datepicker-calendar{

}
.ui-datepicker-calendar tr th{
    font-size: 12px;
    text-align: right;
    padding: 2px 5px;
    font-weight: normal;
    color: #000;
    opacity: 0.9;
}
.ui-datepicker-calendar tr td{
    font-size: 12px;
    text-align: right;
    padding: 1px 1px;
}
.ui-datepicker-calendar tr td a{
    display: block;
    padding: 0px 11px;
    text-decoration: none;
    color: #000;
    opacity: 0.8;
    border: 1px solid transparent;
}
.ui-datepicker-calendar tr td a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.ui-datepicker-calendar tr td.highlight a{
    background-color: #ebebeb;
}
.ui-datepicker-calendar .ui-datepicker-current-day a{
    background-color: #fdbebe!important;
    border: 1px solid #cc8484;
}
.ui-datepicker-calendar .ui-datepicker-other-month a{
    opacity: 0.3;
}
/*datepicker end*/
/*FULLCALENDAR END*/

/*TRASH POPUP*/
div.popup.notifications#trash{
    width: 378px;
}
#trash div.tasks{
    padding: 0px 15px 0px 15px;
}
#trash div.tasks div.task{
    padding: 6px 100px 9px 7px;
}
#trash div.tasks div.task button.restore{
    position: absolute;
    right: 5px;
    padding: 0px 7px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#trash div.tasks div.task button.restore:active{
    top: 7px;
}
/*TRASH POPUP END*/